:root {
  --cocoon-twitter-color: #000000;
  --cocoon-facebook-color: #2c6ebd;
  --cocoon-google-plus-color: #dd4b39;
  --cocoon-pocket-color: #ef4056;
  --cocoon-line-color: #00c300;
  --cocoon-linkedin-color: #0077b5;
  --cocoon-website-color: #002561;
  --cocoon-instagram-color: #405de6;
  --cocoon-pinterest-color: #bd081c;
  --cocoon-youtube-color: #cd201f;
  --cocoon-tiktok-color: #000000;
  --cocoon-note-color: #41c9b4;
  --cocoon-soundcloud-color: #ff8800;
  --cocoon-flickr-color: #111;
  --cocoon-amazon-color: #ff9900;
  --cocoon-twitch-color: #6441a4;
  --cocoon-rakuten-color: #bf0000;
  --cocoon-rakuten-room-color: #c61e79;
  --cocoon-slack-color: #e01563;
  --cocoon-github-color: #4078c0;
  --cocoon-codepen-color: #333;
  --cocoon-feedly-color: #2bb24c;
  --cocoon-rss-color: #f26522;
  --cocoon-red-color: #e60033;
  --cocoon-pink-color: #e95295;
  --cocoon-purple-color: #884898;
  --cocoon-deep-color: #55295b;
  --cocoon-indigo-color: #1e50a2;
  --cocoon-blue-color: #0095d9;
  --cocoon-light-blue-color: #2ca9e1;
  --cocoon-cyan-color: #00a3af;
  --cocoon-teal-color: #007b43;
  --cocoon-green-color: #3eb370;
  --cocoon-light-green-color: #8bc34a;
  --cocoon-lime-color: #c3d825;
  --cocoon-yellow-color: #ffd900;
  --cocoon-amber-color: #ffc107;
  --cocoon-orange-color: #f39800;
  --cocoon-deep-orange-color: #ea5506;
  --cocoon-brown-color: #954e2a;
  --cocoon-grey-color: #949495;
  --cocoon-blue-gray-color: #607d8b;
  --cocoon-black-color: #333333;
  --cocoon-white-color: #ffffff;
  --cocoon-watery-blue-color: #f3fafe;
  --cocoon-watery-yellow-color: #fff7cc;
  --cocoon-watery-red-color: #fdf2f2;
  --cocoon-watery-green-color: #ebf8f4;
  --cocoon-custom-background-color: inherit;
  --cocoon-custom-text-color: inherit;
  --cocoon-custom-border-color: #ccc;
  --cocoon-default-font: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  --cocoon-text-color: #333;
  --cocoon-pallid-text-color: #777;
  --cocoon-x-pallid-text-color: #999;
  --cocoon-default-text-size: 18px;
  --cocoon-text-size-s: 0.8em;
  --cocoon-basic-border-color: #ccc;
  --cocoon-three-d-border-colors: #e3e3e3 #cecece #b4b4b4 #d6d6d6;
  --cocoon-middle-thickness-color: #888;
  --cocoon-thin-color: #ddd;
  --cocoon-x-thin-color: #eee;
  --cocoon-xx-thin-color: #f5f6f7;
  --cocoon-xxx-thin-color: #fafbfc;
  --cocoon-current-background-color: #eee;
  --cocoon-select-background-color: #d8eaf2;
  --cocoon-basic-border-radius: 4px;
  --cocoon-badge-border-radius: 2px;
  --cocoon-middle-border-radius: 8px;
  --cocoon-box-padding: 1em 1.5em;
  --cocoon-list-box-padding: 1.6em 2em 1.6em 3em;
  --cocoon-box-border-color: #47585c;
  --cocoon-sns-color: var(--cocoon-text-color);
}

.faw::before {
  font-family: FontAwesome;
  padding-right: 4px;
}

.article dd {
  margin-left: 40px;
}
.article ul li,
.article ol li {
  margin: 0.2em;
}
.article .wp-block-gallery ul {
  padding-left: 0;
}
.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  line-height: 1.25;
  font-weight: bold;
}
.article h4,
.article h5,
.article h6 {
  font-size: 20px;
  padding: 9px 10px;
}
.article h2 {
  font-size: 24px;
  padding: 25px;
  background-color: var(--cocoon-xx-thin-color);
  border-radius: var(--cocoon-badge-border-radius);
}
.article h3 {
  border-left: 7px solid var(--cocoon-middle-thickness-color);
  border-right: 1px solid var(--cocoon-thin-color);
  border-top: 1px solid var(--cocoon-thin-color);
  border-bottom: 1px solid var(--cocoon-thin-color);
  font-size: 22px;
  padding: 12px 20px;
}
.article h4 {
  border-top: 2px solid var(--cocoon-thin-color);
  border-bottom: 2px solid var(--cocoon-thin-color);
}
.article h5 {
  border-bottom: 2px solid var(--cocoon-thin-color);
}
.article h6 {
  border-bottom: 1px solid var(--cocoon-thin-color);
}
.article .column-wrap h1, .article .column-wrap h2, .article .column-wrap h3, .article .column-wrap h4, .article .column-wrap h5, .article .column-wrap h6 {
  margin-top: 0;
}

[class*="fab-"]::before {
  font-family: FontAwesome;
}

.fab-info-circle::before {
  content: '\f05a';
}

.fab-question-circle::before {
  content: '\f059';
}

.fab-exclamation-circle::before {
  content: '\f06a';
}

.fab-pencil::before {
  content: '\f040';
}

.fab-edit::before {
  content: '\f044';
}

.fab-comment::before {
  content: '\f075';
}

.fab-ok::before {
  content: '\f10c';
}

.fab-bad::before {
  content: '\f00d';
}

.fab-lightbulb::before {
  content: '\f0eb';
}

.fab-graduation-cap::before {
  content: '\f19d';
}

.fab-book::before {
  content: '\f02d';
}

.fab-amazon::before {
  content: '\f270';
}

.fab-envelope::before {
  content: '\f0e0';
}

.fab-flag::before {
  content: '\f024';
}

.fab-ban::before {
  content: '\f05e';
}

.fab-bolt::before {
  content: '\f0e7';
}

.fab-calendar::before {
  content: '\f073';
}

.fab-clock::before {
  content: '\f017';
}

.fab-cutlery::before {
  content: '\f0f5';
}

.fab-heart::before,
.list-heart li::before {
  content: '\f004';
}

.fab-camera::before {
  content: '\f030';
}

.fab-search::before {
  content: '\f002';
}

.fab-folder::before {
  content: '\f07b';
}

.fab-tag::before {
  content: '\f02b';
}

.fab-trophy::before {
  content: '\f091';
}

.fab-car::before {
  content: '\f1b9';
}

.fab-truck::before {
  content: '\f0d1';
}

.fab-bicycle::before {
  content: '\f206';
}

.fab-motorcycle::before {
  content: '\f21c';
}

.fab-bus::before {
  content: '\f207';
}

.fab-plane::before {
  content: '\f072';
}

.fab-train::before {
  content: '\f238';
}

.fab-subway::before {
  content: '\f239';
}

.fab-taxi::before {
  content: '\f1ba';
}

.fab-file-text::before {
  content: '\f15c';
}

.fab-jpy::before {
  content: '\f157';
}

.fab-usd::before {
  content: '\f155';
}

.fab-eur::before {
  content: '\f153';
}

.fab-btc::before {
  content: '\f15a';
}

.fab-apple::before {
  content: '\f179';
}

.fab-android::before {
  content: '\f17b';
}

.fab-ship::before {
  content: '\f21a';
}

.fab-wordpress::before {
  content: '\f19a';
}

.fab-thumbs-up::before {
  content: '\f164';
}

.fab-thumbs-down::before {
  content: '\f165';
}

.fab-check::before,
.list-check li::before {
  content: '\f00c';
}

.fab-bell::before {
  content: '\f0f3';
}

.fab-star::before,
.list-star li::before {
  content: '\f005';
}

.fab-bookmark::before {
  content: '\f02e';
}

.fab-download::before {
  content: '\f019';
}

.fab-coffee::before {
  content: '\f0f4';
}

.fab-user::before {
  content: '\f007';
}

.fab-check-circle::before,
.list-check-circle li::before {
  content: '\f058';
}

.fab-check-circle-o::before,
.list-check-circle-o li::before {
  content: '\f05d';
}

.fab-check-square::before,
.list-check-square li::before {
  content: '\f14a';
}

.fab-check-square-o::before,
.list-check-square-o li::before {
  content: '\f046';
}

.fab-caret-right::before,
.list-caret-right li::before {
  content: '\f0da';
}

.fab-caret-square-o-right::before,
.list-caret-square-o-right li::before {
  content: '\f152';
}

.fab-arrow-right::before,
.list-arrow-right li::before {
  content: '\f061';
}

.fab-angle-right::before,
.list-angle-right li::before {
  content: '\f105';
}

.fab-angle-double-right::before,
.list-angle-double-right li::before {
  content: '\f101';
}

.fab-arrow-circle-right::before,
.list-arrow-circle-right li::before {
  content: '\f0a9';
}

.fab-arrow-circle-o-right::before,
.list-arrow-circle-o-right li::before {
  content: '\f18e';
}

.fab-play-circle::before,
.list-play-circle li::before {
  content: '\f144';
}

.fab-play-circle-o::before,
.list-play-circle-o li::before {
  content: '\f01d';
}

.fab-chevron-right::before,
.list-chevron-right li::before {
  content: '\f054';
}

.fab-chevron-circle-right::before,
.list-chevron-circle-right li::before {
  content: '\f138';
}

.fab-hand-o-right::before,
.list-hand-o-right li::before {
  content: '\f0a4';
}

.fab-star-o::before,
.list-star-o li::before {
  content: '\f006';
}

.fab-heart-o::before,
.list-heart-o li::before {
  content: '\f08a';
}

.fab-square::before,
.list-square li::before {
  content: '\f0c8';
}

.fab-square-o::before,
.list-square-o li::before {
  content: '\f096';
}

.fab-circle::before,
.list-circle li::before {
  content: '\f111';
}

.fab-circle-o::before,
.list-circle-o li::before {
  content: '\f10c';
}

.fab-dot-circle-o::before,
.list-dot-circle-o li::before {
  content: '\f192';
}

.fab-plus::before,
.list-plus li::before {
  content: '\f067';
}

.fab-plus-circle::before,
.list-plus-circle li::before {
  content: '\f055';
}

.fab-plus-square::before,
.list-plus-square li::before {
  content: '\f0fe';
}

.fab-plus-square-o::before,
.list-plus-square-o li::before {
  content: '\f196';
}

.fab-minus::before,
.list-minus li::before {
  content: '\f068';
}

.fab-minus-circle::before,
.list-minus-circle li::before {
  content: '\f056';
}

.fab-minus-square::before,
.list-minus-square li::before {
  content: '\f146';
}

.fab-minus-square-o::before,
.list-minus-square-o li::before {
  content: '\f147';
}

.fab-times::before,
.list-times li::before {
  content: '\f00d';
}

.fab-times-circle::before,
.list-times-circle li::before {
  content: '\f057';
}

.fab-times-circle-o::before,
.list-times-circle-o li::before {
  content: '\f05c';
}

.fab-window-close::before,
.list-window-close li::before {
  content: '\f2d3';
}

.fab-window-close-o::before,
.list-window-close-o li::before {
  content: '\f2d4';
}

.fab-paw::before,
.list-paw li::before {
  content: '\f1b0';
}

.media-modal-content .search-form {
  margin: 0 !important;
  display: block !important;
  max-width: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  border: none !important;
  padding: 0 !important;
}
