///////////////////////////////////////////
// AMP除外
///////////////////////////////////////////

/* 検索フォーム風スタイルのボタンを装飾 */
.search-form div.sbtn {
  transition: 0.3s; /* 変化をなめらかにする */
}
/* ボタンにカーソルを合わせた時のスタイル */
.search-form div.sbtn:hover {
  color: #333; /* 文字色 */
  background: #fff; /* 背景色 */
  border-color: #333; /* ボーダーの色 */
  cursor: pointer; /* カーソルをポインターに */
}

.ad-index-bottom {
  position: relative;
  z-index: -1;
}

/************************************
** Googleカスタム検索結果のページネーション
************************************/
.gsc-resultsbox-visible .gsc-results .gsc-cursor-box .gsc-cursor-current-page,
.gsc-resultsbox-visible .gsc-results .gsc-cursor-box .gsc-cursor-page {
  font-size: 15px;
  border-width: 1px;
  border-style: solid;
  padding: 2px 10px;
  display: inline-block;
  margin-bottom: 8px;
}

.gsc-resultsbox-visible .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  background-color: #1A73E8;
  color: var(--cocoon-white-color);
}

.gsc-resultsbox-visible .gsc-results .gsc-cursor-box .gsc-cursor-page {
  border-color: var(--cocoon-basic-border-color);
}

// Lazy Load誤動作の対応
// https://is.gd/tr1FDP
.lozad {
  min-height: 1px;
  min-width: 1px;
}


//固定ヘッダー
.header-container.fixed-header{
   z-index: 3;
}


.fixed-header{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  .header .header-in{
    min-height: auto;
  }
  .has-sub,
  .navi-in .sub-menu{
    display: none;
  }

  .site-logo-image{
    height: auto;
    width: auto;
  }
}


//クリック動作しない
.click-prevention{
  pointer-events: none;
}

//IE・Edgeでbackground-clip: padding-box;除外
_:-ms-lang(x), .mc-circle {
  background-clip: border-box;
}

.blogcard,
.ecb-entry-border .entry-card-wrap,
.page-numbers,
.pagination-next-link,
.index-tab-buttons .index-tab-button,
.border-square .a-wrap,
.author-box {
  border-color: var(--cocoon-three-d-border-colors);
  border-width: 1px;
  border-style: solid;
}
