/************************************
** プロフィールボックス
************************************/
.author-box{
  border-radius: var(--cocoon-basic-border-radius);
  line-height: 1.4;
  position: relative;
  @include card_padding;

  p{
    margin-top: 0.3em;
    line-height: 1.3;
  }

  .sns-follow{
    margin: 0;
  }

  .sns-follow-message{
    display: none;
  }
  .sns-follow-buttons{
    margin-bottom: 0;
    justify-content: initial;
    // flex-wrap: wrap;
    // justify-content: flex-start;
    a.follow-button{
      font-size: 18px;
      width: 26px;
      height: 26px;
      // margin-bottom: 4px;
      // margin-right: 4px;
      background-color: transparent;
      color: var(--cocoon-x-pallid-text-color);
      border: 1px solid var(--cocoon-basic-border-color);
      border-radius: 2px;
      &:hover{
        // background-color: var(--cocoon-xxx-thin-color);
        opacity: 0.6;
      }

      .follow-count{
        display: none;
      }
    }
  }

  .author-name{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.4em;
  }
}

.author-thumb{
  float: left;
  margin-top: $emtry_card_thumb_margin_top;
  width: 120px;
}

.author-content{
  margin-left: 130px;
}

.author-description{
  margin-bottom: 1em;
}

.nwa{
  .author-box{
    text-align: center;
    //max-width: 336px;
    padding: 20px;
    .author-thumb{
      float: none;
      width: 100px;
      margin: 9px auto 0;
    }
    .author-content{
      margin: 0;
      padding: 1em;
    }

    .author-description{
      text-align: left;
    }

  }
}
