/*bbPressのスタイルを整える*/
.bbp-breadcrumb-home,
.bbp-breadcrumb-home+.bbp-breadcrumb-sep,
.topic .post-date,
.topic .post-update,
.topic .footer-post-meta,
.post-0 .post-date,
.post-0 .post-update,
.post-0 .footer-post-meta,
.forum .post-date,
.forum .post-update,
.forum .footer-post-meta{
    display: none;
}

#bbp_search{
    font-size: 17px;
    height: 28px;
}

.post-0 .post-meta{
    height: 27px;
}

.bbp-reply-content{
    font-size: 16px;
    line-height: 170%;
}

.bbp-forum-title{
    font-size: 16px;
}

.bbp-topic-permalink{
    font-size: 14px;
}

div#bbpress-forums{
  font-size: 16px;

  //a,
  .bbp-topic-permalink{
    font-size: 16px;
  }
}

div#bbpress-forums{

  // .bbp-the-content-wrapper{
  //   border-bottom: 2px solid var(--cocoon-basic-border-color) !important;
  // }

  #bbp-user-wrapper{
    margin-top: 1.6em;
  }

  .entry-title{
    background-color: transparent;
    color: #333;
    padding-left: 0;
    //padding: 0.6em !important;
  }

  #bbp_topic_submit{
    padding: 12px 24px;
  }

  input[type=text]{
    width: 100%;
  }

  div.odd,
  ul.odd{
    background-color: #fefefe;
  }

  span.bbp-admin-links a,
  .status-closed,
  .status-closed a {
      color: #555;
  }

  a.bbp-topic-permalink {
    text-decoration:none;
  }

  a.bbp-topic-permalink:before {
    content: " \f096";
    font-family: FontAwesome;
    margin-right:3px;
  }

  .status-closed a.bbp-topic-permalink:before {
    content: " \f046";
    font-family: FontAwesome;
  }

  .status-closed .bbp-reply-content:before{
    content: " \f046\00A0 Closed";
    font-family: FontAwesome,"Lucida Grande","Hiragino Kaku Gothic ProN",Meiryo,sans-serif;
  }
}

#bbp_search_submit {
  padding: 4px;
  width: auto;
}