.is-style-border-solid {
  padding: 1em 1.5em;
  border: solid 2px #000;
}

.is-style-border-double {
  padding: 1em 1.5em;
  border: double 4px #000;
}

.is-style-border-dashed {
  padding: 1em 1.5em;
  border: dashed 2px #000;
}

.is-style-border-dotted {
  padding: 1em 1.5em;
  border: dotted 4px #000;
}