.box-menus{
  display: flex;
  flex-wrap: wrap;
  *{
    line-height: 1.6;
    margin: 0;
  }
}

.box-menu{
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  text-align: center;
  min-height: 100px;
  cursor: pointer;
  background:#fff;
  width: 25%;
  color: var(--cocoon-x-pallid-text-color);
  box-shadow: inset 1px 1px 0 0 #e0ddd1, 1px 1px 0 0 #e0ddd1, 1px 0 0 0 #e0ddd1;
  transition: none;

  &:hover{
    color: var(--cocoon-x-pallid-text-color);
    z-index:2;
  }
}

.box-menu-icon{
  font-size: 40px;
  //color: #f6a068;
  display: flex;
  justify-content: center;
  align-items: center;

  *{
    margin: 10px 0;
    max-width: 60px;
    max-height: 60px;
    height: auto;
    display: inline-block;
  }
  img{
    font-size: 16px;
    border: none;
    box-shadow: none;
    //filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.2));
  }
}

.box-menu-label{
  font-size: 14px;
  font-weight: 600;
}

.box-menu-description{
  font-size: 10px;
  opacity: 0.8;
}

.nwa{
  .box-menu{
    width: calc(100%/2);
  }
}

.wwa{
  .box-menu{
    width: 16.66%;//Edge対策：calc(100%/6);
  }
}
