// ストライプ
.is-style-p-style-01 {
  padding: 1em 1.5em;
  background-image: repeating-linear-gradient(-45deg,#f2f3f7 0, #f2f3f7 3px,transparent 3px,transparent 6px);
}

// 方眼
.is-style-p-style-02 {
  padding: 1em 1.5em;
  background-image: linear-gradient(0deg, transparent 19px, #eae5e3 20px),linear-gradient(90deg,  transparent 19px, #eae5e3 20px);
background-size: 20px 20px;
}