:root{
  //ブランドカラーまとめ
  --twitter-color: #1da1f2;
  --facebook-color: #3b5998;
  --hatebu-color: #2c6ebd;
  --google-plus-color: #dd4b39;
  --pocket-color: #ef4056;
  --line-color: #00c300;
  --linkedin-color: #0077b5;
  --website-color: #002561;
  --instagram-color: #405de6;
  --pinterest-color: #bd081c;
  --youtube-color: #cd201f;
  --tiktok-color: #000000;
  --note-color: #41c9b4;
  --soundcloud-color: #ff8800;
  --flickr-color: #111;
  --amazon-color: #ff9900;
  --twitch-color: #6441a4;
  --rakuten-color: #bf0000;
  --rakuten-room-color: #c61e79;
  --slack-color: #e01563;
  --github-color: #4078c0;
  --codepen-color: #333;
  --feedly-color: #2bb24c;
  --rss-color: #f26522;

  //汎用色
  //以下の色を変更したらブロックエディターの設定の変更する
  --red-color: #e60033;
  --pink-color: #e95295;
  --purple-color: #884898;
  --deep-color: #55295b;
  --indigo-color: #1e50a2;
  --blue-color: #0095d9;
  --light-blue-color: #2ca9e1;
  --cyan-color: #00a3af;
  --teal-color: #007b43;
  --green-color: #3eb370;
  --light-green-color: #8bc34a;
  --lime-color: #c3d825;
  --yellow-color: #ffd900;
  --amber-color: #ffc107;
  --orange-color: #f39800;
  --deep-orange-color: #ea5506;
  --brown-color: #954e2a;
  --grey-color: #949495;
  --blue-gray-color: #607d8b;
  --black-color: #333333;
  --white-color: #ffffff;
  --watery-blue-color: #f3fafe;
  --watery-yellow-color: #fff7cc;
  --watery-red-color: #fdf2f2;
  --watery-green-color: #ebf8f4;
}