/************************************
** トップへ戻るボタン
************************************/
.go-to-top {
  position: fixed;
  display: block;
  right: 10px;
  bottom: 10px;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
}

.go-to-top-visible .go-to-top {
  visibility: visible;
  opacity: 1;
}

.go-to-top-button{
  border-width: 0;
  background-color: #eee;
  color: #333;
  //padding: 7px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  border-radius: 5px;
  font-size: 22px;
  &:hover{
    color: #333;
  }
}

.go-to-top-button-image{
  background-color: transparent;
  padding: 0;
}