/************************************
** clingify
************************************/
.js-clingify-ztransform, .js-clingify-wrapper {
  // -webkit-transform: translateZ(0);
  // -moz-transform: translateZ(0);
  // -ms-transform: translateZ(0);
  // -o-transform: translateZ(0);
  // transform: translateZ(0);
  z-index: 99999;
}

.js-clingify-wrapper {
  width: 100%;
}

.sidebar{
  .js-clingify-wrapper {
    width: $sidebar_inner_width;
    z-index: 9999;
  }
}

.main{
  .js-clingify-wrapper {
    width: $main_inner_width;
    z-index: 9999;
  }
}

.js-clingify-locked {
  left: 0;
  position: fixed;
  top: 0;
}

.main,
.sidebar{
  .js-clingify-locked {
    left: auto;
  }
}

// .js-clingify-locked {
//   .navi{
//     background-color: var(--cocoon-white-color);
//   }
// }
