/************************************
** Call to Action
************************************/
.cta-box{
  background-color: #444;
  color: #fff;
  padding: 20px;
}

.cta-heading{
  font-size: 26px;
  padding: 12px;
  margin-bottom: 0.2em;
  font-weight: bold;
}

.cta-content{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cta-left-and-right,
.cta-right-and-left {
  .cta-content{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    div{
      width: 100%;
    }

    .cta-message{

      p:first-child{
        margin-top: 0;
      }
    }
  }
}

.cta-right-and-left {
  .cta-content{
    flex-direction: row-reverse;
  }
}

.cta-thumb{
  text-align: center;
}

.cta-button{
  margin-top: 1em;
  --cocoon-custom-border-color: transparent;
}

///////////////////////////////////////
// サイドバー・フッター
///////////////////////////////////////
.nwa{
  @include cta_box_nallow;
  .cta-box{
    font-size: 0.8em;
  }
}
