//フォント
$default_font: "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$Meiryo_font: "Meiryo", sans-serif;

//テキスト色
$text_color: #333435;
$pallid_text_color: #777879;
$x_pallid_text_color: #999a9b;
$white_text_color: #fff;

//テキストサイズ
$text_size_default: 18px;
$text_size_s: 0.8em;
$text_size_xs: 0.6em;

//ボーダー色
$basic_border_color: #cccfd2;
$transparent_border_color: transparent;

//色
$middle_thickness: #777879;
$thin: #cccdce;
$x_thin: #dddedf;
$xx_thin: #f3f4f5;
$xxx_thin: #fafbfc;
$bg_white: #fff;
$current_bgc: #eeeff0;
$select_bgc: #d8eaf2;
$transpalent_black_bgc: rgba(51,51,51,0.7);

//要素の丸め
$basic_border_radius: 4px;
$badge_border_radius: 2px;

//メインカラム
$main_inner_width: 800px;
$main_border_width: 1px;
$main_border_style: solid ;
$main_border_color: $basic_border_color;
$main_padding_width: 29px;

//メインカラムとサイドバーの余白
$between_main_and_sidebar: 20px;

//サイドバー
$sidebar_inner_width: 336px;
$sidebar_border_width: 1px;
$sidebar_border_style: solid ;
$sidebar_border_color: $basic_border_color;
$sidebar_padding_width: 9px;

$main_outer_width: $main_inner_width + $main_border_width*2 + $main_padding_width*2;
$sidebar_outer_width: $sidebar_inner_width + $sidebar_border_width*2 + $sidebar_padding_width*2;

$site_width: $main_outer_width + $between_main_and_sidebar + $sidebar_outer_width;

//ウィジェットの最大幅
$widget_max_width: 400px;


$emtry_card_thumb_margin_top: 4px;

//背景ホバー
$bgc_hover_color: #f5f8fa;
$bgc_hover_anime: all 0.3s ease 0s;
@mixin bgc_hover($color: $bgc_hover_color) {
  background-color: $color;
  transition: $bgc_hover_anime;
  color: $text_color;
}

//Font Awesomeアイコンを出力するとき
@mixin fontawesome($unicode:'/f004') {
  font-family: FontAwesome;
  content: $unicode;
  padding-right: 3px;
}

//リンクキャンセル
@mixin link_cancel($color: $text_color) {
  color: $color;
  text-decoration: none;
}

//リストキャンセル
@mixin list_cancel {
  padding: 0;
  list-style: none;
}

%list_cancel {
  padding: 0;
  list-style: none;
}