//読み込みSCSSファイルまとめ

///////////////////////////////////////
// 通常ページ・AMPページ共通
///////////////////////////////////////
@import "amp-imports";

///////////////////////////////////////
// AMPページでは使用しないもの
///////////////////////////////////////
//通知
@import "notice";
//アピールエリア
@import "appeal";
//入力フォーム
@import "forms";
//カルーセル
@import "carousel";
//管理パネル
@import "admin-panel";
//Slick
@import "slick";
//SlickNav
@import "slicknav";
//bbPress
@import "bbpress";
//BuddyPress
@import "buddypress";
//wpForo
@import "wpForo";
//Windows Live Writer・Open Live Writer
@import "live-writer";
//外部ツール
@import "tools";
//YouTube
@import "youtube";
//Gutenberg
@import "gutenberg";

/* 検索フォーム風スタイルのボタンを装飾 */
.search-form div.sbtn {
	transition: 0.3s; /* 変化をなめらかにする */
}
/* ボタンにカーソルを合わせた時のスタイル */
.search-form div.sbtn:hover {
	color: #333; /* 文字色 */
	background: #fff; /* 背景色 */
	border-color: #333; /* ボーダーの色 */
	cursor: pointer; /* カーソルをポインターに */
}

///////////////////////////////////////
// メディアクエリ
///////////////////////////////////////
@import "breakpoints/breakpoints";

//印刷用
@media print{
  @import "print";
}

//優先度を高くしたい
.no-border{
  border: none;
}

.no-after::after{
  display: none;
}
