//読み込みSCSSファイルまとめ

///////////////////////////////////////
// 通常ページ・AMPページ共通
///////////////////////////////////////
@import "amp-imports";

///////////////////////////////////////
// AMPページでは使用しないもの
///////////////////////////////////////
//通知
@import "notice";
//アピールエリア
@import "appeal";
//入力フォーム
@import "forms";
//カルーセル
@import "carousel";
//管理パネル
@import "admin-panel";
//Slick
@import "slick";
//SlickNav
@import "slicknav";
//bbPress
@import "bbpress";
//BuddyPress
@import "buddypress";
//wpForo
@import "wpForo";
//Windows Live Writer・Open Live Writer
@import "live-writer";
//外部ツール
@import "tools";


// // //1240px以下
// // @media screen and (max-width: 1240px){
// //   @import "breakpoints/max-width-1240";
// // }

// //1030px以下
// @media screen and (max-width: 1030px){
//   @import "breakpoints/max-width-1030";
// }

// //768px以下
// @media screen and (max-width: 768px){
//   @import "breakpoints/max-width-768";
// }

// //480px以下
// @media screen and (max-width: 480px){
//   @import "breakpoints/max-width-480";
// }

///////////////////////////////////////
// メディアクエリ
///////////////////////////////////////
@import "breakpoints/breakpoints";


//印刷用
@media print{
  @import "print";
}