//インフォリストのCSS
.info-list{
  padding: 20px;

  &.is-style-frame-border{
    border: 1px solid var(--cocoon-basic-border-color);
    border-color: var(--cocoon-three-d-border-colors);
    border-radius: var(--cocoon-basic-border-radius);
  }
}

.info-list-caption{
  text-align: center;
}

.info-list-item{
  padding: 10px 0;
  font-size: 16px;
  line-height: 1.4;
}


.info-list-meta{
  line-height: 21px;
}

.is-style-divider-line{
  .info-list-item{
    border-bottom: 1px dashed var(--cocoon-basic-border-color);
    &:last-child{
      border-bottom-style: none;
    }
  }
}

.info-list-item-date{
  font-size: 12px;
  opacity: 0.6;
  margin-right: 8px;
}

.info-list-item-content-link{
  color: var(--cocoon-black-color);
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}