/************************************
** ソースコード
************************************/
pre {
  background-color: var(--cocoon-xx-thin-color);
  border: 1px solid var(--cocoon-thin-color);
  overflow: auto;
  padding: 10px;
  // margin-bottom: 1.2em;
}

.is-code-row-number-enable pre.hljs,
.is-code-row-number-enable pre.hljs *{
  line-height: 1.6 !important;
}

.is-code-row-number-enable pre.hljs,
.is-code-row-number-enable pre.hljs#highlight-demo {
  border: none;
  position: relative;
  padding: 0.4em 1em 0.4em 3em !important;
}

.is-code-row-number-enable pre.hljs::before {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
  width: 3em;
  box-sizing: border-box;
  color: #777;
  text-align: center;
  padding: 0.4em 0;
  //content: "1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9\A 10\A 11\A 12\A 13\A 14\A 15\A 16\A 17\A 18\A 19\A 20\A 21\A 22\A 23\A 24\A 25\A 26\A 27\A 28\A 29\A 30\A 31\A 32\A 33\A 34\A 35\A 36\A 37\A 38\A 39\A 40\A 41\A 42\A 43\A 44\A 45\A 46\A 47\A 48\A 49\A 50\A";
}


