///////////////////////////////////////
// SNSボタン共通
///////////////////////////////////////
.sns-buttons{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  row-gap: 10px;
  column-gap: 6px;
  margin-top: .3em;
  margin-bottom: 2em;


  a{
    align-content: center;
    align-items: center;
    background-color: var(--cocoon-sns-color);
    border-radius: var(--cocoon-basic-border-radius);
    display: inline-flex;
    font-size: 18px;//
    justify-content: center;
    height: 45px;
    // margin-bottom: 8px;
    position: relative;
    text-align: center;
    width: 32%;
    transition: $bgc_hover_anime;
    cursor: pointer;
    margin: 0 !important;//スキンやカスタマイズ対策
    @include link_cancel(var(--cocoon-white-color));

    &:hover{
      opacity: 0.7;
    }
  }
}
///////////////////////////////////////
// SNSシェアボタン
///////////////////////////////////////
.bc-brand-color-white{
  a{
    background-color: var(--cocoon-white-color);
    border: 1px solid var(--cocoon-sns-color);
    color: var(--cocoon-sns-color);
    font-weight: 500;

    &:hover{
      opacity: 0.5;
    }
  }
}

[class*="bc-brand-color"] .x-corp-button {
  --cocoon-sns-color: var(--cocoon-twitter-color);
}

[class*="bc-brand-color"] .mastodon-button {
  --cocoon-sns-color: var(--cocoon-mastodon-color);
}

[class*="bc-brand-color"] .bluesky-button {
  --cocoon-sns-color: var(--cocoon-bluesky-color);
}

[class*="bc-brand-color"] .misskey-button {
  --cocoon-sns-color: var(--cocoon-misskey-color);
}

[class*="bc-brand-color"] .facebook-button {
  --cocoon-sns-color: var(--cocoon-facebook-color);
}

[class*="bc-brand-color"] .hatebu-button {
  --cocoon-sns-color: var(--cocoon-hatebu-color);
}

[class*="bc-brand-color"] .google-plus-button {
  --cocoon-sns-color: var(--cocoon-google-plus-color);
}

[class*="bc-brand-color"] .pocket-button {
  --cocoon-sns-color: var(--cocoon-pocket-color);
}

[class*="bc-brand-color"] .line-button {
  --cocoon-sns-color: var(--cocoon-line-color);
}

[class*="bc-brand-color"] .website-button {
  --cocoon-sns-color: var(--cocoon-website-color);
}

[class*="bc-brand-color"] .instagram-button {
  --cocoon-sns-color: var(--cocoon-instagram-color);
}

[class*="bc-brand-color"] .pinterest-button {
  --cocoon-sns-color: var(--cocoon-pinterest-color);
}

[class*="bc-brand-color"] .youtube-button {
  --cocoon-sns-color: var(--cocoon-youtube-color);
}

[class*="bc-brand-color"] .tiktok-button {
  --cocoon-sns-color: var(--cocoon-tiktok-color);
}

[class*="bc-brand-color"] .linkedin-button {
  --cocoon-sns-color: var(--cocoon-linkedin-color);
}

[class*="bc-brand-color"] .note-button {
  --cocoon-sns-color: var(--cocoon-note-color);
}

[class*="bc-brand-color"] .soundcloud-button {
  --cocoon-sns-color: var(--cocoon-soundcloud-color);
}

[class*="bc-brand-color"] .flickr-button {
  --cocoon-sns-color: var(--cocoon-flickr-color);
}

[class*="bc-brand-color"] .amazon-button {
  --cocoon-sns-color: var(--cocoon-amazon-color);
}

[class*="bc-brand-color"] .twitch-button {
  --cocoon-sns-color: var(--cocoon-twitch-color);
}

[class*="bc-brand-color"] .rakuten-room-button {
  --cocoon-sns-color: var(--cocoon-rakuten-room-color);
}

[class*="bc-brand-color"] .slack-button {
  --cocoon-sns-color: var(--cocoon-slack-color);
}

[class*="bc-brand-color"] .github-button {
  --cocoon-sns-color: var(--cocoon-github-color);
}

[class*="bc-brand-color"] .codepen-button {
  --cocoon-sns-color: var(--cocoon-codepen-color);
}

[class*="bc-brand-color"] .feedly-button {
  --cocoon-sns-color: var(--cocoon-feedly-color);
}

[class*="bc-brand-color"] .rss-button {
  --cocoon-sns-color: var(--cocoon-rss-color);
}

[class*="bc-brand-color"] .copy-button {
  --cocoon-sns-color: var(--cocoon-copy-color);
}

[class*="bc-brand-color"] .comment-button {
  --cocoon-sns-color: var(--cocoon-comment-color);
}

.ss-top{
  margin-top: 0;
  margin-bottom: 0;

  .sns-share-message{
    display: none;
  }
}

.sns-share{
  //カラム数
  &.ss-col-1 a{
    width: 100%;
  }

  &.ss-col-2 {
    .sns-buttons{
      column-gap: 1%;
    }
    a{
      width: 49.5%;
    }
  }

  &.ss-col-3 {
    .sns-buttons{
      column-gap: calc(1.5%/2);
    }
    a{
      width: 32.5%;
    }
  }

  &.ss-col-4 {
    .sns-buttons{
      column-gap: calc(4%/3);
    }
    a{
      width: 24%;
    }
  }

  &.ss-col-5 {
    .sns-buttons{
      column-gap: calc(5%/4);
    }
    a{
      width: 19%;
    }
  }

  &.ss-col-6 {
    .sns-buttons{
      column-gap: calc(4%/5);
    }
    a{
      width: 16%;
    }
  }

  %high_and_low{
    display: flex;
    align-content: center;

    line-height: 16px;
    .social-icon,
    .button-caption{
      display: block;
      font-size: 16px;
      margin: 0;
    }
    .social-icon.button-caption {
      font-size: 12px;
    }
    .button-caption.button-caption {
      font-size: 12px;
    }
  }

  //ロゴ・キャプション配置
  &.ss-high-and-low-lc a{
    @extend %high_and_low;
    flex-direction: column;
    >span{
      padding-top: 3px;
    }
  }

  &.ss-high-and-low-cl a{
    @extend %high_and_low;
    flex-direction: column-reverse;
  }
}

.sns-share-message{
  @extend %sns_message;
}

$sns_button_margin_bottom: 8px;

.sns-share-buttons{
  // flex-wrap: wrap;
  // // justify-content: space-around;
  // align-content: center;
  // gap: 4px;

  // &::after {
  //   content: '';
  //   width: 100%;
  // }

  a{
    // width: 32%;
    // margin-bottom: $sns_button_margin_bottom;
    // font-size: 18px;
    // display: inline-flex;
    // align-content: center;
    // align-items: center;
    // justify-content: center;
    // position: relative;

    .button-caption{
      font-size: 16px;
      margin-left: 10px;
    }

    .share-count{
      @include service_count;
    }
  }
}

.share-menu-content .sns-share-buttons a{
  width: 24%;
}

//シェア数の非表示
.sbc-hide .share-count{
  display: none;
}

/* メッセージ */
.copy-info {
  @extend %copy_info;
}

//シェアボタンを1つも表示させてない場合は非表示にする
.article-header .sns-share:not(:has(.sns-button)),
.article-footer .sns-share:not(:has(.sns-button)) {
  display: none;
}