///////////////////////////////////////
// SNSボタン共通
///////////////////////////////////////
.sns-buttons{
  display: flex;
  align-items: center;

  a{
    display: block;
    background-color: $text_color;
    text-align: center;
    @include link_cancel($white);
    border-radius: $basic_border_radius;
    height: 45px;
    //line-height: 45px;

    &:hover{
      opacity: 0.7;
      color: $white;
      transition: $bgc_hover_anime;
    }
  }
}
///////////////////////////////////////
// SNSシェアボタン
///////////////////////////////////////
%sns_button_color{
  a{
    cursor: pointer;
  }
  //ボタンカラー
  &.bc-brand-color{
    .twitter-button{
      background-color: var(--twitter-color);
    }

    .facebook-button{
      background-color: var(--facebook-color);
    }

    .hatebu-button{
      background-color: var(--hatebu-color);
    }

    .google-plus-button{
      background-color: var(--google-plus-color);
    }

    .pocket-button{
      background-color: var(--pocket-color);
    }

    .line-button{
      background-color: var(--line-color);
    }

    .website-button{
      background-color: var(--website-color);
    }

    .instagram-button{
      background-color: var(--instagram-color);
    }

    .pinterest-button{
      background-color: var(--pinterest-color);
    }

    .youtube-button{
      background-color: var(--youtube-color);
    }

    .tiktok-button{
      background-color: var(--tiktok-color);
    }

    .linkedin-button{
      background-color: var(--linkedin-color);
    }

    .note-button{
      background-color: var(--note-color);
    }

    .soundcloud-button{
      background-color: var(--soundcloud-color);
    }

    .flickr-button{
      background-color: var(--flickr-color);
    }

    .amazon-button{
      background-color: var(--amazon-color);
    }

    .twitch-button{
      background-color: var(--twitch-color);
    }

    .rakuten-room-button{
      background-color: var(--rakuten-room-color);
    }

    .slack-button{
      background-color: var(--slack-color);
    }

    .github-button{
      background-color: var(--github-color);
    }

    .codepen-button{
      background-color: var(--codepen-color);
    }

    .feedly-button{
      background-color: var(--feedly-color);
    }

    .rss-button{
      background-color: var(--rss-color);
    }
  }

  &.bc-brand-color-white{
    a{
      background-color: $white;
      font-weight: 500;
      border: 1px solid $text_color;
      color: $text_color;
      &:hover{
        //background-color: $bgc_hover_color;
        //transition: $bgc_hover_anime;
        opacity: 0.5;
      }
    }

    .twitter-button{
      color: var(--twitter-color);
      border-color: var(--twitter-color);
    }

    .facebook-button{
      color: var(--facebook-color);
      border-color: var(--facebook-color);
    }

    .hatebu-button{
      color: var(--hatebu-color);
      border-color: var(--hatebu-color);
    }

    .google-plus-button{
      color: var(--google-plus-color);
      border-color: var(--google-plus-color);
    }

    .pocket-button{
      color: var(--pocket-color);
      border-color: var(--pocket-color);
    }

    .line-button{
      color: var(--line-color);
      border-color: var(--line-color);
    }

    .website-button{
      color: var(--website-color);
      border-color: var(--website-color);
    }

    .instagram-button{
      color: var(--instagram-color);
      border-color: var(--instagram-color);
    }

    .pinterest-button{
      color: var(--pinterest-color);
      border-color: var(--pinterest-color);
    }

    .youtube-button{
      color: var(--youtube-color);
      border-color: var(--youtube-color);
    }

    .tiktok-button{
      color: var(--tiktok-color);
      border-color: var(--tiktok-color);
    }

    .linkedin-button{
      color: var(--linkedin-color);
      border-color: var(--linkedin-color);
    }

    .note-button{
      color: var(--note-color);
      border-color: var(--note-color);
    }

    .soundcloud-button{
      color: var(--soundcloud-color);
      border-color: var(--soundcloud-color);
    }

    .soundcloud-button{
      color: var(--soundcloud-color);
      border-color: var(--soundcloud-color);
    }

    .flickr-button{
      color: var(--flickr-color);
      border-color: var(--flickr-color);
    }

    .amazon-button{
      color: var(--amazon-color);
      border-color: var(--amazon-color);
    }

    .twitch-button{
      color: var(--twitch-color);
      border-color: var(--twitch-color);
    }

    .rakuten-room-button{
      color: var(--rakuten-room-color);
      border-color: var(--rakuten-room-color);
    }

    .slack-button{
      color: var(--slack-color);
      border-color: var(--slack-color);
    }

    .github-button{
      color: var(--github-color);
      border-color: var(--github-color);
    }

    .codepen-button{
      color: var(--codepen-color);
      border-color: var(--codepen-color);
    }

    .feedly-button{
      color: var(--feedly-color);
      border-color: var(--feedly-color);
    }

    .rss-button{
      color: var(--rss-color);
      border-color: var(--rss-color);
    }

  }
}


.sns-share{
  @extend %margin_top_and_bottom_in_content;
}

.ss-top{
  margin-top: 0;
  margin-bottom: 0;

  .sns-share-message{
    display: none;
  }
}

.sns-share{
  //カラム数
  &.ss-col-1 a{
    width: 100%;
  }

  &.ss-col-2 a{
    width: 49%;
  }

  &.ss-col-3 a{

  }

  &.ss-col-4 a{
    width: 24%;
  }

  &.ss-col-5 a{
    width: 19%;
  }

  &.ss-col-6 a{
    width: 16%;
  }

  %high_and_low{
    display: flex;
    align-content: center;

    line-height: 16px;
    .social-icon,
    .button-caption{
      display: block;
      font-size: 16px;
      margin: 0;
      &.button-caption{
        font-size: 12px;
      }
    }
  }

  //ロゴ・キャプション配置
  &.ss-high-and-low-lc a{
    @extend %high_and_low;
    flex-direction: column;
    >span{
      padding-top: 3px;
    }
  }

  &.ss-high-and-low-cl a{
    @extend %high_and_low;
    flex-direction: column-reverse;
  }

  //ボタンカラー
  &{
    @extend %sns_button_color;
  }
}

.sns-share-message{
  @extend %sns_message;
}

$sns_button_margin_bottom: 8px;

.sns-share-buttons{
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;

  a{
    width: 32%;
    margin-bottom: $sns_button_margin_bottom;
    font-size: 18px;
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: relative;

    .button-caption{
      font-size: 16px;
      margin-left: 10px;
    }

    .share-count{
      @include service_count;
    }
  }
}

.share-menu-content .sns-share-buttons a{
  width: 24%;
}

//シェア数の非表示
.sbc-hide .share-count{
  display: none;
}

/* メッセージ */
.copy-info {
  display: none;
  /*初期状態は非表示*/padding: 1em 2em;
  color: #fff;
  border-radius: 8px;
  /*画面上部に表示*/position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $text_color;
  opacity: 0.8;
  box-shadow: 0 4px 8px $pallid_text_color;
  z-index: 2;
}
