///////////////////////////////////////
// 吹き出しスタイル
///////////////////////////////////////
.speech-wrap{
  --cocoon-custom-background-color: var(--cocoon-white-color);
  --cocoon-custom-text-color: var(--cocoon-text-color);
  --cocoon-custom-border-color: var(--cocoon-basic-border-color);
  display: flex;

}

.speech-person{
  //float: left;
  width: 12%;
  min-width: 12%;
}

.speech-icon img,
.speech-icon amp-img{
  border-radius: 50%;
  border: 2px solid var(--cocoon-basic-border-color);
  width: 100%;
}

.speech-name{
  text-align: center;
  font-size: 13px;
  &:empty{
    display: none;
  }
}

div.speech-balloon{
  height: 100%;
  position: relative;
  padding: 10px;
  background-color:var(--cocoon-custom-background-color);
  border-width: 2px;
  border-style: solid;
  border-color: var(--cocoon-custom-border-color);
  color: var(--cocoon-custom-text-color);
  border-radius: 6px;
  max-width: calc(100% - 14%);
  p{
    margin: 0;
  }
}

/* アイコンを左に表示 */
.speech-balloon::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -12px;
  top: 10px;
  border-right-width: 12px;
  border-right-style: solid;
  border-right-color: var(--cocoon-custom-border-color);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
.speech-balloon::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -9px;
  top: 10px;
  border-right-width: 12px;
  border-right-style: solid;
  border-right-color: var(--cocoon-custom-background-color);
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.sbp-l{
  // margin-right: 100px;
  &:not(.not-nested-style) .speech-balloon{
    margin-left: 20px;
  }
}

//画像位置
.sbp-r{
  flex-direction: row-reverse;
  // margin-left: 100px;
  &:not(.not-nested-style){
    .speech-balloon{
      margin-right: 20px;
      //margin-left: auto;
    }

    /* アイコンを右に表示 */
    .speech-balloon::before{
      right: -12px;
      left: auto;
      border-left-width: 12px;
      border-left-style: solid;
      border-left-color: var(--cocoon-custom-border-color);
      border-right: none;
    }
    .speech-balloon::after{
      right: -9px;
      left: auto;
      border-left-width: 12px;
      border-left-style: solid;
      border-left-color: var(--cocoon-custom-background-color);
      border-right: none;
    }
  }

}

///////////////////////////////////////
// アイコンスタイル
///////////////////////////////////////
.sbis-sn{
  &:not(.not-nested-style) .speech-icon-image{
    border-radius: 0;
    border-style: none;
    box-shadow: none;
  }
}

.sbis-sb{
  &:not(.not-nested-style) .speech-icon-image{
    border-radius: 0;
  }
}

.sbis-cn{
  &:not(.not-nested-style) .speech-icon-image{
    border-style: none;
    box-shadow: none;
  }
}

///////////////////////////////////////
// 吹き出しスタイル
///////////////////////////////////////
.sbs-flat{
  --cocoon-custom-background-color: #f1f1f1;
  --cocoon-custom-border-color: #f1f1f1;
  --cocoon-custom-text-color: var(--cocoon-text-color);
  &:not(.not-nested-style) .speech-balloon{
    background-color: var(--cocoon-custom-background-color);
    border-color: var(--cocoon-custom-border-color);
    color: var(--cocoon-custom-text-color);

    &::before{
      border-right-color: var(--cocoon-custom-border-color);
    }
    &::after{
      border-right-color: var(--cocoon-custom-background-color);
      // border-left-color: var(--cocoon-custom-background-color);
    }
  }
}

.sbs-line{
  --cocoon-custom-background-color: var(--cocoon-white-color);
  --cocoon-custom-border-color: var(--cocoon-basic-border-color);
  --cocoon-custom-text-color: var(--cocoon-text-color);
  &:not(.not-nested-style) .speech-balloon{
    border-width: 1px;
    background-color: var(--cocoon-custom-background-color);
    border-color: var(--cocoon-custom-border-color);
    color: var(--cocoon-custom-text-color);

    &::after{
      left: -10px;
    }
    &::before{
      border-right-color: var(--cocoon-custom-border-color);
    }
    &::after{
      border-right-color: var(--cocoon-custom-background-color);
    }
  }
}

.sbs-line.sbp-r{
  --cocoon-custom-background-color: #85e249;
  --cocoon-custom-border-color: #85e249;
  // --cocoon-custom-text-color: var(--cocoon-text-color);
  &:not(.not-nested-style) .speech-balloon{
    background-color: var(--cocoon-custom-background-color);
    border-color: var(--cocoon-custom-border-color);
    color: var(--cocoon-custom-text-color);

    &::after{
      left: auto;
      right: -10px;
    }
    &::before{
      border-left-color: var(--cocoon-custom-border-color);
    }
    &::after{
      border-left-color: var(--cocoon-custom-background-color);
    }
  }

}

///////////////////////////////////////
// 考える吹き出し
///////////////////////////////////////
div.sbs-think{
  // --cocoon-custom-background-color: transparent;
  &.sbp-l{
    // margin-right: 126px;
    &:not(.not-nested-style) .speech-balloon{
      margin-left: 46px;
    }
  }
  &:not(.not-nested-style) .speech-balloon{

    &::before {
      border-width: 2px;
      border-style: solid;
      border-color: var(--cocoon-custom-border-color);
      background-color: var(--cocoon-custom-background-color);
      border-radius: 50%;
      left: -29px;
      top: 11px;
      width: 20px;
      height: 20px;
    }

    &::after {
      border-width: 2px;
      border-style: solid;
      border-color: var(--cocoon-custom-border-color);
      background-color: var(--cocoon-custom-background-color);
      border-radius: 50%;
      left: -44px;
      top: 25px;
      width: 10px;
      height: 10px;
    }
  }
}
.sbs-think.sbp-r{
  // margin-left: 126px;
  &:not(.not-nested-style) .speech-balloon{
    margin-right: 46px;

    &::before {
      left: auto;
      right: -29px;
    }

    &::after {
      left: auto;
      right: -44px;
    }
  }
}

///////////////////////////////////////
// スタイル継承なし
///////////////////////////////////////
.cocoon-block-balloon.not-nested-style {
  // アイコンスタイル 四角(枠線なし)
  &.sbis-sn > .speech-person .speech-icon-image {
    border-radius: 0;
    border-style: none;
    box-shadow: none;
  }
  // アイコンスタイル 四角(枠線なし)
  &.sbis-sb > .speech-person .speech-icon-image {
    border-radius: 0;
  }
  // アイコンスタイル 丸(枠線なし)
  &.sbis-cn > .speech-person .speech-icon-image {
    border-style: none;
    box-shadow: none;
  }
  // 吹き出し 左配置
  &.sbp-l  > .speech-balloon {
    margin-left: 20px;
  }
  // 吹き出し 右配置
  &.sbp-r  > .speech-balloon {
    margin-right: 20px;
    &::before,
    &::after {
      left: auto;
      border-left-width: 12px;
      border-left-style: solid;
      border-right: none;
    }
    &::before {
      right: -12px;
      border-left-color: var(--cocoon-custom-border-color);
    }
    &::after {
      right: -9px;
      border-left-color: var(--cocoon-custom-background-color);
    }
  }
  // 吹き出し フラット
  &.sbs-flat > .speech-balloon {
    &::before {
      border-right-color: var(--cocoon-custom-border-color);
    }
    &::after {
      border-right-color: var(--cocoon-custom-background-color);
    }
  }
  // 吹き出し LINE風
  &.sbs-line{
    > .speech-balloon {
    border-width: 1px;
      &::before {
        border-right-color: var(--cocoon-custom-border-color);
      }
      &::after {
        left: -10px;
        border-right-color: var(--cocoon-custom-background-color);
      }
    }
    // 吹き出し LINE風 右配置
    &.sbp-r > .speech-balloon {
      &::before {
        border-left-color: var(--cocoon-custom-border-color);
      }
      &::after {
        left: auto;
        right: -10px;
        border-left-color: var(--cocoon-custom-background-color);
      }
    }
  }
  // 吹き出し 考え事
  &.sbs-think {
    > .speech-balloon {
      &::before,
      &::after {
        border-width: 2px;
        border-style: solid;
        border-color: var(--cocoon-custom-border-color);
        background-color: var(--cocoon-custom-background-color);
        border-radius: 50%;
        background-clip: padding-box;
      }
      &::before {
        left: -29px;
        top: 11px;
        width: 20px;
        height: 20px;
      }
      &::after {
        left: -44px;
        top: 25px;
        width: 10px;
        height: 10px;
      }
    }
    // 吹き出し 考え事 左配置
    &.sbp-l > .speech-balloon {
      margin-left: 46px;
    }
    // 吹き出し 考え事 右配置
    &.sbp-r > .speech-balloon {
      margin-right: 46px;
      &::before{
        left: auto;
        right: -29px;
      }
      &::after {
        left: auto;
        right: -44px;
      }
    }
  }
}