:root {
  --easing: cubic-bezier(.2, 1, .2, 1);
  --transition: .8s var(--easing);
  --box-shadow: 0 0 30px #fff;
}

.swiper-wrapper{
  margin-top: 8px;
}

/* 新着カードを横並びにする */
/* はみ出した分を横スクロール */
.is-list-horizontal {
  display: flex;
  flex-direction: row;
  /* カードのサムネイル幅200px */
  .widget-entry-card-link {
    flex-shrink: 0;
    max-width: 320px;
  }
  .card-title{
    font-size: 16px;  
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  // .card-content{
  //   display: -webkit-box;
  //   -webkit-box-orient: vertical;
  //   -webkit-line-clamp: 2;
  //   overflow: hidden;
  // }
  &.large-thumb,
  &.large-thumb-on{
    .widget-entry-card-link {
      max-width: 220px;
    }
    .card-title{
      -webkit-line-clamp: 2;
    } 
  } 
  &.large-thumb-on{
    .card-content{
      max-height: 45%;
      overflow: hidden;
      // line-height: 1.1;
    }   
    .card-title{
      font-size: 14px;
    } 
  }

  .swiper-button-next {
    left: calc(100% - 62px);
    // right: 0;
  }
  .swiper-button-next {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .swiper-button-next {
    display: grid;
    place-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .swiper-button-next:hover {
    left: calc(100% - 66px);
    width: 60px;
    height: 60px;
  }


  .swiper-button-next::before {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .swiper-button-next::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border-radius: 50%;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
  }
  .swiper-button-next::after {
    border-color: #ffffff;
    margin-right: 0.4rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 12px;
    height: 12px;
    content: "";
    border: solid rgba(255, 255, 255, 0.7);
    border-width: 2px 2px 0 0;
  }
}
