:root {
  --easing: cubic-bezier(.2, 1, .2, 1);
  --transition: .8s var(--easing);
  --box-shadow: 0 0 30px #fff;
}

.swiper-wrapper {
  margin-top: 8px;
  margin-left: 1px;
}

/* 新着カードを横並びにする */
/* はみ出した分を横スクロール */
.is-list-horizontal {
  display: flex;
  flex-direction: row;
  position: relative;

  /* カードのサムネイル幅200px */
  .widget-entry-card-link {
    flex-shrink: 0;
    max-width: 320px;
  }

  .card-title {
    font-size: 16px;
  }

  .card-title,
  .card-snippet{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

  }

  // .card-content{
  //   display: -webkit-box;
  //   -webkit-box-orient: vertical;
  //   -webkit-line-clamp: 2;
  //   overflow: hidden;
  // }
  &.large-thumb,
  &.large-thumb-on {
    .widget-entry-card-link {
      max-width: 220px;
    }

    .card-title {
      -webkit-line-clamp: 2;
      height: 2.6em;
    }
  }

  &.large-thumb-on {
    .card-content {
      overflow: hidden;
    }

    .card-title {
      font-size: 14px;
    }
  }

  .swiper-wrapper{
    height: initial;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 1;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
  }

  .swiper-button-next {
    left: calc(100% - 62px);
  }

  .swiper-button-next:hover {
    left: calc(100% - 66px);
    width: 60px;
    height: 60px;
  }

  .swiper-button-next::after {
    border-color: #ffffff;
    margin-right: 0.4rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 12px;
    height: 12px;
    content: "";
    border: solid rgba(255, 255, 255, 0.7);
    border-width: 2px 2px 0 0;
  }

  .swiper-button-prev {
    left: 22px;
    display: none;
  }

  .swiper-button-prev:hover {
    left: 17px;
    width: 60px;
    height: 60px;
  }

  .swiper-button-prev::after {
    border-color: #ffffff;
    margin-left: 0.4rem;
    transform: rotate(45deg);
    width: 12px;
    height: 12px;
    content: "";
    border: solid rgba(255, 255, 255, 0.7);
    border-width: 0 0 2px 2px;
  }
}