/************************************
** 広告
************************************/
.ad-area{
  margin: 0 0 32px;
  text-align: center;
}

.ad-index-top,
.ad-above-title,
.ad-content-top,
.ad-sidebar-top,
.ad-sidebar-bottom{
  .ad-label{
    display: none;
  }
}
