///////////////////////////////////////
// 管理パネル
///////////////////////////////////////
.admin-panel{
  background-color: $text_color;
  color: $white_text_color;
  opacity: 0.8;
  padding: 10px;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: .3s;

  a{
    color: $white_text_color;
  }

  // &::before{
  //   font-family: FontAwesome;
  //   content: '\f201';
  // }

}

.admin-pv,
.admin-edit,
.admin-amp{
  border-radius: 3px;
  padding: 3px 10px;
  border: 1px solid #ccc;
  margin: 0 4px;
}

.today-pv,
.week-pv,
.month-pv{
  margin-right: 8px;
}

.post-edit{
  margin-right: 8px;
}

// .admin-pv{
//   >span{
//     margin-right: 5px;
//   }
// }