/************************************
** Wordpress管理画面用のCSS
** ※管理画面にしか適用されません
************************************/

//固定値
@import "defins";
.demo{
  @import "imports";

  @include base_font;

  overflow: auto;
  resize: both;

  background-color: $xxx_thin;

  padding: 10px;

  border: 2px solid #ddd;

  pre{
    padding: 10px;
  }

  .search-result{
    padding: 10px;
    font-size: 16px;
    line-height: 1.4;
    font-family: arial,sans-serif;
    max-width: 600px;


    .title{
      color: #1a0dab;
      font-weight: bold;
      text-decoration: none;
    }

    .url{
      color: #006621;
      font-size: 14px;
      max-width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .description{
      font-size: 14px;
    }
  }

  .wrap{
    width: 100%;
  }
}

//管理画面でプレビューできないので.demo内で読みみたくない
@import "pre";

/*記事一覧のサムネイル幅*/
.column-thumbnail{
  width:80px;
}

.admin-custum-label{
  margin-left: -30px;
  margin-top: 20px;
  margin-bottom: -16px;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1em;
  background-color: #ddd;
  padding: 12px;
}

/************************************
** テーマ設定画面
************************************/

/*設定項目のヒント*/
.form-table td p{

  &.tips,
  &.alert{
    font-size: 12px;
    font-style: italic;
    margin-bottom: 1em;

    &::before{
      font-family: FontAwesome;
      margin-right: 4px;
    }
  }

  &.tips{
    &::before{
      content: '\f05a';
    }
  }

  &.alert{
    color: red;

    &::before{
      content: '\f071';
    }
  }
}



form.admin-settings{
  margin-top: 2em;
}

#tabs > div{
  display: none;
}

#tabs{
  .tabs-nav {
    border-bottom: 1px solid #999;
    list-style-type: none;
    margin: 0;
    padding: 0;


    li {
      background-color: rgb(241, 241, 241);
      cursor: pointer;
      display: inline-block !important;
      margin: 0 !important;
      padding: 5px 8px 3px !important;
      border-color: #999 #999 currentcolor;
      border-image: none;
      border-style: solid solid none;
      border-width: 1px 1px medium;

      &.selected{
        background-color: #fff;
      }
    }
  }
}


.col-2{
  display: flex;

  div{
    width: 50%;
    padding: 10px;
  }
}

.list-style-disc{
  list-style-type: disc;
  padding-left: 30px;
}

/************************************
** トグル詳細設定
************************************/
.toggle{

  .toggle-link{
    font-size: 0.8em;
    cursor: pointer;

    margin-left: 6px;
    // border: 1px solid #777;
    // padding: 2px;
    // background-color: #eee;

    text-decoration: underline;
    color: #0073aa;
    transition-duration: 0.05s;
    transition-property: border, background, color;
    transition-timing-function: ease-in-out;

    &:hover{
      color: #00a0d2;
    }
  }

  .toggle-content{
    display: none;
    width: 100%;
  }
  //
  // color: blue;
  // font-size: 0.8em;

  // &:hover{
  //   color: red;
  // }

}

/*カスタムボックスラベル*/
.box-label{
  font-weight: bold;
  margin-bottom: 5px;
}

/*文字数カウントエリア*/
.str-count{
  margin-left: 10px;
  background-color: #f7f7f7;
  padding: 1px 2px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-weight: normal;
}

.seo-title-count,
.meta-description-count,
.wp-title-count{
  margin-left: 5px
}

.str-wp-title-count{
  position: absolute;
  top: -23px;
  right: 0;
  color: #666;
  background-color: #f7f7f7;
  padding: 1px 2px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.uploded-thumbnail img{
  max-width: 400px;
  height: auto;
}

.tooltip{
  position: relative;

  &:hover .tip-content{
    display: inline;
  }



  .tip-content {
    background: #ffffeb;
    border: 1px solid #878787;
    display: none;
    width: 500px;
    padding: 8px;
    position: absolute;
    bottom: 1em;
    left: -15px;
  }

  .tip-content:after, .tip-content:before {
    top: 100%;
    left: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .tip-content:after {
    border-color: rgba(255, 255, 235, 0);
    border-top-color: #ffffeb;
    border-width: 5px;
    margin-left: -5px;
  }
  .tip-content:before {
    border-color: rgba(135, 135, 135, 0);
    border-top-color: #878787;
    border-width: 6px;
    margin-left: -6px;
  }
}