///////////////////////////////////////
// 関数テキスト関係のCSS
///////////////////////////////////////
.ft-list{
  padding: 20px;
  display: flex;

}

.ft-wrap{
  width: 240px;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.ft-title,
.ft-short-code,
.ft-content{
  margin-bottom: 6px;
}

.ft-short-code{
  input{
    width: 120px;
  }
}

.ft-content{
  max-height: 100px;
  overflow: hidden;
}

.ft-input{
  margin: 4px 0;
  padding: 5px;

  a{
    padding: 5px 10px;
    font-weight: bold;
    background-color: #fff;
    border: 2px solid #ccc;
  }
}

.ft-message{
  text-align: center;
  font-size: 16px;
  margin: 0;
}

.ft-menu{
  text-align: right;
  a{
    margin-left: 8px;
  }
}