///////////////////////////////////////////
// AMP除外
///////////////////////////////////////////

/* 検索フォーム風スタイルのボタンを装飾 */
.search-form div.sbtn {
	transition: 0.3s; /* 変化をなめらかにする */
}
/* ボタンにカーソルを合わせた時のスタイル */
.search-form div.sbtn:hover {
	color: #333; /* 文字色 */
	background: #fff; /* 背景色 */
	border-color: #333; /* ボーダーの色 */
	cursor: pointer; /* カーソルをポインターに */
}

//MacでChromeの際何度か提示遷移するとページャーがクリックできなくなる対応
//https://is.gd/pl1Rvs
.main {
  z-index: 0;
}

.ad-index-bottom {
  position: relative;
  z-index: -1;
}

/************************************
** Googleカスタム検索結果のページネーション
************************************/
.gsc-resultsbox-visible .gsc-results .gsc-cursor-box .gsc-cursor-current-page,
.gsc-resultsbox-visible .gsc-results .gsc-cursor-box .gsc-cursor-page {
	font-size: 15px;
	border-width: 1px;
	border-style: solid;
	padding: 2px 10px;
	display: inline-block;
	margin-bottom: 8px;
}

.gsc-resultsbox-visible .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
	background-color: #1A73E8;
	color: #fff;
}

.gsc-resultsbox-visible .gsc-results .gsc-cursor-box .gsc-cursor-page {
	border-color: #ccc;
}

// Lazy Load誤動作の対応
// https://is.gd/tr1FDP
.lozad {
  min-height: 1px;
  min-width: 1px;
}


//固定ヘッダー
// .is-header-fixed{
// 	margin-top: 1px;
// }

// .header-container *{
//   transition: all .3s ease-out;
// }
// .header-container-in.hlt-top-menu *{
//   transition: all .2s ease-out;
// }

// .js-clingify-placeholder .js-clingify-wrapper{
// 	transition: all .3s ease-out;
// 	top: -100px;
// }
// .js-clingify-wrapper.js-clingify-locked{
// 	transition: all .3s ease-out;
// 	top: 0px;
// }

// .js-clingify-locked{
// 	.has-sub,
// 	.navi-in .sub-menu{
// 		display: none;
// 	}
// }

//固定ヘッダー
.header-container{
	z-index: 2;
	*{
		transition: .3s;
	}
}

.fixed-header{
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
	.header .header-in{
		min-height: auto;
	}
	.has-sub,
	.navi-in .sub-menu{
		display: none;
	}
}
