//固定値
@import "defins";
//importファイル
@import "amp-imports";
@import "pre";

///////////////////////////////////////
// メディアクエリ
///////////////////////////////////////
@import "breakpoints/breakpoints";

img{
  border-width:0px;
}

amp-img {
  max-width: 100%;
}

.fb-like-thumb amp-img{
  height: 100%;
}

.entry-content amp-img{
  display: inline-block;
}

amp-img[width|="0"],
amp-img[height|="0"],
amp-img[width|="1"],
amp-img[height|="1"] {
  display: inline-block;
}

amp-img[src*="ad.jp.ap.valuecommerce.com"]{
  display: none;
}

.amp-comment-btn{
  @extend .pagination-next-link;
  margin: 24px 0;
  // padding: 14px;
  // color: #333;
  // text-decoration: none;
  // border: 2px solid #ddd;
  // background-color: #eaeaea;
  // display: block;
  // text-align: center;
  // cursor: pointer;
}

//Facebookボタン
.facebook-follow-btn{
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  padding: 3px 6px;
  top: 4px;
  font-size: 14px;
  font-weight: bold;
  color: $white_text_color;
  background-color: $facebook_color;
  position: relative;
  border-radius: $basic_border_radius;
  &::before{
    @include fontawesome('\f087');
    margin-right: 5px;
    font-weight: normal;
  }

  &:hover{
    color: $white_text_color;
  }

}