//固定値
@import "defins";
//importファイル
@import "amp-imports";
@import "pre";

///////////////////////////////////////
// メディアクエリ
///////////////////////////////////////
@import "breakpoints/breakpoints";

img{
  border-width:0px;
}

amp-img {
  max-width: 100%;
}

.entry-content amp-img{
  display: inline-block;
}

amp-img[width|="0"],
amp-img[height|="0"],
amp-img[width|="1"],
amp-img[height|="1"] {
  display: inline-block;
}

amp-img[src*="ad.jp.ap.valuecommerce.com"]{
  display: none;
}

.eye-catch{
  margin: 0;
  // amp-img{
  //   width: 100%;
  //   height: auto;
  // }
  //display: block;
  // img{
  //   width: 100%;
  //   height: auto;
  // }

}

.amp-comment-btn{
  margin: 24px 0;
  padding: 14px;
  color: #333;
  text-decoration: none;
  border: 2px solid #ddd;
  background-color: #eaeaea;
  display: block;
  text-align: center;
  cursor: pointer;
}