/************************************
** プロフィールボックス
************************************/
.author-box{
  border: 1px solid $basic_border_color;
  border-radius: $basic_border_radius;
  margin: 1em 0;
  //padding: 1.2% 1.6%;
  //display: flex;
  line-height: 1.4;
  position: relative;
  @include card_padding;

  p{
    margin-top: 0.3em;
    line-height: 1.3;
  }

  // .author-widget-name{
  //   padding: 4px;
  //   background-color: $middle_thickness;
  //   color: $white;
  //   display: inline;
  //   position: absolute;
  //   top: -1em;
  //   left: 10px;
  //   font-size: 16px;
  // }

  .sns-follow{
    margin: 0;
  }

  .sns-follow-message{
    display: none;
  }
  .sns-follow-buttons{
    flex-wrap: wrap;
    justify-content: flex-start;
    a.follow-button{
      font-size: 18px;
      width: 24px;
      height: 24px;
      margin-bottom: 4px;
      margin-right: 4px;
      background-color: $white;
      color: $pallid_text_color;
      border: 1px solid $basic_border_color;
      border-radius: 2px;
      &:hover{
        background-color: $xxx_thin;
      }

      .follow-count{
        display: none;
      }
    }
  }

  .author-name{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.4em;
  }
}

.author-thumb{
  float: left;
  margin-top: $emtry_card_thumb_margin_top;
  width: 120px;
}

.author-content{
  margin-left: 130px;
}

.author-description{
  margin-bottom: 1em;
}

.nwa{
  //@include author_box_nallow;
  .author-box{
    text-align: center;
    max-width: 336px;
    padding: 20px;
    .author-thumb{
      float: none;
      width: 100px;
      margin: 9px auto 0;
    }
    .author-content{
      margin: 0;
      font-size: 0.9em;
    }

    .author-description{
      text-align: left;
    }

    .sns-follow-buttons{
      display: block;
      font-size: 1px;
      font-size: 0;
      a{
        display: inline-block;
        margin: 2px;
      }
    }
  }
}
