/************************************
** プロフィルボックス
************************************/
.author-box{
  border: 2px solid $basic_border_color;
  padding: 10px;
  //display: flex;
  line-height: 1.4;
  position: relative;

  // .author-widget-name{
  //   padding: 4px;
  //   background-color: $middle_thickness;
  //   color: $white_text_color;
  //   display: inline;
  //   position: absolute;
  //   top: -1em;
  //   left: 10px;
  //   font-size: 16px;
  // }

  .sns-follow{
    margin: 0;
  }

  .sns-follow-message{
    display: none;
  }
  .sns-follow-buttons{
    flex-wrap: wrap;
    justify-content: flex-start;
    a{
      font-size: 18px;
      width: 25px;
      height: 25px;
      margin-bottom: 4px;
      margin-right: 4px;
    }
  }
}

.author-thumb{
  float: left;
  margin-top: 4px;
  width: 120px;
}

.author-content{
  margin-left: 130px;
}

.author-display-name{
  font-size: 1.1em;
  font-weight: bold;
}

.author-description{
  margin-bottom: 0.6em;
}

.sidebar{
  @include author_box_nallow;
}