/************************************
** 基本表示
************************************/
*{
  padding: 0;
  margin: 0;
}

body {
  /* フォントの種類 */
  font-family: $default_font;

  /* フォントのサイズ */
  font-size: 18px;

  /* フォントの色 */
  color: $text_color;

  /* カーニングの設定 */
  //letter-spacing: 1.2px;
  //font-feature-settings: "palt" 1;
  //font-kerning: auto;

  /* 行間の設定 */
  line-height: 1.75;

  margin: 0;

  //word-wrap: break-word;
  overflow-wrap: break-word;

}

/* クリアフィックス */
.cf::after {
  clear: both;
  content: "";
  display: block;
}

.header-container,
.footer{
  background-color: #fff;
}

/* インナーを囲む */
.wrap{
  width: $site_width;
  margin: 0 auto;
}

.main{
  width: $main_width;
  float: left;
  padding: 20px $main_padding_width;
  border: $main_border_width $main_border_style $transparent_border_color;
  border-radius: $basic_border_radius;
  background-color: #fff;
}

/************************************
** 投稿・固定ページで使うHTML要素
************************************/
p{
  margin: 1em 0;
}

.article{
  h3,
  h4,
  h5,
  h6 {
      margin-top: 35px;
      margin-bottom: 20px;
  }

  h4,
  h5,
  h6{
    font-size: 20px;
    padding: 6px 10px;
  }

  h2 {
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 25px 30px;
    background-color: $xx_thin;
  }

  h3 {
    border-left: 5px solid $middle_thickness;
    font-size: 23px;
    padding: 6px 30px;

  }

  h4 {
    border-bottom: 2px solid $thin;
  }

  h5 {
    border-bottom: 2px dashed $thin;
  }

  h6 {
    border-bottom: 1px dashed $thin;
  }
}

/************************************
** 引用（blockquote）
************************************/
blockquote {
  background-color: #fafafa;
  border: 1px solid $thin;
  margin: 1em 0;
  padding: 10px;
  position: relative;

  &::before,
  &::after{
    color: #C8C8C8;
    content: "\"";
    font-family: serif;
    position: absolute;
    font-size: 300%;

  }

  &::before {
    line-height: 1.1;
    left: 10px;
    top: 0;
  }

  &::after {
    line-height: 0;
    right: 10px;
    bottom: 0px;
  }
}


