/************************************
** 基本表示
************************************/
body {
  /* フォントの種類 */
  font-family: "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;;

  /* フォントのサイズ */
  font-size: 18px;

  /* フォントの色 */
  color: $text_color;

  /* カーニングの設定 */
  //letter-spacing: 1.2px;
  //font-feature-settings: "palt" 1;
  //font-kerning: auto;

  /* 行間の設定 */
  line-height: 1.75;

  margin: 0;

  //word-wrap: break-word;
  overflow-wrap: break-word;

}

/* クリアフィックス */
.cf::after {
  clear: both;
  content: "";
  display: block;
}

/* インナーを囲む */
.wrap{
  width: $site_width;
  margin: 0 auto;
}

/*エントリーの見出し*/
.entry-title{
  font-size: 25px;
}

.main{
  width: $main_width;
  float: left;
  padding: 20px $main_padding_width;
  border: $main_border_width $main_border_style $transparent_border_color;
  border-radius: $basic_border_radius;
}
