/************************************
** 基本表示
************************************/
/*初期化*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  //word-break: break-all;

  // &::selection {
  //   background: $select_bgc;
  //   color: $text_color;
  // }
  // &::-moz-selection {
  //   background: $select_bgc;
  //   color: $text_color;
  // }
}

.container{
  padding-right:  constant(safe-area-inset-right);
  padding-left:  constant(safe-area-inset-left);
  padding-right:  env(safe-area-inset-right);
  padding-left:  env(safe-area-inset-left);
}

body {
  @include base_font;
  @extend %background_image;
  background-color: #f4f5f7;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
}

/*デフォルトリンク*/
a{
  color: #1967d2;


  // &:visited{
  //   color: blue;
  // }
  // figure{
  //   transition: .7s;
  // }

  &:hover{
    color: #e53900;
    // //Lo-Fi風のフィルタリング
    // figure{
    //   //-webkit-filter: saturate(1.1) contrast(1.5);
    //   filter: saturate(1.1) contrast(1.5);
    // }
  }
}

ol, ul{
  margin: 1em 0;
  padding-left: 40px;
}

hr{
  color: $current_bgc;
}

/* クリアフィックス */
.cf::after {
  clear: both;
  content: "";
  display: block;
}

.header-container,
.main,
.sidebar,
.footer{
  background-color: $white;
}

/* インナーを囲む */
.wrap{
  width: $site_width;
  margin: 0 auto;
}

/************************************
** 本文部分
************************************/
.content-in{
  display: flex;
  justify-content: space-between;
  flex-wrap : wrap;
}

.main{
  width: $main_outer_width;
  margin-right: $between_main_and_sidebar;
  //height: 100%;
  //float: left;
  padding: 20px $main_padding_width;
  border: $main_border_width $main_border_style $transparent_border_color;
  border-radius: $basic_border_radius;
  position: relative;
}

.no-sidebar .content .main{
  margin: 0;
  width: 100%;
}

.no-scrollable-main .main{
  height: 100%;
}

.main-scroll{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-top: 2em;
}

//IE10以降のプラウザハック
@media all and (-ms-high-contrast:none){
  .main-scroll{
    position: static;
    top: auto;
  }
  .logo{
    height: 100%;
  }
}

//構造化マークアップ用
.publisher {
  display:none;
}

#wpadminbar{
  font-size: 13px;
}

///////////////////////////////////////
// キャプション表示
///////////////////////////////////////
.wp-caption{
  margin: 1em 0;
}

/************************************
** WordPress Misc
************************************/
.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.alignleft {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.alignright {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}


.wp-caption {
  padding-top: 4px;
  border: 1px solid $x_thin;
  border-radius: 3px;
  background-color: $xx_thin;
  text-align: center;
  max-width: 100%;
}

.wp-caption-text,
.gallery-caption{
  font-size: 0.8em;
  margin: 2px;
}

.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.wp-caption-dd {
  margin: 0;
  padding: 0 4px 5px;
  font-size: 11px;
  line-height: 17px;
}

img.alignright {
  display: inline-block;
  margin: 0 0 1em 1.5em;
}

img.alignleft {
  display: inline-block;
  margin: 0 1.5em 1em 0;
}


.comment-btn{
  @extend .pagination-next-link;
  margin: 24px 0;
  cursor: pointer;
}

label {
  cursor:pointer;
}

.sitemap li a::before{
  display: none;
}

.content-top,
.content-bottom{
  margin: 1em 0;
}

span.fa{
  font-family: FontAwesome;
}
