//ブランドカラーまとめ
$twitter_color: #1da1f2;
$facebook_color: #3b5998;
$hatebu_color: #2c6ebd;
$google_plus_color: #dd4b39;
$pocket_color: #ef4056;
$line_color: #00c300;
$website_color: #002561;
$instagram_color: #405de6;
$pinterest_color: #bd081c;
$youtube_color: #cd201f;
$flickr_color: #111;
$amazon_color: #ff9900;
$rakuten_color: #bf0000;
$rakuten_room_color: #c61e79;
$github_color: #4078c0;
$feedly_color: #2bb24c;
$rss_color: #f26522;
