/************************************
** パンくずリスト
************************************/
.breadcrumb{
  margin: 1em .4em;
  color: $pallid_text_color;
  font-size: 13px;
}

.breadcrumb div {
  display: inline;
}

.breadcrumb span.sp{
  margin: 0 10px;
}

.breadcrumb a{
  text-decoration:none;
  color: $pallid_text_color;
}

.breadcrumb.sbp-main-before,
.breadcrumb.sbp-footer-before,
.breadcrumb.pbp-main-before,
.breadcrumb.pbp-footer-before{
  background-color: $white;
  margin: 12px auto 0;
  padding: .6em 1em;
}

.breadcrumb.sbp-main-before + .content,
.breadcrumb.pbp-main-before + .content{
  margin-top: 12px;
}
