/************************************
** コメント
************************************/
.commets-list{
  @include list_cancel;

  .avatar{
    float: right;
  }

  .reply{
    text-align: right;
    font-size: $text_size_s;
  }
}