/************************************
** コメント
************************************/
.commets-list{
  @include list_cancel;

  .avatar{
    float: right;
  }

  .reply{
    text-align: right;
    font-size: $text_size_s;
  }

  .comment-meta{
    font-size:$text_size_s;
  }

  .comment-body,
  .st-comment-body{
    margin-bottom: 1em;
  }

  .children{
    list-style: none;
    padding-left: 20px;
  }
}

.st-comment-id{
  display: none;
}

.st-comment-edit{
  font-size: 0.8em;
  margin-left: 6px;
}

.st-comment-author .fn{
  font-weight: bold;
}

.comment-form{
  .required{
    color: red;
  }

  .logged-in-as{
    margin: 0.2em;
    font-size: 0.8em;
  }
}

.comment-area.website-hide{
  .comment-form-url{
    display: none;
  }
}

//編集リンクの余白
.comment-edit-link {
  margin-left: 0.4em;
}

//返信ボタン
.comment-reply-link{
  @extend .tag-link;
  font-size: 14px;
  display: inline;
  padding: 5px 8px;
  // &:before{
  //   content: '\f0e5';
  // }
}

//コメントのページネーション
.comment-page-link{
  text-align: center;
  .page-numbers{
    width: auto;
    height: auto;
    padding: 6px 12px;
    line-height: normal;
  }
  .current{
    background-color:#eee;
  }
}
