/************************************
** 日付関係のスタイル
************************************/

.date-tags{
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
}

.post-date,
.post-update{
  @extend .entry-category;
  margin-right: 8px;
}

.post-date::before{
  @include fontawesome('\f017');
}

.post-update::before{
  @include fontawesome('\f1da');
}
