@charset "UTF-8";

//固定値
@import "defins";

/*ビジュアルエディターのスタイルを書く*/
body#tinymce {
  padding: 1em 20px !important;
  margin-top: 0 !important;
  background-image: none;
  background-color: #fff;
}

//背景を適用しない
body#tinymce.wp-editor::before {
  background: none;
}

.column-2,
.column-3{
  margin: 16px 0;
}

/* .column-2::before,
.column-3::before{
  content: "※カラムへの着色はエディタのみ";
  position: absolute;
  left: 0;
  right: 0;
  top: -1em;
  width: 31%;
  font-size: 0.8em;
  padding: 4px 8px;
  background-color: #f7dde4;
  text-align: center;
}

html[lang="en"] .column-2::before,
html[lang="en"] .column-3::before{
  content: "* Coloring is Editor Only.";
} */

.column-left{
  background-color: #c7e1ef;
}

.column-center{
  background-color: #c9e8d8;
}

.column-right{
  background-color: #ffecd3;
}

.btn-wrap,
.blogcard-type{
  padding: 6px;
  margin: 4px 0;
  position: relative;
}

span.btn-wrap{
  padding: 6px 18px 6px;
  display: inline-block;
  font-size: 0.8em;
}

.btn-wrap::before{
  position: absolute;
  top: -2px;
  right: 4px;
}

.btn-wrap::before{
  font-family: FontAwesome;
  color: #DBB004;
  content: '\f146';
}

.blogcard-type::before{
  font-family: FontAwesome;
  font-size: 0.6em;
  padding: 0 4px;
  background-color: #587b93;
  color: #fff;
  top: 0;
  right: 0;
  position: absolute;
  white-space: pre;
}

.btn-wrap{
  background-color: #f8e58c;
}

.blogcard-type{
  padding-top: 1em;
  background-color: #e6ecf0;
}

.blogcard-type.bct-none::before{
  content: $bct-none + '  ' + $bct-none-text;
}

.blogcard-type.bct-related::before{
  content: $bct-related + '  ' + $bct-related-text;
}

.blogcard-type.bct-reference::before{
  content: $bct-reference + '  ' + $bct-reference-text;
}

.blogcard-type.bct-reference-link::before{
  content: $bct-reference-link + '  ' + $bct-reference-link-text;
}

.blogcard-type.bct-popular::before{
  content: $bct-popular + '  ' + $bct-popular-text;
}

.blogcard-type.bct-pickup::before{
  content: $bct-pickup + '  ' + $bct-pickup-text;
}

.blogcard-type.bct-check::before{
  content: $bct-check + '  ' + $bct-check-text;
}

.blogcard-type.bct-together::before{
  content: $bct-together + '  ' + $bct-together-text;
}

.blogcard-type.bct-detail::before{
  content: $bct-detail + '  ' + $bct-detail-text;
}

.blogcard-type.bct-official::before{
  content: $bct-official + '  ' + $bct-official-text;
}

.blogcard-type.bct-dl::before{
  content: $bct-dl + '  ' + $bct-dl-text;
}

.font-awesome-5{
  .bct-related::before,
  .blank-box.bb-ok::before,
  .blank-box.bb-point::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
  }
  .bb-ok::before{content: "\f111" + '  ' + $bb-ok-text;}

  .blank-box.bb-check::before,
  .blank-box.bb-comment::before,
  .blank-box.bb-tips::before,
  .blank-box.bb-pickup::before,
  .blank-box.bb-hint::before,
  .blank-box.bb-bookmark::before,
  .blank-box.bb-memo::before,
  .blank-box.bb-download::before,
  .blank-box.bb-break::before,
  .blank-box.bb-ng::before,
  .blank-box.bb-good::before,
  .blank-box.bb-bad::before,
  .blank-box.bb-profile::before,
  .bct-none::before,
  .bct-reference::before,
  .bct-reference-link::before,
  .bct-popular::before,
  .bct-pickup::before,
  .bct-check::before,
  .bct-together::before,
  .bct-detail::before,
  .bct-official::before,
  .bct-dl::before,
  .btn-wrap::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 501;
  }
  .bb-memo::before{content: "\f303" + '  ' + $bb-memo-text;}

  .blank-box.bb-tab::before{
    font-family: "Font Awesome 5 Free", Aharoni, "Arial Black", Impact, Arial, sans-serif;
  }

  .blank-box.bb-amazon::before
  {
    font-family: "Font Awesome 5 Brands", Aharoni, "Arial Black", Impact, Arial, sans-serif;
    font-weight: 400;
  }
}

/*ビジュアルエディターにinstagramの引用符が表示される対応*/
.instagram-media {
  position: relative !important;
}

// /*Gutenbergの引用スタイルを打ち消す*/
// .wp-block-freeform.core-blocks-rich-text__tinymce blockquote{
//   border: 1px solid #ccc;
// }

// /*Gutenbergのテーマ用ドロップダウンリストを1列に収める*/
// .mce-listbox button {
//   max-width: 98px;
// }
// /* Main column width */

// body.gutenberg-editor-page .editor-block-list__layout{
//   padding: 0;
// }

// @media screen and (min-width: 960px){
//   div.edit-post-text-editor {
//     // padding-left: 10%;
//     // padding-right: 10%;
//     max-width: 800px;
//   }
// }

//wpForoの入力フォームをiPhoneでみた場合横揺れする場合の対処
.postbody.main{
  width: auto;
}

.button-wrap-msg,
.box-block-msg{
  font-size: 10px;
  text-align: center;
}

// .btn-wrap > a{
//   pointer-events: none;
// }

.blank-box{
  &.bb-tab::before{
    @include tabbox_label;
    font-family: FontAwesome, Aharoni, "Arial Black", Impact, Arial, sans-serif;
  }

  &.bb-red::before{background-color: $red_color;}
  &.bb-pink::before{background-color: $pink_color;}
  &.bb-purple::before{background-color: $purple_color;}
  &.bb-blue::before{background-color: $blue_color;}
  &.bb-green::before{background-color: $green_color;}
  &.bb-orange::before{background-color: $orange_color;}
  &.bb-yellow::before{background-color: $yellow_color;}
  &.bb-brown::before{background-color: $brown_color;}
  &.bb-grey::before{background-color: $grey_color;}
  &.bb-black::before{background-color: $black_color;}
  &.bb-deep::before{background-color: $deep_color;}
  &.bb-indigo::before{background-color: $indigo_color;}
  &.bb-light-blue::before{background-color: $light_blue_color;}
  &.bb-cyan::before{background-color: $cyan_color;}
  &.bb-teal::before{background-color: $teal_color;}
  &.bb-light-green::before{background-color: $light_green_color;}
  &.bb-lime::before{background-color: $lime_color;}
  &.bb-amber::before{background-color: $amber_color;}
  &.bb-deep-orange::before{background-color: $deep_orange_color;}
  &.bb-white::before{background-color: $white;}
}

.bb-check::before{
  content: $bb-check + '  ' + $bb-check-text;
}

.bb-comment::before{
  content: $bb-comment + '  ' + $bb-comment-text;
}

.bb-point::before{
  content: $bb-point + '  ' + $bb-point-text;
}

.bb-tips::before{
  content: $bb-tips + '  ' + $bb-tips-text;
}

.bb-hint::before{
  content: $bb-hint + '  ' + $bb-hint-text;
}

.bb-pickup::before{
  content: $bb-pickup + '  ' + $bb-pickup-text;
}

.bb-bookmark::before{
  content: $bb-bookmark + '  ' + $bb-bookmark-text;
}

.bb-memo::before{
  content: $bb-memo + '  ' + $bb-memo-text;
}

.bb-download::before{
  content: $bb-download + '  ' + $bb-download-text;
}

.bb-break::before{
  content: $bb-break + '  ' + $bb-break-text;
}

.bb-amazon::before{
  content: $bb-amazon + '  ' + $bb-amazon-text;
}

.bb-ok::before{
  content: $bb-ok + '  ' + $bb-ok-text;
}

.bb-ng::before{
  content: $bb-ng + '  ' + $bb-ng-text;
}

.bb-good::before{
  content: $bb-good + '  ' + $bb-good-text;
}

.bb-bad::before{
  content: $bb-bad + '  ' + $bb-bad-text;
}

.bb-profile::before{
  content: $bb-profile + '  ' + $bb-profile-text;
}

///////////////////////////////////////////
// フォントサイズ
///////////////////////////////////////////
.has-small-font-size {
  font-size: 13px;
}
.has-medium-font-size {
  font-size: 20px;
}
.has-large-font-size {
  font-size: 36px;
}
.has-huge-font-size, .has-larger-font-size {
  font-size: 42px;
}
