/************************************
** エントリーカードの設定
************************************/
.a-wrap{
  text-decoration: none;
  display: block;
  color: #333;
  padding: 10px;
  margin-bottom: 20px;

  &:hover {
    @include bgc_hover;
  }
}

.entry-card-thumb{
  width: 320px;
  float: left;
  margin-top: $emtry_card_thumb_margin_top;
  position: relative;
}

.category-label{
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 10px;
  color: #fff;
  background-color: rgba(51,51,51,0.7);
  padding: 0px 4px;
}

.entry-card-content{
  margin-left: 330px;
}

.entry-card-title{
  font-size: 20px;
  margin: 0;
  line-height: 1.1;
  margin-bottom: 5px;
  display: inline;
}

.entry-card-snippet{
  font-size: $text_size_s;
}

.entry-card-meta{
  //margin-top: 0.3em;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  // width: 100%;
  div{
    display: inline;
  }

}

// .published::before,
// .category::before{
//   margin-right: 2px;
// }

.published,
.entry-category{
  padding: 2px;
  margin-right: 8px;
  display: inline;
  font-size: 14px;
}

.published::before{
  @include fontawsome('\f017');
}

.entry-category::before{
  @include fontawsome('\f07b');
}

.entry-card-meta .entry-card-categorys{
  display: none;
}
