/************************************
** エントリーカードの設定
************************************/
.a-wrap{
  text-decoration: none;
  display: block;
  color: $text_color;
  padding: 1.5%;
  margin-bottom: 3%;
  transition: $bgc_hover_anime;

  &:hover {
    @include bgc_hover;
    // .card-meta{
    //   background-color: $bgc_hover_color;
    //   transition: $bgc_hover_anime;
    // }
  }
}

.entry-card{
  @extend %card;
}

//.new-entry-card-thumb,
//.related-entry-card-thumb,
.entry-card-thumb{
  @extend %card_thumb;
  // float: left;
  // margin-top: $emtry_card_thumb_margin_top;
  // position: relative;
}

.card-thumb img{
  width: 100%;
}

.entry-card-thumb{
  width: 320px;
}

.related-entry-card-thumb{
  width: 160px;
}

.cat-label{
  position: absolute;
  top: 0.3em;
  left: 0.3em;
  border: 1px solid #eee;
  font-size: 11px;
  color: $white;
  background-color: $transpalent_black_bgc;
  padding: 1px 5px;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.entry-card-content{
  @extend %card_content;
  margin-left: 330px;
}

.entry-card-title{
  @extend %card_title;
}

.entry-card-snippet{
  @extend %card_snippet;
}

.entry-card-info > *{
  font-size: 0.7em;
  padding: 2px;
}

.post-comment-count::before{
  @include fontawesome('\f0e5');
}

// .entry-card-meta{
//   //margin-top: 0.3em;
//   // text-overflow: ellipsis;
//   // white-space: nowrap;
//   // width: 100%;
//   div{
//     display: inline;
//   }

// }

// .published::before,
// .category::before{
//   margin-right: 2px;
// }

.entry-card-meta{
  @extend %card_meta;
}

.entry-category{
  @extend %entry_category;
  // padding: 2px;
  // //margin-right: 8px;
  // display: inline;
  // font-size: 0.7em;
}

.entry-category::before{
  @include fontawesome('\f07b');
}

.entry-card-meta .entry-card-categorys{
  display: none;
}

.e-card-info .post-author{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.post-author-image{
  margin-right: 3px;
  img{
    border-radius: 50%;
  }
}

.e-card-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  >span {
    margin-right: 4px;
    //display: block;
  }
}


/************************************
** エントリーカードタイプ
************************************/
.ect-vertical-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .entry-card-wrap{
    width: 49.5%;
    display: inline-block;
    margin-bottom: 12px;
    .entry-card-thumb{
      width: 100%;
      float: none;
      img{
        width: 100%;
      }
    }
    .entry-card-content{
      margin: 0;
    }
    .post-date, .post-update{
      margin-right: 0;
    }
  }

  &.ect-tile-card{
    .a-wrap{
      margin: 0 0.25% 12px;
    }
    // .card-content{
    //   padding: 0 7px;
    // }
    .entry-card-content{
      padding: 0;
    }
    .card-snippet{
      padding: 0;
      margin: 0;
    }
    .card-meta{
      position: static;
    }
  }
  &.ect-tile-card{
    .a-wrap{
      margin: 0 0.16666% 12px;
    }
  }
}
.ect-2-columns > *{
  width: 49.5%;
  display: inline-block;
}

.ect-3-columns{
  justify-content: space-around;
  .entry-card-wrap{
    width: 33%;
    padding: 7px;
  }
  .entry-card-snippet{
    max-height: 4em;
    overflow: hidden;
  }
  // &.ect-tile-card{
  //   .a-wrap{
  //     padding: 0;
  //     margin: 7px;
  //   }
  // }
}
.ect-3-columns > *{
  width: 33%;
  display: inline-block;
}



//エントリーカードの枠線
.ecb-entry-border{
  .entry-card-wrap{
    border: 1px solid $basic_border_color;
  }
}

.entry-card-day{
  span:last-child{
    margin-right: 0;
  }
}

// .card-thumb{
//   img:hover{
//     animation: 1s ease 0s normal none 1 running flash;
//   }
// }

.front-top-page .ect-big-card-first .a-wrap:first-of-type,
.ect-big-card{
  .card-thumb{
    float: none;
    width: 100%;
  }
  .card-content{
    margin:0
  }

}
