
.column-wrap{
  display: flex;
  position: relative;

  >div{
    width: 100%;
    padding: 1em 1.2%;
  }
}

.column-2-3-1-2{
  .column-left{
    width: 34%;
  }
  .column-right{
    width: 66%;
  }
}

.column-2-3-2-1{
  .column-left{
    width: 66%;
  }
  .column-right{
    width: 34%;
  }
}

.column-2-4-1-3{
  .column-left{
    width: 25%;
  }
  .column-right{
    width: 75%;
  }
}

.column-2-4-3-1{
  .column-left{
    width: 75%;
  }
  .column-right{
    width: 25%;
  }
}