
.column-wrap{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 1em 0;
  margin: 0;
  word-break: break-all;

  // .column-left{
  //   padding-left: 0;
  // }
  // .column-right{
  //   padding-right: 0;
  // }

  >div{
    width: 49.5%;
    //padding: 0 0.45em;
    margin: 0;
    >*:first-child{
      margin-top: 0;
    }
  }
  &.column-3{
    >div{
      width: 32.5%;
    }
  }
}

.column-2-3-1-2{
  .column-left{
    width: 34%;
  }
  .column-right{
    width: 65%;
  }
}

.column-2-3-2-1{
  .column-left{
    width: 65%;
  }
  .column-right{
    width: 34%;
  }
}

.column-2-4-1-3{
  .column-left{
    width: 25%;
  }
  .column-right{
    width: 74%;
  }
}

.column-2-4-3-1{
  .column-left{
    width: 74%;
  }
  .column-right{
    width: 25%;
  }
}

//ブロックエディターカラムの不具合修正
@media (min-width: 600px) {
  .wp-block-columns {
   flex-wrap: nowrap;
  }
 }
