/************************************
** フッター
************************************/

.footer{
  margin-top: 20px;
  padding-top: 10px;
}

.copyright{
  text-align: center;
}

.footer-widgets {
  margin: 10px auto;
  display: flex;
}

.footer-left,
.footer-center,
.footer-right {
  padding: 10px 16px;
  width: 33.33%;
}

/************************************
** フッターボトム
************************************/
.footer-bottom{
  margin-top: 24px;
  //vertical-align: bottom;
  //position: relative;
  font-size: 14px;
  padding-bottom: 8px;
}


.navi-footer{
  float: left;
}

.copyright{
  float: right;
  margin-right: 10px;
}