//GutenbergのCSS（AMPでは適用されません）
//古いiOSでGutenbergのギャラリー表示を表示させると表示が崩れる不具合対応
//https://wp-cocoon.com/community/bugs/%e3%82%bf%e3%83%96%e3%83%ac%e3%83%83%e3%83%88%e9%96%b2%e8%a6%a7%e6%99%82%e3%81%ab%e7%94%bb%e5%83%8f%e3%81%a8%e8%a8%98%e4%ba%8b%e3%81%ae%e6%96%87%e5%ad%97%e3%81%8c%e8%a2%ab%e3%81%a3%e3%81%a6%e3%81%97/
.entry-content .wp-block-gallery .blocks-gallery-item {
	display: list-item;
}
