/************************************
** ヘッダー
************************************/

.header{
  /* 画像を常に天地左右の中央に配置 */
  background-position: top center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  &.hba-fixed{
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
  }

}

.header-top{
  font-size: 12px;
}

.tagline{
  margin-left: 30px;
}

.logo{
  text-align: center;
  //min-height: 100px;
}

.site-name{
  @include link_cancel;
  color: unset;
  font-size: 40px;
  font-weight: normal;

  &:hover{
    color: unset;
  }
}

.logo-text{
  padding: 20px 0 30px;
}

.logo-image{
  padding: 10px 0;
}

/************************************
** ヘッダーレイアウト
************************************/
//トップメニュー
.header-container-in.hlt-top-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  .wrap{
    width: auto;
  }

  .header{
    background-image: none;
  }

  .logo-text{
    padding: 0;
    display: flex;
    align-items: center;
    align-content: center;
  }

  .logo-image{
    padding: 0;
    margin: 0;
  }

  .site-name-text{
    font-size: 32px;
    margin: 0 16px;
    display: block;
  }

  .header-top{
    display: none;
  }

  .logo-header{
    height: 60px;
    img{
      //margin: 10px;
      height: 100%;
      width: auto;
    }
  }

  .navi{
    width: 100%;
  }
}

//トップメニュー（小）
.header-container-in.hlt-top-menu.hlt-tm-small{
  .site-name-text{
    font-size: 26px;
    margin: 0 16px;
  }

  .logo-header{
    height: 40px;
  }

  .navi-in > ul > li,
  .navi-in > ul > .menu-item-has-description > a > .caption-wrap{
    line-height: 40px;
    height: 40px;
    display: block;
  }

  .item-description{
    display: none;
  }
}