/************************************
** ヘッダー
************************************/

.header{
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
}

.header-top{
  font-size: 12px;
}

.tagline{
  margin-left: 30px;
}

.logo{
  text-align: center;
  min-height: 100px;
}

.site-name{
  @include link_cancel;
  font-size: 40px;
  font-weight: normal;
}