/************************************
** ヘッダー
************************************/

.header{
}

.header-top{
  font-size: 0.8em;
}

.logo{
  text-align: center;
  margin-bottom: 30px;

}

.site-name{
  @include link_cancel;
  font-size: 40px;
}