///////////////////////////////////////////
// インデックス
///////////////////////////////////////////
.top-cate-btn{
  margin: 10px 0 20px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.2);
}
.top-cate-btn label{
  width: calc(100% / 4);
  padding: 10px;
  text-align: center;
  background: #eee;
  transition: .5s;
  border-right: 1px solid #ddd;
  box-sixing: border-box;
}
#tab1:checked ~ .top-cate-btn label[for="tab1"],
#tab2:checked ~ .top-cate-btn label[for="tab2"],
#tab3:checked ~ .top-cate-btn label[for="tab3"],
#tab4:checked ~ .top-cate-btn label[for="tab4"],
.top-cate-btn label:hover{
  background: #aaa; /* 選択・マウスオーバー時のタブの色。お好きな色に */
}
.top-cate-btn label:last-of-type{
  border-right: none;
}
.tab-cont,
input[name="tab_item"]{
  display: none;
}

#tab1:checked ~ .tab-cont.tb1,
#tab2:checked ~ .tab-cont.tb2,
#tab3:checked ~ .tab-cont.tb3,
#tab4:checked ~ .tab-cont.tb4{
  display: block;
  animation: show 1s;
}
/* Cocoonのリンクボタンカスタマイズ */
.btn-wrap-circle > a {
  background: #999; /* お好みの色に */
}
/* スマホ用 */
@media screen and (max-width: 768px){
  .top-cate-btn label{
      width: calc(100% / 2);
  }
  .top-cate-btn label:nth-of-type(2){
      border-right: none;
  }
  .top-cate-btn label:nth-last-of-type(n+3){
      border-bottom: 1px solid #ddd;
  }
}
