.mobile-menu-buttons {
  background: $white;
  box-shadow: 0 0 5px darkgrey;
  font-size: 19px;
  position: fixed;
  // display: block;
  // width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 0;
  margin: 0;
  list-style: none;

  display: none;
  align-items: center;

  line-height: 1.4;
  min-height: 50px;
  //padding-bottom: 5px;

  transition: .3s;

  // ul{
  //   padding: 0;
  //   margin: 0;
  // }

  .menu-icon{
    //padding-top: 3px;
    text-align: center;
    width: 100%;
    display: block;
    // &::before{
    //   font-family: FontAwesome;
    //   font-size: 1em;
    // }
  }

  .menu-caption{
    font-size: 9px;
    text-align: center;
    opacity: 0.8;
    display: block;
  }

  .menu-button {
    //text-align: center;
    position: relative;
    width: 100%;
    cursor: pointer;

    >a{
      display: block;
      @include link_cancel;
      //cursor: default;
    }
    &:hover .menu-button-in{
      opacity: 0.8;
    }
  }

  // >.sub-menu{
  //   display: none;
  // }

  .ad-area{
    display: none;
  }

  .menu-content{
    cursor: default;
  }

}

.mobile-footer-menu-buttons{
   padding-bottom: constant(safe-area-inset-bottom);
   padding-bottom: env(safe-area-inset-bottom);
 }

.logo-menu-button{
  text-align: center;
  font-weight: 900;
  line-height: 50px;
  min-width: 200px;
  overflow: hidden;
  img{
    max-height: 44px;
    display: block;
    margin: 0 auto;
  }
}

.fa.menu-icon{
  font: inherit;
}

// .navi-menu-icon{
//   &::before{
//     content: '\f0c9';
//   }
// }

// .home-menu-icon{
//   &::before{
//     content: '\f015';
//   }
// }

// .search-menu-icon{
//   &::before{
//     content: '\f002';
//   }
// }

// .top-menu-icon{
//   &::before{
//     content: '\f062';
//   }
// }

// .toc-menu-icon{
//   &::before{
//     content: '\f0ca';
//   }
// }

// .sidebar-menu-icon{
//   &::before{
//     content: '\f03b';
//   }
// }

// .share-menu-icon{
//   &::before{
//     content: '\f1e0';
//   }
// }

// .follow-menu-icon{
//   &::before{
//     content: '\f004';
//   }
// }

// .prev-menu-icon{
//   &::before{
//     content: '\f060';
//   }
// }

// .next-menu-icon{
//   &::before{
//     content: '\f061';
//   }
// }


/*閉じる用の薄黒カバー*/
#navi-menu-close,
#sidebar-menu-close,
#search-menu-close,
#share-menu-close,
#follow-menu-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transition: .3s ease-in-out;
}

/*中身*/
.menu-content {
  overflow: auto;
  position: fixed;
  top: 0;
  z-index: 9999;/*最前面に*/
  width: 100%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 400px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  opacity: 1;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  .menu-drawer{
    padding: 0 1em 30px;
  }


  .sidebar{
    width: 100%;
    display: block;
    margin: 0;
  }

}
.navi-menu-content{
  left: 0;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);//左に隠す
}
.sidebar-menu-content{
  right: 0;
  -webkit-transform: translateX(105%);
  transform: translateX(105%);//右に隠す

}
#slide-in-sidebar{
  display: block;
}
.search-menu-content,
.share-menu-content,
.follow-menu-content{
  transition: .3s ease-in-out;
  position: fixed;
  top: 40%;
  z-index: 99;
  width: 90%;
  left: 5%;
  right: 5%;
  -webkit-transform: translateY(900%);
  transform: translateY(900%);//下に隠す
  opacity: 0;
  .search-edit{
    width: 100%;
  }
}

/*チェックが入ったらもろもろ表示*/
#navi-menu-input:checked ~ #navi-menu-close,
#sidebar-menu-input:checked ~ #sidebar-menu-close,
#search-menu-input:checked ~ #search-menu-close,
#share-menu-input:checked ~ #share-menu-close,
#follow-menu-input:checked ~ #follow-menu-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#navi-menu-input:checked ~ #navi-menu-content,
#sidebar-menu-input:checked ~ #sidebar-menu-content,
#search-menu-input:checked ~ #search-menu-content,
#share-menu-input:checked ~ #share-menu-content,
#follow-menu-input:checked ~ #follow-menu-content {
  transition: .3s ease-in-out;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
  //box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

//メニュースタイル
.menu-drawer{
  ul{
    list-style: none;
  }

  li{
    display: block;
  }

  a{
    @include link_cancel;
    padding: 6px;
    display: block;
    &:hover{
      @include bgc_hover;
    }
  }
  .sub-menu{
    padding-left: 20px;
  }
}

.menu-close-button{
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 2em;
}

.share-menu-content{
  .sns-buttons{
    justify-content: space-around;
    .share-count{
      color: $white;
    }
  }
  .button-caption{
    display: none;
  }
}

.follow-menu-content{
  .sns-buttons{
    justify-content: space-around;
    a{
      width: 24%;
    }
  }
  .sns-follow-message{
    display: none;
  }
}
