/************************************
** グローバルメニュー
************************************/
$menu_height: 50px;
$sub_menu_width: 240px;
.navi-in{
  >ul{
    @include list_cancel;
    //background-color: #fff;


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    li{
      display: block;
      width: 176px;
      height: $menu_height;
      line-height: $menu_height;

      &:hover{
        >ul{
          display: block;
        }
      }
    }

    /*サブメニュー*/
    .sub-menu{
      display: none;
      position: absolute;
      margin-left: 0;
      min-width: $sub_menu_width;
      list-style: none;
      padding-left: 0;
      background-color: #fcfcfc;
      z-index: 99;
      text-align: left;
      li{
        width: auto;
      }

      a{
        padding-left: 16px;
        padding-right: 16px;
      }

      /*サブメニューのサブメニュー*/
      ul{
        top: -$menu_height;
        left: $sub_menu_width;
        position: relative;
      }
    }

  }

  a{
    @include link_cancel;
    display: block;
    font-size: 16px;
    &:hover{
      @include bgc_hover;

      >ul{
        display: block;
      }
    }
  }
}
