//通知

.notice-area-wrap{
  display: block;
  text-decoration: none;
  &:hover{
    opacity: 0.8;
  }
}

.notice-area{
  color: $white;
  text-align: center;
  background-color: #4cae4c;
  padding: 0.6em;
  font-size: 0.8em;

  &.nt-warning{
    background-color: #f7ab00;
  }

  &.nt-danger{
    background-color: #ff6666;
  }
}