/************************************
** ページネーション
************************************/

.pagenation{
  margin: 30px 0;
  clear: both;
  text-align: center;

  .current{
    background-color: #ddd;
  }

  .prev::before{
    @include fontawsome('\f104');
    padding-right: 3px;
  }

  .next::before{
    @include fontawsome('\f105');
    padding-left: 3px;
  }


  a{
    &:hover {
      @include bgc_hover;
    }
  }
}

$pagenation_wh: 50px;
.page-numbers{
  @include link_cancel;
  display: inline-block;
  height: $pagenation_wh;
  width: $pagenation_wh;
  border: 1px solid #ccc;
  margin-left: 3px;
  line-height: $pagenation_wh;
  text-align: center;
}

// .page-numbers.dots {
//   border: medium none;
//   width: 20px;
// }

/*「次のページ」ページネーション*/
.pagenation-next-link {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  color: $text_color;
  display: block;
  font-size: 1.25em;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  display: block;

  &:hover {
    @include bgc_hover;
  }
}