/************************************
** マルチページのページャーリンク
************************************/
.pager-links{
  @include pagination_wrap;

  span{
    background-color: $current_bgc;
  }

  a{
    display: inline-block;

    span{
      background-color: $bg_white;
    }

    &:hover span {
      @include bgc_hover;
    }
  }

  // span{
  //   @include pagination_button;
  // }

}

.pager-prev-next{
  a{
    width: 30%;
  }
  span{
    width: 100%;
  }
}