//ページネーションやページャー用
@mixin pagination_wrap {
  margin: 30px 0;
  clear: both;
  text-align: center;
}
//ページネーションボタン
$pagination_wh: 50px;
@mixin pagination_button {
  @include link_cancel;
  display: inline-block;
  height: $pagination_wh;
  width: $pagination_wh;
  border: 1px solid $thin;
  margin-left: 3px;
  line-height: $pagination_wh;
  text-align: center;
}

/************************************
** ページネーション
************************************/
.pagination{
  @include pagination_wrap;

  .current{
    background-color: $current_bgc;
  }

  .prev::before{
    @include fontawsome('\f104');
    padding-right: 3px;
  }

  .next::before{
    @include fontawsome('\f105');
    padding-left: 3px;
  }


  a{
    &:hover {
      @include bgc_hover;
    }
  }
}

.page-numbers{
  @include pagination_button;
}

.page-numbers.dots {
  opacity: 0.6;
  background-color: $xx_thin;
}

/************************************
** 「次のページ」ページネーション
************************************/
.pagination-next-link {
  background-color: #f9f9f9;
  border: 1px solid $thin;
  color: $text_color;
  display: block;
  font-size: 1.25em;
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 12px 0;
  display: block;

  &:hover {
    @include bgc_hover;
  }
}

/************************************
** マルチページのページャーリンク
************************************/
.pager-links{
  @include pagination_wrap;

  span{
    background-color: $current_bgc;
  }

  a{
    display: inline-block;

    span{
      background-color: $bg_white;
    }

    &:hover span {
      @include bgc_hover;
    }
  }

  // span{
  //   @include pagination_button;
  // }

}

/************************************
** 投稿ナビ
************************************/
$pn_margin_width: 10px;
.pager-post-navi{
  margin: 38px 0;
  display: flex;
  flex-direction: column;

  a{
    padding: $pn_margin_width;
    margin: 0;
    display: inline-flex;
    align-items: center;
    line-height: 1.2;
    font-size: 0.8em;
    //font-weight: bold;

    // border-radius: 50%;
    // overflow: hidden;

    // border: 1px solid $x_thin;

    // &:first-child{
    //   border-right: 0;
    // }

    &::before{
      font-size: 1.8em;
      color: $thin;
    }

    &.prev-post{
      flex-direction: row;
      padding-left: $pn_margin_width / 2;

      &::before{
        @include fontawsome('\f053');
        margin-right: $pn_margin_width / 2;
        padding-right: 0;
      }

     .prev-post-title{
        margin-left: $pn_margin_width;
      }
    }

    &.next-post{
      flex-direction: row-reverse;
      padding-right: $pn_margin_width / 2;

      &::before{
        @include fontawsome('\f054');
        margin-left: $pn_margin_width / 2;
        padding-right: 0;
      }

      .next-post-title{
        margin-right: $pn_margin_width;
      }
    }

    &.prev-next-home{
      justify-content: center;

      font-size: 50px;
      text-align: center;
      color: $middle_thickness;
    }
  }
}