/************************************
** ソースコード
************************************/
pre {
  background-color: $xx_thin;
  border: 1px solid $thin;
  overflow: auto;
  padding: 10px;
  margin: 1em 0;
}
