/************************************
** おすすめカード
************************************/
.recommended{
  .navi-entry-cards{
    display: flex;
    justify-content: center;
    a{
      padding: 0;
      margin: 0;
    }
  }

  figure{
    margin: 0;
  }

  .card-content{
    font-size: 0.8em;
    text-align: center;
  }
  .card-snippet{
    display: none;
  }

  &.no-title{
    .card-content{
      display: none;
    }
  }
}
