/************************************
** 関連記事
************************************/
.related-entry-card{
  @extend %card;

  .cat-label{
    font-size: 9px;
  }
}

/*関連エントリーカード*/
.related-entry-heading,
.comment-title{
  margin: 22px 0;
  font-size: 24px;
}

.related-entry-card-thumb{
  @extend %card_thumb;
}

.related-entry-card-content{
  @extend %card_content;
  margin-left: 170px;

}

.related-entry-card-title{
  @extend %card_title;
}

.related-entry-card-snippet{
  @extend %card_snippet;
}

.related-entry-card-meta {
  @extend %card_meta;
}


// .related-entry-card-thumb{
//   float: left;
//   margin-top: $emtry_card_thumb_margin_top;
//   position: relative;
//   width: 160px;
// }
// .related-entry-card-content{
//   margin-left: 170px;
//   padding-bottom: 1em;
// }

// .related-entry-card-title{
//   font-size: 18px;
//   margin: 0;
// }

// .related-entry-card-snippet{
//   font-size: $text_size_s;
// }

/************************************
** 関連記事表示タイプがミニカードの時
************************************/
.related-mini-card{
  .related-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .related-entry-card-wrap{
    width: 49.5%;
    padding: 7px;
  }

  .related-entry-card-thumb{
    width: 120px;
  }

  .related-entry-card-content{
    margin-left: 130px;
  }

  .related-entry-card-title{
    font-size: 16px;
  }

  .related-entry-card-snippet{
    display: none;
  }
}

/************************************
** 縦型カード
************************************/
.related-vartical-card{
  .related-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .related-entry-card-wrap{
    padding: 5px;
  }

  .related-entry-card-thumb{
    float: none;
    width: 100%;
    img{
      width: 100%;
    }
  }

  .related-entry-card-content{
    margin: 0;
    padding: 0;
  }

  .related-entry-card-title{
    font-size: 16px;
  }

  // .related-entry-card-snippet{
  //   display: none;
  // }

  .related-entry-card-meta{
    display: none;
  }
}

.related-vartical-card-3{
  .related-entry-card-wrap{
    width: 33%;
  }
}

.related-vartical-card-4{
  .related-entry-card-wrap{
    width: 24.5%;
  }
}

/************************************
** 関連記事ボーダー
************************************/
.related-entry-border{
  .related-entry-card-wrap{
    border: 1px solid $basic_border_color;
  }
}