/************************************
** サイドバーのスタイル
************************************/
.sidebar{
  //float: right;
  width: $sidebar_outer_width;
  border: $sidebar_border_width $sidebar_border_style $transparent_border_color;
  padding: $sidebar_padding_width;
  border-radius: $basic_border_radius;
  background-color: $bg_white;
  //height: 5000px;

  h3{
    background-color: $xx_thin;
    padding: 16px 10px;
    margin: 16px 0;
  }
}

.no-scrollable-sidebar .sidebar{
  height: 100%;
}

.sidebar-scroll{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}


// .sidebar-scroll{
//   background-color: $bg_white;
// }

/************************************
** サイドバーの位置
************************************/
.sidebar-left{
  .content-in{
    flex-direction: row-reverse;

  }

  .main{
    margin-right: 0;
    margin-left: $between_main_and_sidebar;
  }
}
