/************************************
** サイドバーのスタイル
************************************/
.sidebar{
  float: right;
  width: $sidebar_width;
  border: $sidebar_border_width $sidebar_border_style $transparent_border_color;
  padding: $sidebar_padding_width;
  border-radius: $basic_border_radius;

  h3{
    background-color: $bgc_hover_color;
    padding: 16px 10px;
  }
}

