/************************************
** SNSフォローボタン
************************************/
.sns-follow{
  @extend %margin_top_and_bottom_in_content;

  //ボタンカラー
  &{
    @extend %sns_button_color;
  }

}

.sns-follow-message{
  @extend %sns_message;
}

.sns-follow-buttons{

  a{
    width: 100%;
    margin-right: 8px;
    margin-bottom: $sns_button_margin_bottom;
    font-size: 30px;
    //line-height: 46px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;

    &:last-child{
      margin-right: 0;
    }

    .follow-count{
      @include service_count;
    }
  }

  // .website-button{
  //   font-size: 1.4em;
  // }
}

.fbc-hide .follow-count{
  display: none;
}

.icon-rakuten-room-logo{
  &::before{
    content: 'R';
    font-family: Arial, serif;
    font-weight: 700;
  }
}
