/************************************
** SNSシェアボタン
************************************/
%sns_button_color{
  //ボタンカラー
  &.bc-brand-color{
    .twitter-button{
      background-color: $twitter_color;
    }

    .facebook-button{
      background-color: $facebook_color;
    }

    .hatebu-button{
      background-color: $hatebu_color;
    }

    .google-plus-button{
      background-color: $google_plus_color;
    }

    .pocket-button{
      background-color: $pocket_color;
    }

    .line-button{
      background-color: $line_color;
    }

    .website-button{
      background-color: $website_color;
    }

    .instagram-button{
      background-color: $instagram_color;
    }

    .pinterest-button{
      background-color: $pinterest_color;
    }

    .youtube-button{
      background-color: $youtube_color;
    }

    .flickr-button{
      background-color: $flickr_color;
    }

    .amazon-button{
      background-color: $amazon_color;
    }

    .github-button{
      background-color: $github_color;
    }

    .feedly-button{
      background-color: $feedly_color;
    }

    .rss-button{
      background-color: $rss_color;
    }
  }

  &.bc-brand-color-white{
    a{
      background-color: $bg_white;
      font-weight: 500;
      &:hover{
        //background-color: $bgc_hover_color;
        //transition: $bgc_hover_anime;
        opacity: 0.5;
      }
    }

    .twitter-button{
      color: $twitter_color;
      border: 1px solid $twitter_color;
    }

    .facebook-button{
      color: $facebook_color;
      border: 1px solid $facebook_color;
    }

    .hatebu-button{
      color: $hatebu_color;
      border: 1px solid $hatebu_color;
    }

    .google-plus-button{
      color: $google_plus_color;
      border: 1px solid $google_plus_color;
    }

    .pocket-button{
      color: $pocket_color;
      border: 1px solid $pocket_color;
    }

    .line-button{
      color: $line_color;
      border: 1px solid $line_color;
    }

    .website-button{
      color: $website_color;
      border: 1px solid $website_color;
    }

    .instagram-button{
      color: $instagram_color;
      border: 1px solid $instagram_color;
    }

    .pinterest-button{
      color: $pinterest_color;
      border: 1px solid $pinterest_color;
    }

    .youtube-button{
      color: $youtube_color;
      border: 1px solid $youtube_color;
    }

    .flickr-button{
      color: $flickr_color;
      border: 1px solid $flickr_color;
    }

    .amazon-button{
      color: $amazon_color;
      border: 1px solid $amazon_color;
    }

    .github-button{
      color: $github_color;
      border: 1px solid $github_color;
    }

    .feedly-button{
      color: $feedly_color;
      border: 1px solid $feedly_color;
    }

    .rss-button{
      color: $rss_color;
      border: 1px solid $rss_color;
    }

    .line-button{
      color: $line_color;
      border: 1px solid $line_color;
    }

    .line-button{
      color: $line_color;
      border: 1px solid $line_color;
    }

    .line-button{
      color: $line_color;
      border: 1px solid $line_color;
    }

    .line-button{
      color: $line_color;
      border: 1px solid $line_color;
    }

  }
}


.sns-share{
  @extend %margin_top_and_bottom_in_content;
  &.ss-top{
    margin-top: 0;
    margin-bottom: 0;

    .sns-share-message{
      display: none;
    }
  }

  &.ss-top,
  &.ss-bottom{
    //カラム数
    &.ss-col-1 a{
      width: 100%;
    }

    &.ss-col-2 a{
      width: 49%;
    }

    &.ss-col-3 a{

    }

    &.ss-col-4 a{
      width: 24%;
    }

    &.ss-col-5 a{
      width: 19%;
    }

    &.ss-col-6 a{
      width: 16%;
    }

    %high_and_low{
      display: flex;
      align-content: center;

      line-height: 16px;
      .social-icon,
      .button-caption{
        display: block;
        font-size: 16px;
        margin: 0;
        &.button-caption{
          font-size: 12px;
        }
      }
    }

    //ロゴ・キャプション配置
    &.ss-high-and-low-lc a{
      @extend %high_and_low;
      flex-direction: column;
      >span{
        padding-top: 3px;
      }
    }

    &.ss-high-and-low-cl a{
      @extend %high_and_low;
      flex-direction: column-reverse;
    }

    //ボタンカラー
    &{
      @extend %sns_button_color;
    }
  }
}

.sns-share-message{
  @extend %sns_message;
}

$sns_button_margin_bottom: 8px;
// ↓これ必要か？
// .ss-top,
// .ss-bottom{
  .sns-share-buttons{
    @extend %sns_buttons;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;

    a{
      width: 32%;
      margin-bottom: $sns_button_margin_bottom;
      font-size: 18px;
      display: inline-flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      position: relative;

      .button-caption{
        font-size: 16px;
        margin-left: 10px;
      }

      .share-count{
        @include service_count;
      }
    }
  }
// }

//シェア数の非表示
.sbc-hide .share-count{
  display: none;
}
