/************************************
** SNSシェアボタン
************************************/
.sns-share{
  @extend %margin_top_and_bottom_in_content;
}

.sns-share-message{
  @extend %sns_message;
}

.sns-share-buttons{
  @extend %sns_buttons;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;

  a{
    width: 32.5%;
    height: 45px;
    margin-bottom: 8px;
  }
}

/************************************
** SNSフォローボタン
************************************/
.sns-follow{
  @extend %margin_top_and_bottom_in_content;
  //margin: 36px 0;
}

.sns-follow-message{
  @extend %sns_message;
}

.sns-follow-buttons{
  @extend %sns_buttons;

  a{
    width: 100%;
    height: 45px;
    margin-right: 8px;

    &:last-child{
      margin-right: 0;
    }
  }
}