///////////////////////////////////////
// 吹き出しスタイル
///////////////////////////////////////
.speech-wrap{
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 16px;
}

.speech-person{
  float: left;
  width: 80px;
}

.speech-icon-image{
  border-radius: 50%;
  border: 2px solid $basic_border_color;
}

.speech-name{
  text-align: center;
  font-size: 13px;
}

.speech-balloon{
  margin-left: 100px;
  position: relative;
  padding: 10px;
  background-color: $bg_white;
  border: 2px solid $basic_border_color;
  border-radius: 6px;
}

/* アイコンを左に表示 */
.speech-balloon::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 10px;
  border-right: 15px solid $basic_border_color;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.speech-balloon::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -12px;
  top: 10px;
  border-right: 15px solid $bg_white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}