///////////////////////////////////////
// 吹き出しスタイル
///////////////////////////////////////
.speech-wrap{
  // margin-bottom: 1.2em;
  //font-size: 16px;
  display: flex;

}

.speech-person{
  //float: left;
  width: 12%;
  min-width: 12%;
}

.speech-icon img,
.speech-icon amp-img{
  border-radius: 50%;
  border: 2px solid $basic_border_color;
  width: 100%;
}

.speech-name{
  text-align: center;
  font-size: 13px;
}

div.speech-balloon{
  //display: block;
  height: 100%;
  //display: table;
  // margin-left: 100px;
  // margin-right: 100px;
  position: relative;
  padding: 10px;
  background-color: $white;
  border: 2px solid $basic_border_color;
  border-radius: 6px;
  max-width: calc(100% - 14%);
  p{
    margin: 0;
  }
}

/* アイコンを左に表示 */
.speech-balloon::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -12px;
  top: 10px;
  border-right: 12px solid $basic_border_color;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
.speech-balloon::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -9px;
  top: 10px;
  border-right: 12px solid $white;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.sbp-l{
  margin-right: 100px;
  .speech-balloon{
    margin-left: 20px;
  }
}

//画像位置
.sbp-r{
  flex-direction: row-reverse;
  margin-left: 100px;
  // .speech-person{
  //   float: right;
  // }

  .speech-balloon{
    margin-right: 20px;
    //margin-left: auto;
  }

  /* アイコンを右に表示 */
  .speech-balloon::before{
    right: -12px;
    left: auto;
    border-left: 12px solid $basic_border_color;
    border-right: none;
  }
  .speech-balloon::after{
    right: -9px;
    left: auto;
    border-left: 12px solid $white;
    border-right: none;
  }

}

///////////////////////////////////////
// アイコンスタイル
///////////////////////////////////////
.sbis-sn{
  .speech-icon-image{
    border-radius: 0;
    border-style: none;
    box-shadow: none;
  }
}

.sbis-sb{
  .speech-icon-image{
    border-radius: 0;
  }
}

.sbis-cn{
  .speech-icon-image{
    border-style: none;
    box-shadow: none;
  }
}

///////////////////////////////////////
// 吹き出しスタイル
///////////////////////////////////////
.sbs-flat{
  .speech-balloon{
    background-color: #f1f1f1;
    border-color: #f1f1f1;

    &::before,
    &::after{
      border-right-color: #f1f1f1;
      border-left-color: #f1f1f1;
    }
  }
}

.sbs-line{
  .speech-balloon{
    border-width: 1px;
    // background-color: #85e249;
    // border-color: #85e249;

    &::after{
      left: -10px;
    }
    // &::before,
    // &::after{
    //   border-right-color: #85e249;
    //   border-left-color: #85e249;
    // }
  }
}

.sbs-line.sbp-r{
  .speech-balloon{
    background-color: #85e249;
    border-color: #85e249;

    &::after{
      left: auto;
      right: -10px;
    }
    &::before,
    &::after{
      border-right-color: #85e249;
      border-left-color: #85e249;
    }
  }

}

///////////////////////////////////////
// 考える吹き出し
///////////////////////////////////////
div.sbs-think{
  &.sbp-l{
    margin-right: 126px;
    .speech-balloon{
      margin-left: 46px;
    }
  }
  .speech-balloon{

    &::before {
      border: 2px solid $basic_border_color;
      border-radius: 50%;
      left: -29px;
      top: 11px;
      width: 20px;
      height: 20px;
    }

    &::after {
      border: 2px solid $basic_border_color;
      border-radius: 50%;
      left: -44px;
      top: 25px;
      width: 10px;
      height: 10px;
    }
  }
}
.sbs-think.sbp-r{
  margin-left: 126px;
  .speech-balloon{
    margin-right: 46px;

    &::before {
      left: auto;
      right: -29px;
    }

    &::after {
      left: auto;
      right: -44px;
    }
  }
}
