/************************************
** ウィジェット
************************************/

label.screen-reader-text{
  display: none;
}

// /*ウィジェットリスト*/
// .widget{
//   margin-bottom: 38px;

//   ul{
//     @include list_cancel;
//   }

// }

/*タグクラウド*/
.tagcloud {
  display: flex;
  flex-wrap: wrap;
  a {
    @include tagcloud_a;
  }
}

/*ウィジェット（カテゴリー・アーカイブなど）*/
.widget_recent_entries,
.widget_categories,
.widget_archive,
.widget_pages,
.widget_meta,
.widget_rss,
.widget_nav_menu{
  ul{
    @include list_cancel;

    li{
      ul{
        padding-left: 20px;
        margin: 0;
      }

      a{
        @include link_cancel;
        padding: 10px 0;
        display: block;
        padding-right: 4px;
        padding-left: 4px;

        &:hover {
          @include bgc_hover;
        }

        .post-count{
          display: block;
          float: right;
        }
      }

    }
  }

}

.widget_recent_comments{
  li{
    padding: 10px 0;
  }
}

/*カレンダー*/
.calendar_wrap{
  margin: 20px 0;
}

#wp-calendar {
  border-collapse: collapse;
  border-top-width: 1px;
  border-right-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-top-color: $x_thin;
  border-right-color: $x_thin;
  width: 100%;
  max-width: $widget_max_width;

  caption {
    font-weight: bold;
    text-align: center;
  }

  #today  {
    background-color: #ffe6b2;

    a{
      background-color: #ffe6b2;
      &:hover{
        background-color: #ffd67e;
      }
    }
  }

  tr{
    &:nth-of-type(2n+1){
      background-color: transparent;
    }
  }

  th {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-bottom-color: $x_thin;
    border-left-color: $x_thin;
  }

  td {
    text-align: center;
    padding: 0px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-bottom-color: $x_thin;
    border-left-color: $x_thin;

    a{
      color: $text_color;
      display: block;
      background-color: #ffface;
      &:hover{
        background-color: #fff69b;
      }
    }

  }
}

/************************************
** 新着記事ウィジェット（デフォルト）
************************************/
.widget-entry-card-thumb{
  @extend %card_thumb;
}

.widget-entry-cards{
  .a-wrap{
    padding: 5px;
    line-height: 1.3;
    margin-bottom: 4px;
  }

  figure{
    width: 120px;
  }
}

.widget-entry-card{
  font-size: 16px;
  position: relative;
}

.widget-entry-card-content{
  margin-left: 126px;
}

.widget-entry-card-snippet{
  margin-top: 6px;
  font-size: 12px;
  opacity: 0.8;
}

.widget-entry-card-pv{
  margin-left: 5px;
  font-style: italic;
  font-size: 0.8em;
  //font-weight: bold;
}

.border-partition a {
  border-bottom: 2px dotted $x_thin;

  &:first-of-type {
    border-top: 2px dotted $x_thin;
  }

  // &:last-of-type {
  //   border-bottom: 2px solid $x_thin;
  // }
}

.border-square a {
  border-radius: $basic_border_radius;
  border: 1px solid $thin;
}

.card-title-bold .card-title{
  font-weight: 700;
}

.card-arrow{
  .a-wrap{
    position: relative;
    &::after {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      bottom: 0;
      right: 20px;
      width: 6px;
      height: 6px;
      border-top: solid 2px #697b91;
      border-right: solid 2px #697b91;
      transform: rotate(45deg);
      margin-top: -3px;
    }
  }
  .card-content{
    margin-right: 22px;
  }
}
/************************************
** 新着記事ウィジェット（大きなサムネイル）
************************************/
.widget-entry-cards.card-large-image{
  .a-wrap{
    max-width: $widget_max_width;
  }

  .e-card{
    font-size: $text_size_default;
  }

  figure{
    float: none;
    width: 100%;

    img{
      width: 100%;
      display: block;
    }
  }

  .card-content{
    margin: 0 0 0.5em;
  }

  .widget-entry-card-pv{
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    padding: 3px 6px;
    background-color: #333;
    color: #fff;
  }
}


/************************************
** 新着記事ウィジェット（タイトルを重ねた大きなサムネイル）
************************************/
.widget-entry-cards.large-thumb-on{
  .a-wrap{
    overflow: hidden;
    &:hover{
      opacity: 0.8;
      .card-content{
        margin-bottom: -4em;
        transition: all 0.5s;
        opacity: 0;
      }
    }
  }

  .e-card{
    position: relative;
  }

  .card-content{
    margin: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: .6em;
    //background-color: $transpalent_black_bgc;
    background: linear-gradient(180deg, transparent, #555);
    color: $white;
    max-height: 40%;
    overflow: hidden;
    transition: all 0.5s;
  }


  .card-snippet{
    margin: 0;
  }
}



/************************************
** 人気記事ウィジェットランキング表示
************************************/
.widget-entry-cards.ranking-visible{
  counter-reset: p-rank;

  .no-1 .card-thumb::before{
    background: #cca11f;
  }
  .no-2 .card-thumb::before{
    background: #b1b1b3;
  }
  .no-3 .card-thumb::before{
    background: #b37036;
  }

  .card-thumb{
    counter-increment: p-rank;

    &::before{
      content: counter(p-rank);
      position: absolute;
      top: 0;
      left: 0;
      padding: 4px;
      width: 18px;
      height: 18px;
      line-height: 18px;
      background-color: #666;
      color: #fff;
      opacity: 0.9;
      text-align: center;
      font-size: 14px;
      font-family: Arial,sans-serif;
      z-index: 1;
    }
  }
}

/************************************
** 最近のコメントウィジェット
************************************/
.recent-comments{
  line-height: 1.3;
  // .a-wrap{
  //   &:hover{
  //     .recent-comment-content{
  //       @include bgc_hover;
  //     }
  //   }
  // }
}

.recent-comment-avatar{
  float: left;
  margin-right: 10px;
}

.recent-comment-author{
  font-weight: bold;
}

.recent-comment-info,
.recent-comment-article{
  font-size: 16px;
}

.recent-comment-article{
  margin-top: 3px;
}

.recent-comment-content {
  position: relative;
  background: $white;
  border: 1px solid $thin;
  padding: 6px;
  margin-top: 4px;
  font-size: 0.9em;
  border-radius: 5px;

  &::after, &::before {
    bottom: 100%;
    left: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &::after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: $white;
    border-width: 6px;
    margin-left: -6px;
  }
  &::before {
    border-color: rgba(221, 221, 221, 0);
    border-bottom-color: $thin;
    border-width: 9px;
    margin-left: -9px;
  }
}

/************************************
** フォーローボタウィジェット
************************************/
.sidebar,
.footer{
  .sns-follow-buttons{
    flex-wrap: wrap;
    justify-content: space-between;

    a{
      width: 49%;
      margin-right: 0;
    }
  }
}

///////////////////////////////////////
// テーマ独自ウィジェット
///////////////////////////////////////
.widget_mobile_text,
.widget_mobile_ad{
  display: none;
}

.widget{
  h2{
    font-size: 20px;
  }
}
