/************************************
** ウィジェット
************************************/

label.screen-reader-text{
  display: none;
}

/*ウィジェットリスト*/
.widget{
  margin-bottom: 38px;

  ul{
    @include list_cancel;
  }

}

/*タグクラウド*/
.tagcloud {
  a {
    background-color: $bg_white;
    border: 1px solid $x_thin;
    border-radius: 2px;
    color: #555;
    display: inline-block;
    margin-bottom: 5px;
    padding: 4px 8px;
    text-decoration: none;
    font-size: 12px;

    &::before{
      @include fontawsome('\f02b');
    }

    &:hover {
      @include bgc_hover;
    }

    .tag-link-count{
      margin-left: 10px;

    }
  }
}

/*ウィジェット（カテゴリー・アーカイブなど）*/
.widget_recent_entries,
.widget_categories,
.widget_archive,
.widget_pages,
.widget_meta{
  ul{
    @include list_cancel;

    li{
      ul{
        padding-left: 20px;
      }

      a{
        @include link_cancel;
        padding: 10px 0;
        display: block;
        padding-right: 4px;
        padding-left: 4px;

        &:hover {
          @include bgc_hover;
        }

        .post-count{
          display: block;
          float: right;
        }
      }

    }
  }

}

/*カレンダー*/
.calendar_wrap{
  margin: 20px 0;
}

#wp-calendar {
  border-collapse: collapse;
  border-top-width: 1px;
  border-right-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-top-color: $x_thin;
  border-right-color: $x_thin;
  width: 100%;
  max-width: 400px;

  caption {
    font-weight: bold;
    text-align: center;
  }

  #today  {
    background-color: #ffe6b2;

    a{
      background-color: #ffe6b2;
      &:hover{
        background-color: #ffd67e;
      }
    }
  }

  tr{
    &:nth-of-type(2n+1){
      background-color: transparent;
    }
  }

  th {
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-bottom-color: $x_thin;
    border-left-color: $x_thin;
  }

  td {
    text-align: center;
    padding: 0px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-bottom-color: $x_thin;
    border-left-color: $x_thin;

    a{
      color: $text_color;
      display: block;
      background-color: #ffface;
      &:hover{
        background-color: #fff69b;
      }
    }

  }
}
