@charset "UTF-8";
/*
  Skin Name: Fuwari -御召茶(おめしちゃ)-
  Description: 和色「御召茶(おめしちゃ)」をベースにしたふわりと色づいたスキン
  Skin URI: https://mizutama.blog/cocoon-skin-fuwari/
  Author: アオイ
  Author URI: https://mizutama.blog/
  Screenshot URI: https://im-cocoon.net/wp-content/uploads/skin-fuwari-omeshicha.png
  Version: 1.1
  Priority: 9890001000
*/
/************************************
** 基本
************************************/
body {
	background-color: #edf3f3;
}

/************************************
** フォーム関連
************************************/
.search-edit,
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
	padding: 8px;
	border: 1px solid #aec9cc;
	font-size: 14px;
}

.search-submit {
	line-height: 35px;
}

/************************************
** 投稿・固定ページで使うHTML要素
************************************/
p {
	margin-bottom: 2em;
}

/************************************
** テーブル
************************************/
table {
	border: solid 1px #8eb4b9;
}

table th,
table td {
	border-color: #aec9cc;
}

table th {
	font-weight: normal;
	background-color: #edf3f3;
}

/************************************
** 見出し
************************************/
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
	color: #39585b;
}
.article h3,
.article h4,
.article h5,
.article h6 {
	margin-top: 40px;
	margin-bottom: 35px;
}

.article h4,
.article h5,
.article h6 {
	font-size: 18px;
}

.article h2 {
	margin-bottom: 40px;
	padding: 0.625em;
	border-bottom: 1px solid #cddee0;
	background: #f6f9f9;
	font-size: 22px;
}

.article h3 {
	padding: 12px 10px;
	border: none;
	background: #f6f9f9;
	font-size: 20px;
}

.article h4 {
	border-top: 1px solid #cddee0;
	border-bottom: 1px solid #cddee0;
}

.article h5 {
	border-bottom: 1px solid #cddee0;
}

.article h6 {
	border-bottom: 1px solid #dde8ea;
}

.archive-title {
	padding: 5px;
	border-bottom: 3px solid #cddee0;
	color: #4d767b;
	font-size: 20px;
}

/************************************
** ヘッダー
************************************/
.header-container {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.04);
}

/************************************
** グローバルメニュー
************************************/
.navi-in > ul .sub-menu {
	background-color: rgba(205, 222, 224, 0.9);
}
.navi-in > ul .sub-menu a:hover {
	background-color: rgba(174, 201, 204, 0.9);
}

.navi-in a {
	font-size: 14px;
}

.navi-in a:hover {
	background-color: #edf3f3;
}

/************************************
** モバイルヘッダーナビ
************************************/
@media screen and (max-width: 834px) {
	#navi .navi-in > .menu-mobile a {
		border-top: 1px solid #cddee0;
		border-right: 1px solid #cddee0;
		color: #43676b;
	}
	#navi .navi-in > .menu-mobile a:nth-child(even) {
		border-right: none;
	}
	#navi .navi-in > .menu-mobile a:hover {
		background-color: #fff;
	}
	.navi-in a:hover {
		background-color: #fff;
	}
}

/************************************
** SNS
************************************/
.sns-share-message,
.sns-follow-message {
	text-align: left;
}

.sns-share-buttons a,
.sns-follow-buttons a,
.sidebar .sns-follow-buttons a,
.footer .sns-follow-buttons a {
	width: 34px !important;
	height: 34px;
	margin-right: 8px;
	background-color: #9ebfc2;
}
.sns-share-buttons a:last-child,
.sns-follow-buttons a:last-child,
.sidebar .sns-follow-buttons a:last-child,
.footer .sns-follow-buttons a:last-child {
	margin-right: 0;
}

.sns-share-buttons a span.social-icon {
	padding-top: 0;
	font-size: 20px !important;
}

.sns-follow-buttons a {
	font-size: 28px !important;
}

.ss-top a.share-button {
	width: 12% !important;
	height: 34px;
}
.ss-top .sns-share-buttons {
	justify-content: center;
}

.ss-bottom .sns-share-buttons,
.sns-follow-buttons,
.sidebar .sns-follow-buttons,
.footer .sns-follow-buttons {
	justify-content: left;
}

.button-caption,
.share-count {
	display: none !important;
}

/************************************
** 記事ページ
************************************/
.article-footer,
.entry-footer {
	margin-top: 3em;
	padding-top: 3em;
	border-top: 1px solid #aec9cc;
}

/************************************
** ブログカード
************************************/
.blogcard-wrap .blogcard {
	padding: 1.2% 2%;
	border: 1px solid #aec9cc;
	background-color: #fcfdfd;
}
.blogcard-wrap .blogcard:hover {
	border: 1px solid #6fa0a5;
	background-color: #fff;
}

/************************************
** 目次
************************************/
.toc {
	width: 80%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border: 1px solid #aec9cc;
}

.toc-content {
	border-top: 1px solid #edf3f3;
}

/************************************
** 引用（blockquote）
************************************/
blockquote {
	padding: 10px 30px 10px 50px;
	border-color: #aec9cc;
	background-color: #fcfdfd;
}
blockquote::before {
	display: inline-block;
	position: absolute;
	top: 20px;
	left: 12px;
	color: #dde8ea;
	font-family: FontAwesome;
	font-size: 30px;
	vertical-align: middle;
	line-height: 1;
	content: "\f10d";
}
blockquote::after {
	content: none;
}

/************************************
** 画像
************************************/
.wp-caption {
	border: 1px solid #aec9cc;
	border-radius: 0;
	background-color: #fff;
}

p.wp-caption-text {
	margin: 0;
	padding: 0.5em 0;
}

.wp-caption img {
	vertical-align: bottom;
}

/************************************
** カテゴリリンク・タグリンク
************************************/
.cat-link {
	background-color: #9ebfc2;
	color: #fff;
}

.cat-link:hover {
	background-color: #9ebfc2;
	opacity: 0.7;
	color: #fff;
}

.tag-link,
.comment-reply-link {
	border: 1px solid #8eb4b9;
	color: #8eb4b9;
}

.tag-link:hover,
.comment-reply-link:hover {
	background-color: #edf3f3;
	color: #8eb4b9;
}

/************************************
** ページャーリンク
************************************/
.pager-links a {
	text-decoration: none;
}

.pager-links a span {
	background-color: #7faaaf;
	color: #fff;
	transition: all 0.4s ease-out;
}

.pager-links a:hover span {
	background-color: #699ba1;
	color: #fff;
}

/************************************
** ページナンバー
************************************/
.page-numbers {
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 2px;
	line-height: 30px;
}

a.page-numbers {
	background-color: #7faaaf;
	color: #fff;
	transition: all 0.4s ease-out;
}
a.page-numbers:hover {
	background-color: #57858a;
	color: #fff;
}

/************************************
** 投稿ナビ
************************************/
.pager-post-navi {
	border: 1px solid #aec9cc;
}
.pager-post-navi .card-thumb img {
	vertical-align: bottom;
}

@media screen and (max-width: 480px) {
	.pager-post-navi a figure {
		min-width: 20%;
		max-width: 20%;
	}
	.pager-post-navi a.next-post {
		border-top: 1px solid #aec9cc;
	}
}
@media screen and (min-width: 481px) {
	.pager-post-navi {
		display: flex;
		flex-direction: row;
		position: relative;
		justify-content: space-between;
	}
	.pager-post-navi a.prev-post,
	.pager-post-navi a.next-post {
		width: 50%;
		margin: 0;
	}
	.pager-post-navi::after {
		position: absolute;
		top: 0;
		left: 50%;
		width: 1px;
		height: 100%;
		background-color: #cddee0;
		content: "";
	}
}
.pager-post-navi a.prev-post::before,
.pager-post-navi a.next-post::before {
	color: #8eb4b9;
}

/************************************
** 関連記事
************************************/
.related-entry-heading,
.comment-title {
	padding: 6px 20px;
	background-color: #edf3f3;
	color: #4d767b;
	font-size: 20px;
}

.related-entry-card-title {
	color: #4d767b;
}

.related-entry-border .related-entry-card-wrap {
	border: 1px solid #aec9cc;
}

/************************************
** エントリーカード
************************************/
.list .entry-card-title {
	margin-bottom: 0.4em;
	padding: 0.4em 0;
	border-bottom: 2px solid #edf3f3;
	font-weight: normal;
}

@media screen and (max-width: 480px) {
	.list .entry-card-title {
		margin-bottom: 0.3em;
		padding: 0.3em 0;
		border: none;
	}
}
.list .entry-card-snippet {
	color: #595857;
	line-height: 1.5;
}

.list .card-thumb img {
	border: 3px solid #fff;
	border-radius: 4px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	transition: all 0.4s ease-out;
}

.list .a-wrap:hover {
	border-radius: 4px;
	background: none;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.list .a-wrap:hover .card-thumb img {
	border-radius: 0;
	box-shadow: none;
}

.a-wrap:hover {
	background-color: #edf3f3;
}

.cat-label {
	top: 3px;
	left: 3px;
	padding: 1px 8px 1px 8px;
	border: none;
	border-top-width: 0;
	border-left-width: 0;
	background-color: rgba(67, 103, 107, 0.9);
}

@media screen and (min-width: 769px) {
	.entry-card-thumb {
		width: 30%;
	}

	.entry-card-content {
		margin-left: 35%;
	}
}
/************************************
** 「次のページ」ページネーション
************************************/
.pagination-next-link {
	margin: 4em auto 0;
	padding: 8px 0;
	border: none;
	border-radius: 4px;
	background-color: #7faaaf;
	color: #fff;
	font-size: 0.938em;
	transition: all 0.4s ease-out;
}

.pagination-next-link:hover {
	background-color: #699ba1;
	color: #fff;
}

@media screen and (min-width: 769px) {
	.pagination-next-link {
		width: 60%;
	}
}
/************************************
** サイドバー
************************************/
.sidebar h3 {
	position: relative;
	margin-bottom: 1.5em;
	padding: 0 5px;
	border-bottom: 2px solid #edf3f3;
	background: none;
	color: #4d767b;
	font-size: 18px;
}
.sidebar h3::after {
	display: block;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 30%;
	border-bottom: 2px solid #cddee0;
	content: " ";
}

/************************************
** ウィジェット
************************************/
.widget h2 {
	color: #4d767b;
}

.widget_recent_entries ul li a,
.widget_categories ul li a,
.widget_archive ul li a,
.widget_pages ul li a,
.widget_meta ul li a,
.widget_rss ul li a,
.widget_nav_menu ul li a {
	padding: 5px 0;
}

.widget_recent_entries ul li a:hover,
.widget_categories ul li a:hover,
.widget_archive ul li a:hover,
.widget_pages ul li a:hover,
.widget_meta ul li a:hover,
.widget_rss ul li a:hover,
.widget_nav_menu ul li a:hover {
	background-color: #edf3f3;
}

/************************************
** 新着記事ウィジェット
************************************/
.widget-entry-cards .a-wrap {
	list-style-type: none !important;
	margin-bottom: 0;
	border-bottom: solid 1px #cddee0;
}
.widget-entry-cards .a-wrap:last-of-type {
	border-bottom: none;
}

.widget-entry-cards .widget-entry-card-content {
	padding-top: 0.5em;
}

/************************************
** 人気記事ウィジェットランキング
************************************/
.widget-entry-cards.ranking-visible .widget-entry-card-thumb::before {
	background-color: #43676b;
}

/************************************
** プロフィールボックス
************************************/
.author-box {
	margin-top: 3em;
	position: relative;
	border: 1px solid #aec9cc;
	border-radius: 0;
	background-color: #fcfdfd;
}
.author-box p {
	margin: 0.3em 0 1em;
}
.author-box .author-name a {
	color: #43676b;
	text-decoration: none;
}
.author-box .author-description {
	margin: 0.5em 0;
	font-size: 0.95em;
}
.author-box .sns-follow-buttons a.follow-button {
	width: 24px !important;
	height: 24px;
	border: none;
	border-radius: 50%;
	background-color: #39585b;
	color: #fff;
	font-size: 20px !important;
}
.author-box .sns-follow-buttons a.follow-button:hover {
	background-color: #43676b;
}

.author-thumb {
	width: 80px;
}

.main .author-content,
.footer .author-content {
	margin-left: 100px;
}
.main .author-widget-name,
.footer .author-widget-name {
	display: inline-block;
	position: absolute;
	top: -25px;
	left: -1px;
	height: 25px;
	padding: 0 14px;
	background: #8eb4b9;
	color: #fff;
	font-size: 14px;
	vertical-align: middle;
	line-height: 25px;
}

.nwa .author-box {
	max-width: 100%;
}
.nwa .author-box .sns-follow-buttons a.follow-button {
	font-size: 18px !important;
}

/************************************
** フッター
************************************/
.footer-widgets {
	border-bottom: 1px solid #aec9cc;
}

.footer-title {
	color: #4d767b;
}

/************************************
** フッターメニュー
************************************/
.navi-footer-in a {
	color: #43676b;
}
.navi-footer-in a:hover {
	background-color: #f6f9f9;
}

.navi-footer-in > .menu-footer li {
	border-left: 1px solid #dde8ea;
}

@media screen and (max-width: 834px) {
	.navi-footer-in > .menu-footer li.menu-item {
		border: none;
	}
	.navi-footer-in a {
		background-color: #edf3f3;
	}
}
/************************************
** モバイルフッターバー
************************************/
.mobile-menu-buttons {
	background: #6fa0a5;
}
.mobile-menu-buttons .menu-caption,
.mobile-menu-buttons .menu-icon {
	color: #fff;
}
.mobile-menu-buttons .menu-button:hover {
	background-color: #57858a;
}

.navi-menu-content {
	background-color: #aec9cc;
}
.navi-menu-content .menu-drawer a {
	color: #fff;
	border-bottom: 1px solid #bed4d6;
}
.navi-menu-content .menu-drawer .sub-menu {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
.navi-menu-content .menu-drawer .sub-menu a {
	padding-left: 2.2em;
}
.navi-menu-content .menu-drawer .sub-menu a::before {
	display: block;
	position: absolute;
	top: 0.5em;
	left: 1.4em;
	width: 1em;
	content: "-";
}
.navi-menu-content .menu-drawer a {
	position: relative;
	padding: 10px;
}
.navi-menu-content .menu-drawer a:hover {
	background-color: #bed4d6;
}
.navi-menu-content .menu-drawer a::after {
	position: absolute;
	right: 0;
	padding-right: 8px;
	color: #fff;
	font-family: FontAwesome;
	content: "\f054";
}

.search-menu-content {
	top: 55%;
}

/************************************
** トップへ戻るボタン
************************************/
.go-to-top-button {
	background-color: rgba(174, 201, 204, 0.5);
	color: #43676b;
}
.go-to-top-button:hover {
	background-color: rgba(142, 180, 185, 0.5);
}

/************************************
** ボックス
************************************/
.primary-box,
.sp-primary,
.primary {
	background-color: #a6a5a3;
	color: #fff;
}

/*サクセスメッセージ*/
.success-box,
.sp-success,
.success {
	border: #b4d09b;
	background-color: #dbe8cf;
}

/*インフォメッセージ*/
.info-box,
.sp-info,
.info {
	border: #9ac4d0;
	background-color: #cee2e8;
}

/*注意メッセージ*/
.warning-box,
.sp-warning,
.warning {
	border: #e6da94;
	background-color: #f7f2db;
}

/*警告メッセージ*/
.danger-box,
.sp-danger,
.danger {
	border: #df9a87;
	background-color: #f4ded7;
}

/*******************************
* 補足説明
********************************/
.information-box,
.question-box,
.alert-box,
.information,
.question,
.alert,
.memo-box,
.comment-box,
.common-icon-box {
	margin-top: 2em;
	padding: 16px;
	border-width: 2px 2px 2px 48px;
	border-radius: 5px 0 0 5px;
	background-color: #fff;
	line-height: 2;
}
.information-box::before,
.question-box::before,
.alert-box::before,
.information::before,
.question::before,
.alert::before,
.memo-box::before,
.comment-box::before,
.common-icon-box::before {
	left: -46px;
	padding: 0;
	border-right: none;
	color: #fff;
	font-size: 30px;
}
.information-box p,
.question-box p,
.alert-box p,
.information p,
.question p,
.alert p,
.memo-box p,
.comment-box p,
.common-icon-box p {
	margin: 0;
}
.information-box p + p,
.question-box p + p,
.alert-box p + p,
.information p + p,
.question p + p,
.alert p + p,
.memo-box p + p,
.comment-box p + p,
.common-icon-box p + p {
	margin-top: 10px;
}

.information-box,
.information {
	border-color: #bcd8e0;
}

.question-box,
.question {
	border-color: #ebe1a9;
}

.alert-box,
.alert {
	border-color: #e9bcaf;
}

.memo-box {
	border-color: #cee0bd;
}

.comment-box {
	border-color: #ced2d5;
}

.ok-box {
	border-color: #8dd2e1;
}

.ng-box {
	border-color: #eea9a9;
}

.good-box {
	border-color: #a6c978;
}

.bad-box {
	border-color: #f196a6;
}

@media screen and (max-width: 440px) {
	.information-box,
	.question-box,
	.alert-box,
	.information,
	.question,
	.alert,
	.memo-box,
	.comment-box,
	.common-icon-box {
		padding: 6px;
		border-width: 2px 2px 2px 30px;
	}
	.information-box::before,
	.question-box::before,
	.alert-box::before,
	.information::before,
	.question::before,
	.alert::before,
	.memo-box::before,
	.comment-box::before,
	.common-icon-box::before {
		top: 50%;
		left: -13px;
		margin-left: -0.5em;
		padding: 0;
		font-size: 20px;
	}
}
.blank-box.bb-yellow {
	border-color: #e6da94;
}

.blank-box.bb-red {
	border-color: #df9a87;
}

.blank-box.bb-blue {
	border-color: #9ac4d0;
}

.blank-box.bb-green {
	border-color: #b4d09b;
}

.blank-box.bb-tab.bb-yellow::before,
.blank-box.bb-tab.bb-yellow .bb-label {
	background-color: #e6da94;
}

.blank-box.bb-tab.bb-red::before,
.blank-box.bb-tab.bb-red .bb-label {
	background-color: #df9a87;
}

.blank-box.bb-tab.bb-blue::before,
.blank-box.bb-tab.bb-blue .bb-label {
	background-color: #9ac4d0;
}

.blank-box.bb-tab.bb-green::before,
.blank-box.bb-tab.bb-green .bb-label {
	background-color: #b4d09b;
}

.blank-box.sticky.st-yellow {
	border-color: #e6da94;
	background-color: #f7f2db;
}

.blank-box.sticky.st-red {
	border-color: #df9a87;
	background-color: #f4ded7;
}

.blank-box.sticky.st-blue {
	border-color: #9ac4d0;
	background-color: #dfecf0;
}

.blank-box.sticky.st-green {
	border-color: #b4d09b;
	background-color: #e8f0e0;
}

/************************************
** カルーセル
************************************/
.carousel {
	margin-bottom: 30px;
}

.carousel-entry-card-title {
	font-size: 14px;
}

/************************************
** モバイルメニュー　トップボタン
************************************/
.slicknav_btn {
	background: #57858a;
}

.slicknav_menu {
	background-color: #8eb4b9;
}

/************************************
** Font Awesome5対応
************************************/
.font-awesome-5 blockquote::before,
.font-awesome-5 .navi-menu-content .menu-drawer a::after{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}
