@charset "UTF-8";

/*!
  Skin Name: Veilnui Simplog (purple)
  Description: veilnuiが作成したシンプルなブログスキン（紫色）
  Skin URI: https://simplog.veilnui.org
  Author: veilnui
  Author URI: https://veilnui.net/
  Screenshot URI: images/image.png
  Version: 1.1
  License: http://www.gnu.org/licenses/gpl-2.0.html/ GPL v2 or later
*/

//-------
// Fields
//-------
// Font color
$font-color: #333333;
// Background color
$white-color: white;
// Hover color
$hover-color: #F3E5F5;
// Base color (60%)
$base-color: #F3E5F5;
// Key color（10%）
$key-color: #6A1B9A;
// Main color（30%）
$main-color-light: #CE93D8;
$main-color-midium: #AB47BC;
$main-color-dark: #8E24AA;

// Base file import
@import "..\\_base.scss";