/*
  Skin Name: COLORS（ブルー）
  Description: 日本の伝統食・青色（#0095d9）をベースとしたシンプルスキン。
  Skin URI: https://wp-cocoon.com/skin-colors/
  Author: わいひら
  Author URI: https://nelog.jp/
  Screenshot URI: https://im-cocoon.net/wp-content/uploads/colors-blue.png
  Version: 1.0.1
  Priority: 103
*/
/*以下にスタイルシートを記入してください*/
$bg_color: #e6ecf0;
$white: #fff;
$key_color: #0095d9;
$key_sub_color: #89c3eb;
$key_color_thin: rgba(0, 149, 217, 0.05);
$h_bk_color: #eaf4fc;
$sub_menu_hover_bg_color: #333;
$border_color: #ccc;

//基本要素
@import "base";
//グローバルナビ
@import "navi";
//見出し
@import "h";
//追加
@import "add";
