@charset "UTF-8";

/*!
  Skin Name: Veilnui Simplog (red)
  Description: シンプルなブログスキン（赤色）
  Skin URI: https://wp-cocoon.com/veilnui-simplog
  Author: veilnui
  Priority: 9840001000
  Screenshot URI: https://wp-cocoon.com/wp-content/themes/cocoon-master/skins/veilnui-simplog-red/images/image.png
  Version: 1.1.7
  License: http://www.gnu.org/licenses/gpl-2.0.html/ GPL v2 or later
*/

//-------
// Fields
//-------
// Font color
$font-color: #333333;
// Background color
$white-color: white;
// Hover color
$hover-color: #FFEBEE;
// Base color (60%)
$base-color: #FFEBEE;
// Key color（10%）
$key-color: #C62828;
// Main color（30%）
$main-color-light: #EF9A9A;
$main-color-midium: #EF5350;
$main-color-dark: #E53935;

// Base file import
@import "..\\_scss\\_veilnui_simplog_base.scss";
