Thumbs.db
prepros.config
blocks/src/demo/
blocks/src/sample/
node_modules/
package-lock.json

# Cursor
.cursor/

# Agent
.agent

#CLAUDE
.mcp.json
CLAUDE.md
.claude
.serena
claudedocs

# NVM
.nvmrc

# Composer
vendor/
composer.lock

# PHPUnit
.phpunit.cache/
tests/coverage/
configs/

# VS Code設定
.vscode/
