@charset "UTF-8";
/*ビジュアルエディターのスタイルを書く*/
body#tinymce {
  padding: 0 20px !important;
  margin-top: 0 !important;
  background-image: none;
  background-color: #fff;
}

.column-2,
.column-3{
  margin: 16px 0;
}

.column-2::before,
.column-3::before{
  content: "※カラムへの着色はエディタのみ";
  position: absolute;
  left: 0;
  right: 0;
  top: -1em;
  width: 31%;
  font-size: 0.8em;
  padding: 4px 8px;
  background-color: #f7dde4;
  text-align: center;
}

html[lang="en"] .column-2::before,
html[lang="en"] .column-3::before{
  content: "* Coloring is Editor Only.";
}

.column-left{
  background-color: #c7e1ef;
}

.column-center{
  background-color: #c9e8d8;
}

.column-right{
  background-color: #ffecd3;
}

/*ビジュアルエディターにinstagramの引用符が表示される対応*/
.instagram-media {
  position: relative !important;
}

/*Gutenbergの引用スタイルを打ち消す*/
.wp-block-freeform.core-blocks-rich-text__tinymce blockquote{
  border: 1px solid #ccc;
}

/*Gutenbergのテーマ用ドロップダウンリストを1列に収める*/
.mce-listbox button {
  max-width: 98px;
}
/* Main column width */
BODY.GUTENBERG-EDITOR-PAGE .EDITOR-POST-TITLE__BLOCK,
BODY.GUTENBERG-EDITOR-PAGE .EDITOR-DEFAULT-BLOCK-APPENDER,
BODY.GUTENBERG-EDITOR-PAGE .EDITOR-BLOCK-LIST__BLOCK {
  MAX-WIDTH: 800PX;
}

body.gutenberg-editor-page .editor-block-list__layout{
  padding: 0;
}

body.gutenberg-editor-page div.editor-post-title__block,
body.gutenberg-editor-page div.editor-default-block-appender,
body.gutenberg-editor-page div.editor-block-list__block {
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
}


@media screen and (max-width: 600px){
  div.edit-post-visual-editor .editor-block-list__block .editor-block-list__block-edit {
    margin-left: 10%;
    margin-right: 10%;
  }
  div.editor-block-list__block::before,
  div.editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit::before {
    left: 0;
    right: 0;
  }
  div.freeform-toolbar{
    margin: 0;
  }
}
@media screen and (min-width: 960px){
  div.edit-post-text-editor {
    padding-left: 10%;
    padding-right: 10%;
  }
}

div.mce-content-body{
  line-height: inherit;
}
/*
br[data-mce-bogus]{
  display: none;
} */