@keyframes shine {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
    -webkit-transform: scale(0) rotate(45deg);
    -moz-transform: scale(0) rotate(45deg);
    -ms-transform: scale(0) rotate(45deg);
    -o-transform: scale(0) rotate(45deg);
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
