@charset "UTF-8";
/*
  Skin Name: スキンからオプション変更サンプル（PHP）
  Description: functions.phpファイルの変更により、テーマのデザインを変更するデモ。詳細は、スキンフォルダー内のfunctions.phpファイルを参照してください。サンプルですので、実用性はありません。
  Skin URI: https://wp-cocoon.com/
  Author: わいひら
  Author URI: https://nelog.jp/
  Screenshot URI: https://im-cocoon.net/wp-content/uploads/php-demo.jpg
  Version: 0.0.1
  Priority: 900001
*/
/*以下にスタイルシートを記入してください*/
