.navi{
  display: none;
}

.main,
.sidebar{
  padding: 5px;
  margin: 0;
}

.a-wrap{
  padding: 0px;
}

.entry-card-title,
.related-entry-card-title{
  font-size: 18px;
}

.entry-card-thumb{
  width: 38%;
}

.entry-card-content{
  margin-left: 40%;
}

.entry-card-meta,
.related-entry-card-meta{
  //position: relative;
}

table{
  th,
  td{
    padding: 3px;
    font-size: $text_size_s;
  }
}