.content-in{
  //display: block;
}

// .main,
// .sidebar,
div.wrap{
  width: auto;
}

main.main,
div.sidebar,
.sidebar-left .main,
.sidebar-left .sidebar{
  margin: 0 0.5%;
  //float: none;
}

main.main{
  width: 67%;
}


div.sidebar{
  padding: 0px 10px;
  width: 30%;
  //overflow: hidden;
}


.entry-card-thumb{
  width: 38%;
}

.entry-card-content{
  margin-left: 40%;
}

