//「インデックス」設定の「スマートフォンで縦型＆タイル型のエントリーカードを1カラムにする」に利用
.ect-vertical-card .entry-card-wrap,
.rect-vertical-card .related-entry-card-wrap,
.ect-2-columns > *,
.ect-3-columns > *,
.fpt-2-columns > *,
.fpt-3-columns > *{
  width: 100% !important;
}