h2, h3{
  font-size: 20px;
}

.related-entry-heading,
.comment-title{
  margin: 6px 0 12px;
}

.entry-card-snippet,
.related-entry-card-snippet,
.blogcard-snipet{
	display: none;
}

.cat-label{
  font-size: 8px;
  padding: 0 3px;
}

.page-numbers{
  width: 34px;
  height: 34px;
  line-height: 34px;
  margin-left: 0;
}

.pagination-next-link{
  font-size: 1em;
}


.related-entry-card-thumb{
  width: 38%;
}

.related-entry-card-content{
  margin-left: 40%;
  max-height: 100px;
  font-size: 0.9em;
}

/*本文の見出し*/
.entry-title,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6{
	font-size: 20px;
	padding: 6px;
	margin: 6px 0 12px;
}

.entry-title{
  margin: 0;
  margin-bottom: 6px;
}

body{
	font-size: 16px;
}

///////////////////////////////////////
// シェアボタン・フォローボタン
///////////////////////////////////////
.ss-top .sns-share-buttons,
.ss-bottom .sns-share-buttons {
  a{
    font-size: 14px;

    .button-caption{
      font-size: 14px;
      margin-left: 4px;
    }
  }
}

.sns-share.ss-top.ss-col-6 a,
.sns-share.ss-bottom.ss-col-6 a{
  width: 32%;
}

///////////////////////////////////////
// ページ送りナビ
///////////////////////////////////////
.pager-post-navi a figure{
  width: 20%;
}

///////////////////////////////////////
// 関連記事ミニカード
///////////////////////////////////////
.related-mini-card{
  .related-entry-card-wrap{
    width: 100%;
  }
}

.pager-post-navi.post-navi-square{
  flex-direction: column;
  a{
    width: 100%;
    padding: 7px;
  }
  a:last-child{
    border-top-width: 0;
    border-left-width: 1px;
  }

  // a.prev-next-home{
  //   display: none;
  // }
}


@include author_box_nallow;
// .article{
//   @extend %author_box_nallow;
// }
