.navi-footer{
  float: none;
  margin: 0;
}

.navi-footer-in > ul{
  justify-content: center;
  padding: 1em;
}

.footer-widgets{
  flex-direction: column;
  div{
    width: 100%;
  }
}

.content-in{
  flex-direction: column;
}

.main,
.sidebar{
  margin: 10px;
  width: auto;
}

.footer-bottom-logo,
.footer-bottom-content{
  float: none;
}

.footer-bottom-logo{
  line-height: 1;
  .logo-image{
    // .site-name{
    //   font-size: 1em;
    // }
  }
}

.footer-bottom-content{
  text-align: center;
}