.navi{
  display: none;
}

.main,
.sidebar{
  padding: 5px;
  margin: 0;
}

.a-wrap{
  padding: 0px;
}

.entry-card-title,
.related-entry-card-title{
  font-size: 18px;
}

.entry-card-meta,
.related-entry-card-meta{
  //position: relative;
}

table{
  th,
  td{
    padding: 3px;
    font-size: $text_size_s;
  }
}

.blogcard-wrap{
  width: 100%;
}

.blogcard{
  //font-size: 0.9em;
}

.blogcard-thumbnail{
  width: 23%;
}

.blogcard-content{
  width: 76%;
  margin-left: 24%;
  max-height: 90px;
}