.content-in{
  display: block;
}

// .main,
// .sidebar,
.wrap{
  width: auto;
}

.main,
.sidebar{
  margin: 0 10px;
  //float: none;
}

.main{
  width: 66%;
}


.sidebar{
  margin-top: 1em;
  padding: 0px 10px;
  width: 30%;
  margin: 0 10px;
}


.entry-card-thumb{
  width: 38%;
}

.entry-card-content{
  margin-left: 40%;
}


// .main,
// .wrap{
//   width: auto;
// }