@charset "UTF-8";

/*
  Skin Name: Simple Blue
  Description: 青をベースにしたシンプルで使いやすいスキン
  Skin URI: https://karasu-hc.com/2020/05/20/cocoon-2/
  Author: Taka
  Author URI: https://karasu-hc.com/2020/05/20/cocoon-2/
  Screenshot URI: https://im-cocoon.net/wp-content/uploads/simple_blue.jpg
  Version: 1.0.0
  Priority: 9191001000
*/

/*以下にスタイルシートを記入してください*/

$bg_color: #f4f5f7;
$cocoon-white-color: #fff;
$white: #fff;
$black: #333;
$shadow: #f6fafd;
$key_color1: #3399cc;
$key_color2: #49add1;
$key_color3: #007eaf;

// Base file import
@import "..\\_scss\\_simples_base.scss";
