@charset "UTF-8";

/*!
  Skin Name: Veilnui Simplog (lime)
  Description: シンプルなブログスキン（ライム）
  Skin URI: https://wp-cocoon.com/veilnui-simplog
  Author: veilnui
  Priority: 9840001000
  Screenshot URI: https://wp-cocoon.com/wp-content/themes/cocoon-master/skins/veilnui-simplog-lime/images/image.png
  Version: 1.1.7
  License: http://www.gnu.org/licenses/gpl-2.0.html/ GPL v2 or later
*/

//-------
// Fields
//-------
// Font color
$font-color: #333333;
// Background color
$white-color: white;
// Hover color
$hover-color: #F9FBE7;
// Base color (60%)
$base-color: #F9FBE7;
// Key color（10%）
$key-color: #9E9D24;
// Main color（30%）
$main-color-light: #E6EE9C;
$main-color-midium: #D4E157;
$main-color-dark: #C0CA33;

// Base file import
@import "..\\_scss\\_veilnui_simplog_base.scss";
