@charset "UTF-8";

/*!
  Skin Name: Veilnui Simplog (lime)
  Description: veilnuiが作成したシンプルなブログスキン（ライム）
  Skin URI: https://simplog.veilnui.org
  Author: veilnui
  Author URI: https://veilnui.net/
  Screenshot URI: images/image.png
  Version: 1.1
  License: http://www.gnu.org/licenses/gpl-2.0.html/ GPL v2 or later
*/

//-------
// Fields
//-------
// Font color
$font-color: #333333;
// Background color
$white-color: white;
// Hover color
$hover-color: #F9FBE7;
// Base color (60%)
$base-color: #F9FBE7;
// Key color（10%）
$key-color: #9E9D24;
// Main color（30%）
$main-color-light: #E6EE9C;
$main-color-midium: #D4E157;
$main-color-dark: #C0CA33;

// Base file import
@import "..\\_base.scss";