@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cavqpi');
  src:  url('fonts/icomoon.eot?cavqpi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cavqpi') format('truetype'),
    url('fonts/icomoon.woff?cavqpi') format('woff'),
    url('fonts/icomoon.svg?cavqpi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-slack-logo:before {
  content: "\e900";
}
.icon-amp-logo2:before {
  content: "\e93c";
}
.icon-amp-logo:before {
  content: "\e93b";
}
.icon-facebook-logo:before {
  content: "\e92d";
}
.icon-feedly-logo:before {
  content: "\e92e";
}
.icon-flickr-logo:before {
  content: "\e92f";
}
.icon-google-plus-logo:before {
  content: "\e930";
}
.icon-hatebu-logo:before {
  content: "\e931";
}
.icon-instagram-logo:before {
  content: "\e932";
}
.icon-instagram-logo-new:before {
  content: "\e933";
}
.icon-instagram-logo-new-sq:before {
  content: "\e934";
}
.icon-line-logo:before {
  content: "\e935";
}
.icon-pinterest-logo:before {
  content: "\e936";
}
.icon-push7-logo:before {
  content: "\e937";
}
.icon-rss-logo:before {
  content: "\e938";
}
.icon-twitter-logo:before {
  content: "\e939";
}
.icon-youtube-logo:before {
  content: "\e93a";
}
.icon-push7:before {
  content: "\e90e";
}
.icon-evernote:before {
  content: "\e912";
}
.icon-feedly:before {
  content: "\e913";
}
.icon-pocket:before {
  content: "\e914";
}
.icon-line:before {
  content: "\e915";
}
.icon-hatena:before {
  content: "\e916";
}
.icon-facebook:before {
  content: "\e919";
}
.icon-twitter:before {
  content: "\e91c";
}
.icon-youtube:before {
  content: "\e91f";
}
.icon-flickr2:before {
  content: "\e920";
}
.icon-delicious:before {
  content: "\e92b";
}
.icon-pinterest:before {
  content: "\e92c";
}
.icon-googleplus:before {
  content: "\ea8b";
}
.icon-instagram-new:before {
  content: "\ea92";
}
.icon-github-logo:before {
  content: "\eab0";
}
.icon-home-logo:before {
  content: "\e902";
}
.icon-amazon-logo:before {
  content: "\ea87";
}
.icon-linkedin-logo:before {
  content: "\eaca";
}
.icon-codepen-logo:before {
  content: "\eae8";
}
