@charset "UTF-8";

/*!
  Skin Name: Veilnui Simplog (deep orange)
  Description: veilnuiが作成したシンプルなブログスキン（濃いオレンジ色）
  Skin URI: https://simplog.veilnui.org
  Author: veilnui
  Author URI: https://veilnui.net/
  Screenshot URI: images/image.png
  Version: 1.1
  License: http://www.gnu.org/licenses/gpl-2.0.html/ GPL v2 or later
*/

//-------
// Fields
//-------
// Font color
$font-color: #333333;
// Background color
$white-color: white;
// Hover color
$hover-color: #FBE9E7;
// Base color（60%）
$base-color: #FBE9E7;
// Key color（10%）
$key-color: #D84315;
// Main color（30%）
$main-color-light: #FFAB91;
$main-color-midium: #FF7043;
$main-color-dark: #F4511E;

// Base file import
@import "..\\_base.scss";