@charset "UTF-8";

/*!
  Skin Name: Veilnui Simplog (yellow)
  Description: シンプルなブログスキン（黄色）
  Skin URI: https://wp-cocoon.com/veilnui-simplog
  Author: veilnui
  Priority: 9840001000
  Screenshot URI: https://wp-cocoon.com/wp-content/themes/cocoon-master/skins/veilnui-simplog-yellow/images/image.png
  Version: 1.1.7
  License: http://www.gnu.org/licenses/gpl-2.0.html/ GPL v2 or later
*/

//-------
// Fields
//-------
// Font color
$font-color: #333333;
// Background color
$white-color: white;
// Hover color
$hover-color: #FFFDE7;
// Base color (60%)
$base-color: #FFFDE7;
// Key color（10%）
$key-color: #F9A825;
// Main color（30%）
$main-color-light: #FFF59D;
$main-color-midium: #FFEE58;
$main-color-dark: #FDD835;

// Base file import
@import "..\\_scss\\_veilnui_simplog_base.scss";
