/*
  Skin Name: COLORS（グリーン）
  Description: 日本の伝統色・常磐色（#007b43）をベースとしたシンプルスキン。
  Skin URI: https://wp-cocoon.com/skin-colors/
  Author: わいひら
  Author URI: https://wp-cocoon.com/
  Screenshot URI: https://im-cocoon.net/wp-content/uploads/colors-green.png
  Version: 1.0.2
  Priority: 8900005000
*/
/*以下にスタイルシートを記入してください*/
$bg_color: #f3f3f2;
$white: #fff;
$key_color: #007b43;
$key_sub_color: #98d98e;
$key_color_thin: rgba(0, 123, 67, 0.05);
$h_bk_color: #f1f7ed;
$sub_menu_hover_bg_color: #333;
$border_color: #ccc;

// Base file import
@import "..\\_scss\\_colors_base.scss";
