@charset "UTF-8";

/* 立体 */

.sk-folding-cube {
  height: 40px;
  position: relative;
  transform: rotateZ(45deg);
  width: 40px;
}

.breeding-rhombus-spinner {
  height: 65px;
  position: relative;
  transform: rotate(45deg);
  width: 65px;
}

.breeding-rhombus-spinner,
.breeding-rhombus-spinner * {
  box-sizing: border-box;
}

.breeding-rhombus-spinner .rhombus {
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  background-color: var(--main-color);
  height: calc(65px / 7.5);
  left: calc(65px / 2.3077);
  position: absolute;
  top: calc(65px / 2.3077);
  width: calc(65px / 7.5);
}

.breeding-rhombus-spinner .rhombus:nth-child(2n + 0) {
  margin-right: 0;
}

.breeding-rhombus-spinner .rhombus.child-1 {
  animation-delay: calc(100ms * 1);
  animation-name: breeding-rhombus-spinner-animation-child-1;
}

.breeding-rhombus-spinner .rhombus.child-2 {
  animation-delay: calc(100ms * 2);
  animation-name: breeding-rhombus-spinner-animation-child-2;
}

.breeding-rhombus-spinner .rhombus.child-3 {
  animation-delay: calc(100ms * 3);
  animation-name: breeding-rhombus-spinner-animation-child-3;
}

.breeding-rhombus-spinner .rhombus.child-4 {
  animation-delay: calc(100ms * 4);
  animation-name: breeding-rhombus-spinner-animation-child-4;
}

.breeding-rhombus-spinner .rhombus.child-5 {
  animation-delay: calc(100ms * 5);
  animation-name: breeding-rhombus-spinner-animation-child-5;
}

.breeding-rhombus-spinner .rhombus.child-6 {
  animation-delay: calc(100ms * 6);
  animation-name: breeding-rhombus-spinner-animation-child-6;
}

.breeding-rhombus-spinner .rhombus.child-7 {
  animation-delay: calc(100ms * 7);
  animation-name: breeding-rhombus-spinner-animation-child-7;
}

.breeding-rhombus-spinner .rhombus.child-8 {
  animation-delay: calc(100ms * 8);
  animation-name: breeding-rhombus-spinner-animation-child-8;
}

.breeding-rhombus-spinner .rhombus.big {
  animation: breeding-rhombus-spinner-animation-child-big 2s infinite;
  animation-delay: 0.5s;
  animation-duration: 2000ms;
  background-color: var(--main-color);
  height: calc(65px / 3);
  left: calc(65px / 3);
  top: calc(65px / 3);
  width: calc(65px / 3);
}

@keyframes breeding-rhombus-spinner-animation-child-1 {
  50% {
    transform: translate(-325%, -325%);
  }
}

@keyframes breeding-rhombus-spinner-animation-child-2 {
  50% {
    transform: translate(0, -325%);
  }
}

@keyframes breeding-rhombus-spinner-animation-child-3 {
  50% {
    transform: translate(325%, -325%);
  }
}

@keyframes breeding-rhombus-spinner-animation-child-4 {
  50% {
    transform: translate(325%, 0);
  }
}

@keyframes breeding-rhombus-spinner-animation-child-5 {
  50% {
    transform: translate(325%, 325%);
  }
}

@keyframes breeding-rhombus-spinner-animation-child-6 {
  50% {
    transform: translate(0, 325%);
  }
}

@keyframes breeding-rhombus-spinner-animation-child-7 {
  50% {
    transform: translate(-325%, 325%);
  }
}

@keyframes breeding-rhombus-spinner-animation-child-8 {
  50% {
    transform: translate(-325%, 0);
  }
}

@keyframes breeding-rhombus-spinner-animation-child-big {
  50% {
    transform: scale(0.5);
  }
}