@charset "UTF-8";

/*!
  Skin Name: Veilnui Simplog (indigo)
  Description: veilnuiが作成したシンプルなブログスキン（群青色）
  Skin URI: Veilnui Simplog
  Author: veilnui
  Author URI: https://veilnui.net/
  Screenshot URI: images/image.png
  Version: 1.1
  License: http://www.gnu.org/licenses/gpl-2.0.html/ GPL v2 or later
*/

//-------
// Fields
//-------
// Font color
$font-color: #333333;
// Background color
$white-color: white;
// Hover color
$hover-color: #E8EAF6;
// Base color (60%)
$base-color: #E8EAF6;
// Key color（10%）
$key-color: #283593;
// Main color（30%）
$main-color-light: #9FA8DA;
$main-color-midium: #5C6BC0;
$main-color-dark: #3949AB;

// Base file import
@import "..\\_base.scss";