
.sidebar h3{
  background: transparent;
  padding: 0.4em;
  margin: 0.3em 0;
}

.article h2 {
  background: $h_bk_color;
  border-left: solid 5px $key_color;
}


.article h3 {
  border: none;
  border-left: solid 5px $key_color;
}

// .article h3 {
//   border: none;
//   font-size: 23px;
//   border-bottom: 5px solid #e7e7e7;
//   padding: 10px 0;
// }

.article h4 {
  border: none;
  border-bottom: 6px solid $h_bk_color;
}

.article h5,
.article h6{
  border: none;
}

