@charset "UTF-8";

/*!
  Skin Name: Veilnui Simplog (pink)
  Description: veilnuiが作成したシンプルなブログスキン（ピンク）
  Skin URI: https://simplog.veilnui.org
  Author: veilnui
  Author URI: https://veilnui.net/
  Screenshot URI: images/image.png
  Version: 1.1
  License: http://www.gnu.org/licenses/gpl-2.0.html/ GPL v2 or later
*/

//-------
// Fields
//-------
// Font color
$font-color: #333333;
// Background color
$white-color: white;
// Hover color
$hover-color: #FCE4EC;
// Base color (60%)
$base-color: #FCE4EC;
// Key color（10%）
$key-color: #AD1457;
// Main color（30%）
$main-color-light: #F48FB1;
$main-color-midium: #EC407A;
$main-color-dark: #D81B60;

// Base file import
@import "..\\_base.scss";