@charset "UTF-8";

/* 中央線 */

aside.widget .widget-title {
  display: inline-block;
  left: 50%;
  padding: 0 55px 0;
  transform: translateX(-50%);
}

aside.widget .widget-title:before,
aside.widget .widget-title:after {
  border-top: 1px solid var(--main-color);
  content: '';
  height: 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
}

aside.widget .widget-title:before {
  left: 0;
}

aside.widget .widget-title:after {
  right: 0;
}