@charset "UTF-8";

/* 塗りつぶし */

aside.widget .widget-title {
  background-color: var(--main-color);
  color: var(--text-color);
  padding: 10px var(--main-padding);
  margin-left: calc(var(--main-padding) * -1);
  margin-right: calc(var(--main-padding) * -1);
  width: calc(100% + var(--main-padding) * 2);
}

.body aside.widget:has(.widget-title) {
  padding-top: 0;
}