@charset "UTF-8";

/*******************************************************************************
**
**  ダッシュボード
**
*******************************************************************************/
/* Cocoonアイコン */
.menu-top.toplevel_page_theme-settings .wp-menu-image img {
  display: none;
}

.menu-top.toplevel_page_theme-settings .wp-menu-image:before {
  color: #e589a2 !important;
  content: '\f487';
}

/* 投稿、固定ページ一覧ステータス */
.wp-admin.post-type-post .status-sticky {
  background-color: #fff3e0;
}

.wp-admin.post-type-post .status-future,
.wp-admin.post-type-page .status-future {
  background-color: #e0f7fa;
}

.wp-admin.post-type-post .status-draft,
.wp-admin.post-type-page .status-draft {
  background-color: #f1f8e9;
}

.wp-admin.post-type-post .status-private,
.wp-admin.post-type-page .status-private {
  background-color: #ffebee;
}

/* カラム調整 */
body:not(.block-editor-page) .fixed th {
  width: 100%;
}

/* アイキャッチ */
.wp-list-table .column-thumbnail img {
  border: 1px solid #eee;
  background-color: #fff;
  display: block;
  height: 75px !important;
  object-fit: cover;
  width: 75px !important;
}

/*******************************************************************************
**
**  Cocoon設定
**
*******************************************************************************/
#tabs :is(
  #tab-all-label,
  #tab-theme-header-label,
  #tab-column-label,
  #tab-page-page-label,
  #tab-blog-card-label,
  #tab-code-highlight-label,
  #tab-carousel-label,
  #tab-footer-label,
  #tab-buttons-label,
  #tab-mobile-buttons-label,
  #tab-page-404-label,
  #tab-widget-label,
  #tab-widget-area-label,
  #tab-reset-label
) {
  display: none !important;
}


#tabs .skin-control {
  display: none;
}

/* 広告 */
#tabs #exclude-pr-label :is(
  tr:nth-child(2),
  tr:nth-of-type(3) td label[for=pr_label_small_caption],
  tr:nth-of-type(3) td label[for=pr_label_small_caption] + br,
  .skin-control + .tips
) {
  display: none;
}

.skin-control + .toggle {
  display: none;
}

/* タイトル */
#tabs #title-singular :is(
  tr:nth-child(3),
  tr:nth-child(4)
) {
  display: none;
}

#tabs #title-category-tag {
  display: none;
}

/* SEO */
#tabs #seo-referrer,
#tabs #seo-date {
  display: none;
}

/* インデックス */
#tabs #index-page :is(
  tr:nth-child(1) td label[for="front_page_type"],
  tr:nth-child(1) td label[for="front_page_type"] + ul,
  tr:nth-child(1) td .tips:first-of-type,
  tr:nth-child(1) td .toggle:last-of-type
) {
  display: none;
}

#tabs #index-page :is(
  tr:nth-child(2),
  tr:nth-child(3),
  tr:nth-child(4),
  tr:nth-child(5),
  tr:nth-child(6),
  tr:nth-child(7)
) {
  display: none;
}

/* 投稿 */
#tabs #cat-tag-page,
#tabs #single-bread {
  display: none;
}

#tabs #single-relation :is(
  tr:nth-child(1),
  tr:nth-child(2),
  tr:nth-child(3),
  tr:nth-child(5),
  tr:nth-child(6),
  tr:nth-child(7),
  tr:nth-child(8),
  tr:nth-child(9),
  tr:nth-child(10)
) {
  display: none;
}
#tabs #single-relation .skin-control + p {
  display: none;
}

#tabs #single-nav :is(
  tr:nth-child(1),
  tr:nth-child(2),
  tr:nth-child(3),
  tr:nth-child(4),
  tr:nth-child(6)
) {
  display: none;
}


#tabs #single-nav :is(
  [for=post_navi_exclude_category_ids],
  .post_navi_exclude_category_ids-list,
  .post_navi_exclude_category_ids-list + .tips
) {
  display: none;
}

/* 本文 */
#tabs #entry-content-page {
  display: none;
}

#tabs :is(
  #external-link tr:nth-child(1),
  #internal-link tr:nth-child(1),
  #internal-link tr:nth-child(4),
  #internal-link tr:nth-child(5)
) {
  display: none;
}

#tabs #post-info tr:nth-child(1) {
  display: none;
}

/* 目次 */
#tabs #tab-toc-page-content .skin-control + br {
  display: none;
}

#tabs #toc :is(
  tr:nth-child(1),
  tr:nth-child(2),
  tr:nth-child(5),
  tr:nth-child(6),
  tr:nth-child(7),
  tr:nth-child(8),
  tr:nth-child(9),
  tr:nth-child(11)
) {
  display: none;
}

/* SNSシェア */
#tabs #sns-share-top,
#tabs #sns-share-cache {
  display: none;
}

#tabs #sns-share-bottom :is(
  tr:nth-child(1),
  tr:nth-child(2),
  tr:nth-child(6),
  tr:nth-child(7),
  tr:nth-child(8),
  tr:nth-child(9)
) {
  display: none;
}

/* SNSフォロー */
#tabs #sns-follow :is(
  tr:nth-child(1),
  tr:nth-child(8),
  tr:nth-child(10)
) {
  display: none;
}

#tabs #sns-follow-cache {
  display: none;
}

/* 画像 */
#tabs #content-image :is(
  tr:nth-child(1),
  tr:nth-child(4)
) {
  display: none;
}

#tabs #content-image tr:nth-child(2) .indent {
  display: none;
}

/* コメント */
#tabs #tab-comment-content .skin-control + .tips {
  display: none;
}

#tabs #tab-comment-content :is(
  tr:nth-child(1),
  tr:nth-child(3),
  tr:nth-child(5)
) {
  display: none;
}

/* アピールエリア */
#tabs #appeal-area tr:nth-child(4),
#tabs #appeal-area tr:nth-child(11) {
  display: none;
}

/* おすすめカード */
#tabs #recommended-cards :is(
  tr:nth-child(3),
  tr:nth-child(4),
  tr:nth-child(5)
) {
  display: none;
}

/* 管理者画面 */
#tabs #admin-index_ .tips + span,
#tabs #admin-index_ .skin-control + .tips {
  display: none;
}

/* エディター */
#tabs #editor :is(
  tr:nth-child(1),
  tr:nth-child(2),
  tr:nth-child(3),
  tr:nth-child(4)
) {
  display: none;
}

#tabs #block-editor :is(
  tr:nth-child(1),
  tr:nth-child(2),
  tr:nth-child(3),
  tr:nth-child(4)
) {
  display: none;
}

#tabs #old-editor {
  display: none;
}
