@charset "UTF-8";

/*******************************************************************************
**
**  オリジナルCSS
**
*******************************************************************************/


/*******************************************************************************
**  タイムライン(ステップ)
*******************************************************************************/

.is-style-hvn-timeline-step.timeline-box .timeline {
  padding: 0;
}

.is-style-hvn-timeline-step .timeline-item {
  border-left: 0!important;
}

.is-style-hvn-timeline-step .timeline-item:last-of-type .timeline-item-content {
  border-color: transparent;
  padding-bottom: 0;
}

.is-style-hvn-timeline-step .timeline-item:before {
  border-radius: 50%;
  color: var(--text-color);
  content: 'STEP\a' counter(step);
  counter-increment: step;
  display: grid;
  font-size: 12px;
  height: 40px;
  left: 0;
  line-height: 1.2;
  place-content: center;
  text-align: center;
  top: 0;
  width: 40px;
}

.is-style-hvn-timeline-step .timeline-item-label {
  display: none;
}

.is-style-hvn-timeline-step .timeline-item-content {
  border-left: 3px solid #eee;
  float: none;
  margin: 0px 0 0 19px;
  padding: 0 0 var(--padding15) 35px;
  width: calc(100% - 19px);
}


/*******************************************************************************
**  タイムライン(ビッグ)
*******************************************************************************/

.is-style-hvn-timeline-big.timeline-box .timeline {
  padding: 0;
}

.is-style-hvn-timeline-big .timeline-item {
  border-left: 0!important;
  border-top: 1px dotted var(--border-color);
}

.is-style-hvn-timeline-big .timeline-item:first-of-type {
  border: 0;
}

.is-style-hvn-timeline-big .timeline-item:first-of-type:before {
  content: none;
}

.is-style-hvn-timeline-big .timeline-item:before {
  background-color: var(--border-color)!important;
  border: 13px solid var(--white-bgcolor);
  border-radius: 0;
  border-top-color: transparent;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 0;
}

.is-style-hvn-timeline-big .timeline-item-label {
  display: none;
}

.is-style-hvn-timeline-big .timeline-item-title {
  text-align: center;
}

.is-style-hvn-timeline-big .timeline-item-content {
  border-left: 0;
  float: none;
  padding: var(--gap30) 0 var(--padding15) 0;
  width: 100%;
}

.is-style-hvn-timeline-big .timeline-item-content:before {
  color: var(--main-color);
  content: 'STEP\a' counter(step);
  counter-increment: step;
  display: block;
  text-align: center;
}

.is-style-hvn-timeline-big .timeline-item:first-of-type .timeline-item-content {
  padding-top: 0;
}

.is-style-hvn-timeline-big .timeline-item:last-of-type .timeline-item-content {
  padding-bottom: 0;
}

.is-style-hvn-timeline-big .timeline-item-content:after {
  content: none;
}


/*******************************************************************************
**  タイムライン(ボックス)
*******************************************************************************/

.is-style-hvn-timeline-box.timeline-box .timeline {
  padding: 0;
}

.is-style-hvn-timeline-box.timeline-box {
  border: 0;
  padding: 0;
}

.timeline-box .timeline {
  counter-reset: step;
}

.is-style-hvn-timeline-box .timeline .timeline-item {
  border: 1px solid var(--border-color);
  margin-bottom: var(--gap30)!important;
  overflow: unset;
  padding: var(--padding15) var(--padding15) var(--padding15) calc(1em + var(--padding15) * 3 - 1px);
}

.is-style-hvn-timeline-box .timeline .timeline-item:last-of-type {
  margin-bottom: 0!important;
}

.is-style-hvn-timeline-box .timeline-item:before {
  background-color: transparent!important;
  border-radius: 0;
  border-right: 1px dashed #ccc;
  color: var(--main-color);
  content: counter(step);
  counter-increment: step;
  display: grid;
  font-weight: bold;
  height: unset;
  font-size: 16px;
  inset: 0;
  margin: var(--padding15) 0;
  place-content: center;
  width: calc(1em + var(--padding15) * 2 - 1px);
}

.is-style-hvn-timeline-box .timeline-item-label {
  display: none;
}

.is-style-hvn-timeline-box .timeline-item-content {
  border: 0;
  float: none;
  padding: 0!important;
  width: 100%;
}

.is-style-hvn-timeline-box .timeline-item-content:before {
  background-color: transparent;
  border: 13px solid transparent;
  border-radius: 0;
  border-top-color: var(--border-color);
  bottom: -36px;
  content: '';
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
}

.is-style-hvn-timeline-box .timeline-item:last-of-type .timeline-item-content:before {
  content: none;
}


/*******************************************************************************
**  タイムライン(ミニ)
*******************************************************************************/

.is-style-hvn-timeline-mini .timeline-item-content:before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  left: 106px;
  top: 23px;
  background-color: var(--white-bgcolor);
  position: absolute;
  border-radius: 100%;
}

@media (width <=480px) {
  .is-style-hvn-timeline-mini .timeline-item-content:before {
    left: -7px;
  }
}


/*******************************************************************************
**  タイムライン(スケジュール)
*******************************************************************************/

.hvn-timeline .timeline-item {
  display: list-item;
}

.hvn-timeline .timeline-item:before {
  background-color: var(--white-bgcolor)!important;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-family: 'Font Awesome 5 Free';
  font-size: 12px;
  font-weight: 900;
  height: 20px;
  line-height: 20px;
  left: 99px;
  text-align: center;
  top: 15px;
  width: 20px;
}

@media (width <=480px) {
  .hvn-timeline .timeline-item:before {
    left: -13px;
  }
}


/*******************************************************************************
**  コピーボタン
*******************************************************************************/

pre {
  border: 0;
  font-family: "Menlo", "Consolas", "monaco", "monospace", "ＭＳ ゴシック", sans-serif;
  padding: var(--padding15)!important;
}

.pre-wrap {
  position: relative;
}

.pre-wrap pre {
  margin: 0;
}

.pre-wrap:hover .code-copy {
  opacity: 1;
  transition: all 0.3s ease-out!important;
}

.code-copy {
  background-color: var(--main-color);
  border: 0;
  border-radius: 2px;
  color: var(--text-color);
  cursor: pointer;
  font-size: var(--cocoon-text-size-s);
  line-height: 1.8;
  opacity: 0;
  padding: 0 1em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  z-index: 1;
}


/*******************************************************************************
**  リボン(NEWマーク)
*******************************************************************************/

.widget-entry-cards.ranking-visible .a-wrap:before,
.a-wrap:has(.ribbon):before,
.list .a-wrap:has(.new-post):before,
.list .a-wrap:has(.up-post):before {
  background-color: var(--main-color);
  color: var(--text-color);
  content: 'NEW';
  display: block;
  font-size: var(--cocoon-text-size-s);
  line-height: 20px;
  left: 0;
  padding: 0 4px;
  position: absolute;
  text-align: center;
  top: -5px;
  width: 42px;
  z-index: 1;
}

.widget-entry-cards.ranking-visible .a-wrap:after,
.a-wrap:has(.ribbon):after,
.list .a-wrap:has(.new-post):after,
.list .a-wrap:has(.up-post):after {
  border-bottom: 5px solid #555;
  border-right: 5px solid transparent;
  content: '';
  left: 50px;
  margin: 0;
  position: absolute;
  right: unset;
  top: -5px;
}

.list .a-wrap:has(.up-post):before {
  content: 'UP';
}


/*******************************************************************************
**  いいねボタン
*******************************************************************************/

.body .widget-entry-cards .like {
  display: none;
}