@charset "UTF-8";

/* 左2色縦線 */

.article h3 {
  border-left: 10px solid var(--hover-color);
  padding: 10px 25px 10px 15px;
}

.article h3:before {
  background-color: var(--main-color);
  bottom: 0;
  content: '';
  height: 50%;
  left: -10px;
  position: absolute;
  top: 0;
  width: 10px;
}