@charset "UTF-8";

/* 塗りつぶし(下線) */

.article h3 {
  background-color: var(--hover-color);
  border-bottom: 2px solid var(--main-color);
  color: #333;
  padding: 15px 23px 15px 25px;
}

.hvn-dark .article h3 {
  color: var(--cocoon-text-color);
}