.article h2 {
	z-index: 1;
}

.article h2:before, .article h2:after {
	z-index: -1;
}

.blank-box.sticky:before {
	border-color: transparent transparent rgba(var(--gray-color), 1) transparent !important;
}

.blank-box.sticky:after {
	display: none;
}

.search-edit, input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select, input[type="submit"] {
	background-color: initial !important;
	color: initial !important;
}

/* テキストカラー */
.article h2, .speech-balloon p, .micro-balloon {
	color: rgba(var(--gray-color), 1);
}