@charset "UTF-8";

/*!
  Skin Name: Veilnui Simplog (teal)
  Description: veilnuiが作成したシンプルなブログスキン（鴨の羽色）
  Skin URI: https://simplog.veilnui.org
  Author: veilnui
  Author URI: https://veilnui.net/
  Screenshot URI: images/image.png
  Version: 1.1
  License: http://www.gnu.org/licenses/gpl-2.0.html/ GPL v2 or later
*/

//-------
// Fields
//-------
// Font color
$font-color: #333333;
// Background color
$white-color: white;
// Hover color
$hover-color: #E0F2F1;
// Base color (60%)
$base-color: #E0F2F1;
// Key color（10%）
$key-color: #00695C;
// Main color（30%）
$main-color-light: #80CBC4;
$main-color-midium: #26A69A;
$main-color-dark: #00897B;

// Base file import
@import "..\\_base.scss";