@charset "UTF-8";
/*
  Skin Name: スキンからオプション変更サンプル（CSV）
  Description: option.csvファイルの変更により、テーマのデザインを変更するデモ。詳細は、スキンフォルダー内のoption.csvファイルを参照してください。サンプルですので、実用性はありません。
  Skin URI: https://wp-cocoon.com/
  Author: わいひら
  Author URI: https://nelog.jp/
  Screenshot URI: https://im-cocoon.net/wp-content/uploads/csv-demo.png
  Version: 0.0.1
  Priority: 900002
*/
/*以下にスタイルシートを記入してください*/
