/*
  Skin Name: COLORS（レッド）
  Description: 日本の伝統色・緋色（#d3381c）をベースとしたシンプルスキン。
  Skin URI: https://wp-cocoon.com/skin-colors/
  Author: わいひら
  Author URI: https://nelog.jp/
  Screenshot URI: https://im-cocoon.net/wp-content/uploads/colors-red.png
  Version: 1.0.2
  Priority: 8900005000
*/
/*以下にスタイルシートを記入してください*/
$bg_color: #fef4f4;
$white: #fff;
$key_color: #d3381c;
$key_sub_color: #f4b3c2;
$key_color_thin: rgba(211, 56, 28, 0.05);
$h_bk_color: #fdeff2;
$sub_menu_hover_bg_color: #333;
$border_color: #ccc;

// Base file import
@import "..\\_scss\\_colors_base.scss";
