/*
  Skin Name: tecurio lime
  Description: ライムをイメージしたスキンです。
  Skin URI: https://tecurio.com/cocoon_skin/
  Author: 風塵(ふーじん)
  Author URI: https://tecurio.com/
  Screenshot URI: https://im-cocoon.net/wp-content/uploads/tecurio_lime.jpg
  Version: 1.0.3
  Priority: 9860002000
*/
/*以下にスタイルシートを記入してください*/

/* 全体 */
body{
	color: #444;
	font-family: -apple-system,BlinkMacSystemFont,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
}
body p{
	line-height: 180%;
	margin-bottom: 1.1em;
}
.entry-content .wp-caption {
  margin: 1.4em auto;
}
.content .main .entry-content > .blogcard-wrap{
	width: auto;
}
.content .main .entry-content > a div.blogcard{
	box-shadow: 0px 2px 7px rgba(0,0,0,.15),0 5px 6px rgba(0,0,0,.15);
	border-radius: 0;
}

/*ヘッダ－・フッター*/
.header{
	background-image: linear-gradient( 135deg, #FFF720 10%, #3CD500 100%);
}
.header-container, .navi, .notice-area, .carousel-in {
	box-shadow: 0 2px 3px rgba(0,0,0,.1);
}
.notice-area {
	background-image: linear-gradient( 135deg, #F0FF00 10%, #58CFFB 100%);
}
.site-name-text, .tagline {
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0,0,0,.3);
}
.tagline {
	top: 2em;
	position: relative;
}
/* メニュー */
.navi-in ul.sub-menu{
	background-color: #37474F;
}
.navi-in ul.sub-menu a {
	color: #ECEFF1;
}
.navi-in ul.sub-menu a:hover {
	color: #37474F;
}
/*フッター*/
.footer {
	background-image: linear-gradient( 135deg, #FFF720 10%, #3CD500 100%);
}
.footer, .footer a{
	color: #fff;
}

/* カラム */
.main, .sidebar aside{
	box-shadow: 0 2px 3px rgba(0,0,0,.1);
	border-radius: 0px;
}
.main{
	padding: 1em 3em;
}

/* gototop */
.go-to-top-button:hover {
	color: #fff;
}
.go-to-top-button {
	background-color: #a8e812;
	color: #fff;
}

/* コメント */
.comment, .recent-comment {
	border: solid 1px #CFD8DC;
	padding: .5em;
	border-radius: 5px;
}
.commets-list .avatar {
	float: none;
}
.commets-list .comment-meta{
	background-color: #d6ee9e;
	border-radius: 5px;
}
.commets-list .comment-meta a{
	padding-left: 1em;
	color: #333;
	text-decoration: none;
}
img.avatar {
	border-radius: 50%;
	background-color: #d6ee9e;
}

/* サイドバー */
.sidebar {
	padding: 0;
	background-color: transparent;
}
.sidebar aside {
    margin-bottom: 2em;
    background: #fff;
}
.sidebar aside .author-box{
	max-width: none;
}
.sidebar h2:first-child, .sidebar h3:first-child, .sidebar div:first-child, .sidebar form:first-child{
    margin-top: 0;
}
.sidebar h2,
.sidebar h3 {
background-image: linear-gradient( 165deg, #FFF720 0%, #3CD500 20%);
	text-shadow: 1px 1px 2px rgba(0,0,0,.3);
	color: #fff;
	font-size: 1.2rem;
	font-weight: normal;
	padding: .5em 1em .5em 1em;
	border-radius: 0;
}
.sidebar aside > div {
	padding: 1em;
}
.sidebar aside .author-box {
    border: none;
    border-radius: 4px;
}
.sidebar aside .search-edit{
	border: none;
}
.sidebar-menu-content{
	background-color: transparent;
}
.sidebar .toc .toc-title {
  display: none;
}
/* モバイルボタン */
.mobile-menu-buttons, .navi-menu-close-button{
	background-image: linear-gradient( 135deg, #FFF720 10%, #3CD500 100%);
}
.mobile-menu-buttons .menu-button:hover {
	background-color: unset;
}

/* カテゴリーラベル */
.eye-catch .cat-label, .cat-label{
	background-image: linear-gradient( 135deg, #FFF720 10%, #3CD500 100%);
	border-radius: 0 0 12px 0;
	border: none;
	top: 2px;
	left: 2px;
}
.cat-link{
	background-color: #a8e812;
}

/*アイキャッチ*/
.eye-catch img {
	border: solid 2px #CFD8DC;
}

/* 画像 */
.iwe-shadow-paper img, .iwe-shadow-paper amp-img {
	box-shadow: 0 2px 10px rgba(0,0,0,.1);
}

/*ボタン*/
.comment-btn, input#submit, .appeal-button, .comment-reply-link{
	background-color: #a8e812;
	color: #fff;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 2px 7px rgba(0,0,0,.15),0 5px 6px rgba(0,0,0,.15);
	display: inline-block;
}

/* リンク */
.a-wrap:hover {
    background-color: #fff;
	box-shadow: 0px 2px 7px rgba(0,0,0,.15),0 5px 6px rgba(0,0,0,.15);
}

/* カード */
/*.entry-card, .pager-post-navi, .new-entry-card-link.widget-entry-card-link, .popular-entry-card {
	box-shadow: 0px 2px 7px rgba(0,0,0,.15),0 5px 6px rgba(0,0,0,.15);
	padding: .8em;
	margin-bottom: .8em;
}*/
.card-thumb img {
	border: solid 2px #CFD8DC;
}

/* ページ送りナビ */
.pager-post-navi a.next-post, .pager-post-navi a.prev-post{
	position: relative;
}
.pager-post-navi a.next-post::before, .pager-post-navi a.prev-post::before{
	position: absolute;
	padding: .3em .4em;
	font-size: 1.2em;
	background-color: #a8e812;
	color: #fff;
	top: 0;
}
.pager-post-navi a.next-post::before{
	content: "Next";
	right: 0;
}
.pager-post-navi a.prev-post::before{
	content: "Prev";
	left: 0;
}



/* 見出し */
.article h2 {
	background-color: transparent;
	padding: 0;
	font-size: 1.8rem;
	text-indent: .5em;
}
.article h2::after {
	margin-top: .3em;
	content: "";
	display: block;
	height: 8px;
	position: relative !important;
	background-image: linear-gradient( 165deg, #FFF720 0%, #3CD500 20%);
}

.article h3 {
	border-left: 8px solid #a8e812;
	border-right: none;
	border-top: none;
	border-bottom: none;
	font-size: 1.4rem;
	padding: .4em 1em;
	background-color: #ddd;
	background: linear-gradient(to right,#d6ee9e 50%,#fff 100%);
}
.article h4 {
	font-size: 1.3rem;
	border-top: none;
	border-bottom: none;
}
.article h4:before {
	font-family: 'FontAwesome';
	content: "\f111";
	padding-right: .4em;
	color: #a8e812;
}
.article h5 {
	font-size: 1.2rem;
	border-bottom: none;
}
.article h5:before {
	font-family: 'FontAwesome';
	content: "\f061";
	padding-right: .4em;
	color: #a8e812;
}
.article h6 {
	font-size: 1.1rem;
	border-bottom: none;
}
.article h6:before {
	font-family: 'FontAwesome';
	content: "\f178";
	padding-right: .4em;
	color: #a8e812;
}

/* 記事下見出し */
.under-entry-content h2{
background-image: linear-gradient( 165deg, #FFF720 0%, #3CD500 20%);
	text-shadow: 1px 1px 2px rgba(0,0,0,.3);
	color: #fff;
	padding: .2em 0 .2em 1em;
	font-size: 1.2rem;
	font-weight: normal;
}

/* テーブル */
.container table{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.container table th, .container table td {
	padding: 6px;
}
.container table td {
	border: none;
}
.container table th {
	font-weight: normal;
	background-color: #37474F;
	color: #ECEFF1;
}
.container table tr:nth-of-type(2n+1) {
	background-color: #d6ee9e;
}

/* 読了時間 */
.read-time::before {
	margin-bottom: .3em;
}
.read-time::after {
	margin-top: .3em;
}
.read-time::before, .read-time::after{
	content: "";
	display: block;
	height: 2px;
	background: linear-gradient(to right, #fff 0%, #d6ee9e 50%,#fff 100%);
}
.read-time {
	border: none;
	color: #777;
}
/* 目次 */
.article .toc {
	border-color:#a8e812;
}
.toc {
	border: none;
	font-size: 1em;
	line-height: 1.8em;
	padding: 0;
	margin-bottom: 1em;
	display: block;
}
.toc-title {
	background: #a8e812;
	color: #fff;
	font-size: 1.2em;
	text-align: center;
    padding: 6px 16px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	box-shadow: 0px 2px 7px rgba(0,0,0,.15),0 5px 6px rgba(0,0,0,.15);
	border-radius: 10px 10px 0 0;
}
.toc ul li a, .toc ol li a {
    display: block;
/*    border-bottom: 1px dashed #a8e812;*/
}
.toc ul.toc-list>li, .toc ol.toc-list>li {
    margin-top: 1em;
}
.toc .toc-content>ul>li>a, .toc .toc-content>ol>li>a {
/*    border-bottom: 1px solid #a8e812;*/
    font-weight: bold;
}
.toc .toc-content>ul>li, .toc .toc-content>ol>li {
	list-style-type: decimal;
}
.toc ul li, .toc ol li {
	list-style-type: disc;
}
.toc a:hover{
	text-decoration:none;
}
.toc .toc-content > ul > li, .toc .toc-content > ol > li{
    margin: .8em 0;
}
.toc .toc-content {
    height: 0;
	padding: 0 1.5em 1em 1em;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
	border: solid 1px #a8e812;
	border-radius: 0 0 10px 10px;
}
.toc #toc-checkbox:checked ~ .toc-content{
    height: auto;
    padding: 1em 1.5em 1em 1em;
    opacity: 1;
}
.body .toc ul, .body .toc ol {
    padding-left: 1.8em;
}
.toc .toc-content{
	color: #a8e812;
}
.toc a{
	color: #444;
}
.toc #toc-checkbox{
    display: none;
}
.toc .toc-content{
    visibility: visible;
}
.toc label.toc-title::before {
	font-family: FontAwesome;
    margin-right: 0.5em;
}
.toc label.toc-title::before {
    content: '\f114';
}
.toc #toc-checkbox:checked + label.toc-title::before {
    content: '\f115';
}

/*.toc-title::before {
    font-family: FontAwesome;
    content: '\f022';
    margin-right: 0.5em;
}*/
#sidebar .toc .toc-content, #sidebar-menu-content .toc .toc-content {
	height: auto;
	opacity: 1;
	border:none;
	visibility: visible;
}
#sidebar .toc, #sidebar .toc-content, #sidebar-menu-content .toc, #sidebar-menu-content .toc-content {
  padding: 0 0 10px 0;
}

@media only screen and (max-width:500px){
  .toc #toc-checkbox:checked ~ .toc-content {
    padding: .5em .5em .5em 1em;
  }
	.toc ul, .toc ol {
    padding-left: .8em;
  }
}

ul.mobile-footer-menu-buttons.mobile-menu-buttons .menu-button-in > span, ul.mobile-footer-menu-buttons.mobile-menu-buttons .menu-button-in > a {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

.widget_recent_entries ul,
.widget_categories ul,
.widget_archive ul,
.widget_pages ul,
.widget_meta ul,
.widget_rss ul,
.widget_nav_menu ul {
	padding: 0 1em 1em;
}

.font-awesome-5 .toc label.toc-title::before,
.font-awesome-5 .toc .toc-checkbox:checked + label.toc-title::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
}
.font-awesome-5 .toc label.toc-title::before{
	content: '\f07b';
}
.font-awesome-5 .toc .toc-checkbox:checked + label.toc-title::before{
	content: '\f07c';
}

.font-awesome-5 .article h4::before,
.font-awesome-5 .article h5::before,
.font-awesome-5 .article h6::before,
.font-awesome-5.admin-page h4::before,
.font-awesome-5.admin-page h5::before,
.font-awesome-5.admin-page h6::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}
.font-awesome-5 .article h6::before,
.font-awesome-5.admin-page h6::before{
	content: '\f30b';
}
