/*
  Name: オレンジメニュー（サブメニューなし）
  Priority: 90
  Author: yhira
  Author URI: http://nelog.jp/
*/
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);
#navi {
  background: #f96e5b;
  width: auto;
}
#navi ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
  background-color:#f96e5b;
  border:none;
}
#navi ul li a:hover{
  background-color:#f96e5b;
}
#navi ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#navi ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#navi.align-right ul li {
  float: right;
}
#navi.align-center ul {
  text-align: center;
}
#navi ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#navi ul li a:hover {
  color: #333333;
}
#navi ul li a:hover:before {
  width: 100%;
}
#navi ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#navi ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#navi ul li.last > a:after,
#navi ul li:last-child > a:after {
  display: none;
}
#navi ul li.active a {
  color: #333333;
}
#navi ul li.active a:before {
  width: 100%;
}
#navi.align-right li.last > a:after,
#navi.align-right li:last-child > a:after {
  display: block;
}
#navi.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #navi ul li {
    float: none;
    display: block;
  }
  #navi ul li a {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #navi ul li.last > a,
  #navi ul li:last-child > a {
    border: 0;
  }
  #navi ul li a:after {
    display: none;
  }
  #navi ul li a:before {
    display: none;
  }
}

#navi ul.sub-menu,
#navi ul.children{
  display:none !important;
}

@media screen and (max-width:1110px){
  #navi{
    background-color:transparent;
  }

  #navi ul li {
    display:block;
  }

  #navi ul{
    display:none;
    border:0;
  }
}