/*
  Skin Name: イノセンス
  Description: 「大人可愛さ」と「知的さ」を兼ね備えた居心地の良いスキン。
  Skin URI: https://wp-cocoon.com/skin-innocence/
  Author: おはようポテト
  Author URI: https://wp-cocoon.com/skin-innocence/
  Screenshot URI: https://im-cocoon.net/wp-content/uploads/skin-innocence.png
  Version: 1.0.0
  Priority: 8500001000
*/

/*以下にスタイルシートを記入してください*/

/************************************
** 全体
************************************/

body {
	background-image: url("images/squ_ten2.png");
	background-size: auto;
	background-repeat: repeat;
	background-position: center top;
	background-attachment: scroll;
	background-color: #fff;
	color: #5a5a5a;
}

.home:not(.page) .main,
.sidebar {
	background-color: initial;
}

.a-wrap {
	color: #5a5a5a;
}

/************************************
** ヘッダー
************************************/

.is-header-fixed .header-container {
	box-shadow: 0 2px 7px rgb(0 0 0 / 11%);
}

#navi .caption-wrap .item-label {
	font-size: 15px;
	/*line-height: 62px;*/
	color: #888;
	letter-spacing: 0.07em;
}

/************************************
** インデックス
************************************/

.ect-vertical-card .entry-card-wrap {
	max-width: 45%;
	box-shadow: 0 0 3px 0 rgb(0 0 0 / 12%), 0 2px 3px 0 rgb(0 0 0 / 20%);
	background-color: #fff;
	border-radius: 3px;
	padding: 0;
	margin-bottom: 35px;
}

@media screen and (max-width: 480px) {
	.ect-vertical-card .entry-card-wrap {
		max-width: 46%;
		margin-bottom: 15px;
	}
	.e-card-title {
		font-size: 13px;
	}
}

.ect-vertical-card .entry-card-wrap:hover {
	opacity: 0.8;
	box-shadow: 0 0 3px 0 rgb(0 0 0 / 12%), 0 2px 3px 4px rgb(0 0 0 / 10%);
	transform: translateY(-2px);
}

.entry-card-title {
	color: #5a5a5a;
	/*見出しの色*/
	line-height: 1.6;
}

.ect-vertical-card .entry-card-wrap .entry-card-content {
	margin: 8px 12px 9px 12px;
}

.entry-card-meta,
.related-entry-card-meta {
	color: #b7b7b7;
	margin: 4px 8px;
}

.entry-card-wrap .cat-label {
	display: none;
	/*カテゴリーを非表示に*/
}

.ect-vertical-card {
	justify-content: space-around;
}

.list-more-button {
	background-color: #777;
	color: #fff;
	box-shadow: 0 2px 3px rgb(0 0 0 / 7%), 0 2px 3px -2px rgb(0 0 0 / 7%);
	border: none;
}

.list-more-button:hover {
	background-color: #777;
	color: #fff;
	opacity: 0.8;
}

/************************************
** インデックス各タイプの見出し
************************************/

#index-tab-1:checked ~ .index-tab-buttons .index-tab-button[for="index-tab-1"],
#index-tab-2:checked ~ .index-tab-buttons .index-tab-button[for="index-tab-2"],
#index-tab-3:checked ~ .index-tab-buttons .index-tab-button[for="index-tab-3"],
#index-tab-4:checked ~ .index-tab-buttons .index-tab-button[for="index-tab-4"] {
	background: none #777;
	border: 1px solid #777;
	letter-spacing: 0.03em;
}

.list-title {
	color: #777;
	letter-spacing: 0.03em;
}

/************************************
** パンくずリスト
************************************/

.breadcrumb {
	color: #1e92bf;
}

.breadcrumb div {
	letter-spacing: 0.1em;
}

.breadcrumb a {
	color: #1e92bf;
}

/************************************
** 投稿日・更新日
************************************/

.entry-date {
	color: #ccc;
	font-size: 1.2em;
	letter-spacing: 0.05em;
}

.date-tags {
	text-align: left;
	margin-top: 20px;
}

.date-tags .post-date > span[class^="fa"],
.date-tags .post-update > span[class^="fa"] {
	width: 31px;
	height: 31px;
	background-color: #777;
	color: #fff;
	font-size: 1.35em;
	border-radius: 50%;
	text-align: center;
	line-height: 1.9;
}

@media screen and (max-width: 480px) {
	.date-tags .post-date > span[class^="fa"],
	.date-tags .post-update > span[class^="fa"] {
		line-height: 2.1;
	}
}

.cat-label {
	display: none;
}

/************************************
** 記事内目次
************************************/

.entry-content .toc {
	width: 53%;
	min-width: 250px;
	max-width: 370px;
	background-color: #f9f9f9;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	border: none;
	border-top: 5px solid #777;
	border-radius: 10px;
}

.entry-content .toc-title {
	font-weight: bold;
	letter-spacing: 0.05em;
	font-size: 1.25em;
}

.entry-content .toc-title:before {
	display: inline-block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	color: #fff;
	font-family: FontAwesome;
	content: "\f0ca";
	background-color: #777;
	line-height: 47px;
	margin-right: 5px;
}

.entry-content .toc a {
	display: block;
	color: #5a5a5a;
	border-bottom: dashed 1px silver;
	padding: 0.2em 2em 0.2em 0;
}

.entry-content .toc-list {
	padding-left: 1em;
}

.entry-content .toc-list > li {
	position: relative;
}

.entry-content .toc-list > li:before {
	font-family: FontAwesome;
	content: "\f138";
	position: absolute;
	color: #777;
	top: 3px;
	left: -20px;
}

.entry-content .toc-list > li > a {
	font-weight: bold;
}

.entry-content .toc-list > li > ul > li {
	position: relative;
}

.entry-content .toc-list > li > ul > li:before {
	font-family: FontAwesome;
	content: "\f105";
	position: absolute;
	color: #777;
	top: 1px;
	left: -12px;
}

.entry-content .toc-list > li > ul > li > a {
	font-size: 0.9em;
	color: #777;
}

/************************************
** 本文
************************************/

.entry-content p {
	line-height: 1.9;
}

/************************************
** 見出しh2
************************************/

.entry-content h2 {
	padding: 22px 20px 18px;
	background: #f2f2f2;
	border-left: solid 5px #777;
	border-bottom: solid 3px #d7d7d7;
	font-size: 21px;
}

/************************************
** 見出しh3
************************************/

.entry-content h3 {
	position: relative;
	background: #f2f2f2;
	padding: 10px 4px 10px 39px;
	font-size: 19px;
	border-radius: 10px;
	margin: 3em 0 1.5em;
	border: none;
}

.entry-content h3:before {
	font-family: FontAwesome;
	content: "\f00c";
	display: inline-block;
	position: absolute;
	padding: 0;
	color: #eee;
	background: #777;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 41px;
	top: 50%;
	left: -0.4em;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	border-radius: 50%;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.29);
}

@media screen and (max-width: 480px) {
	.entry-content h3 {
		font-size: 18px;
	}
}

/************************************
** 見出しh4
************************************/

.entry-content h4 {
	position: relative;
	padding-left: 25px;
	border: none;
	font-size: 18px;
	margin-bottom: 1.3em;
	margin-top: 2.4em;
	width: 95%;
}

.entry-content h4:before {
	position: absolute;
	content: "";
	bottom: -3px;
	left: 0;
	width: 0;
	height: 0;
	border: none;
	border-left: solid 15px transparent;
	border-bottom: solid 15px #777;
}

.entry-content h4:after {
	position: absolute;
	content: "";
	bottom: -3px;
	left: 10px;
	width: 100%;
	border-bottom: solid 3px #777;
}

@media screen and (max-width: 480px) {
	.entry-content h4 {
		font-size: 17px;
	}
}

/************************************
** 見出しh5
************************************/

.entry-content h5 {
	font-size: 18px;
}

@media screen and (max-width: 480px) {
	.entry-content h5 {
		font-size: 17px;
	}
}

/************************************
** 内部リンク・外部リンク
************************************/

.internal-blogcard-wrap {
	box-shadow: 0 4px 4px rgb(0 0 0 / 3%), 0 2px 3px -2px rgb(0 0 0 / 10%);
}

.blogcard-title {
	color: #5a5a5a;
}

.blogcard-snippet {
	color: #777;
}

/************************************
** カテゴリリンク
************************************/

.cat-link {
	border-radius: 5px;
	background-color: #777;
}

.share-button:hover,
.follow-button:hover {
	transform: scale(1.1);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

/************************************
** 記事トップシェアボタン
************************************/

.sns-share.ss-high-and-low-lc a .social-icon {
	font-size: 22px;
}

/************************************
** 記事下シェアボタン
************************************/

@media screen and (min-width: 481px) {
	.sns-share,
	.sns-follow {
		width: 70%;
		margin-right: auto;
		margin-left: auto;
	}
}

.sns-share-buttons {
	justify-content: space-evenly;
}

.sns-share-buttons a {
	font-size: 1.25em;
	border-radius: 50%;
	width: 50px !important;
	height: 50px;
	opacity: 0.6;
}

@media screen and (max-width: 834px) {
	.ss-bottom .sns-share-buttons a {
		font-size: 1.3em;
	}
}

.sns-share-buttons a .button-caption {
	display: none !important;
}

.sns-share-message,
.sns-follow-message {
	color: #bbb;
	margin-bottom: 30px;
	position: relative;
}

.sns-share-message:before,
.sns-follow-message:before {
	content: "";
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 2px;
	left: 50%;
	bottom: -5px;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	border-radius: 3px;
	background-color: #bbb;
}

/************************************
** 記事下フォローボタン
************************************/

.sns-follow-buttons {
	justify-content: space-evenly;
}

.sns-follow-buttons a {
	font-size: 1.7em;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	opacity: 0.6;
}

@media screen and (max-width: 834px) {
	.ss-bottom .sns-follow-buttons a {
		font-size: 1.3em;
	}
}

/************************************
** 関連記事とコメント欄の見出し
************************************/

.related-entry-heading,
.comment-title {
	color: #777;
	font-size: 1.25em;
}

@media screen and (min-width: 481px) {
	.related-entry-heading,
	.comment-title {
		font-size: 1.2em;
	}
}

.related-entry-heading:before,
.comment-title:before {
	font-family: FontAwesome;
	display: inline-block;
	background-color: #777;
	color: #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 0.9em;
}

.comment-title:before {
	content: "\f075";
}

.related-entry-heading:before {
	content: "\f15c";
}

/************************************
** 筆者名
************************************/

.author-link {
	color: #777;
	text-decoration: none;
}

/************************************
** 関連記事のタイトル
************************************/

.related-entry-card-title {
	color: #5a5a5a;
}

/************************************
** コメント欄
************************************/

button#comment-reply-btn {
	background-color: #777;
	color: #fff;
	font-size: 0.95em;
	border-radius: 50px;
	width: 70%;
	margin: 0 auto;
}

.comment-form .form-submit input {
	background-color: #777;
	color: #fff;
	font-size: 0.9em;
	border-radius: 50px;
	width: 70%;
	margin: 0 auto;
	box-shadow: 0 4px 4px rgb(0 0 0 / 10%), 0 2px 3px -2px rgb(0 0 0 / 15%);
}

.form-submit {
	text-align: center;
}

/************************************
** サイドバーのウィジェット
************************************/

.sidebar:not(#slide-in-sidebar) .widget-sidebar {
	background-color: #fff;
	box-shadow: 0 3px 3px rgb(0 0 0 / 12%), 0 2px 3px -2px rgb(0 0 0 / 1%);
	border-radius: 3px;
}

.widget-sidebar > div {
	padding: 0 0.5em 0.4em 0.5em;
}

.sidebar h2,
.sidebar h3 {
	color: #fff;
	background-color: #777;
	padding: 8px 12px;
	font-size: 1.02em;
	letter-spacing: 0.05em;
	font-weight: normal;
}

.widget_recent_entries ul li a,
.widget_categories ul li a,
.widget_archive ul li a,
.widget_pages ul li a,
.widget_meta ul li a,
.widget_rss ul li a,
.widget_nav_menu ul li a {
	color: #5a5a5a;
}

/************************************
** プロフィールBOX
************************************/

.widget_author_box {
	width: 90%;
	margin: 0 auto;
}

.author-box {
	border: none;
	background-color: #f5f5f5;
}

.author-box .author-name a {
	text-decoration: none;
	color: #777;
}

.author-thumb img {
	border: 3px solid #fff;
}

.nwa .author-box {
	padding: 10px 0 0;
}

.nwa .author-box .author-thumb {
	position: relative;
	margin-top: 17px;
	z-index: 1;
}

.author-thumb:before {
	content: "";
	position: absolute;
	width: calc(100% + 20px);
	height: 200px;
	height: calc(100% + 14px);
	background-color: #fff;
	border-radius: 50%;
	transform: translate(-10px, -10px);
	z-index: -1;
}

.nwa .author-box .author-content {
	padding: 0.8em;
}

.author-description {
	padding: 0.3em;
}

.author-description p {
	color: #777;
	line-height: 1.8;
}

@media screen and (min-width: 481px) {
	.author-description p {
		font-size: 0.85em;
	}
}

.author-box .sns-follow {
	margin: 0 auto;
}

.author-box .sns-follow-buttons a.follow-button {
	background-color: #777;
	color: #fff;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	line-height: 34px;
	border: none;
}

/************************************
** カテゴリ一覧
************************************/

.widget_categories ul {
	padding: 0 0px 10px 9px;
	margin-right: 8px;
}

.widget_categories ul li a {
	font-size: 0.9em;
}

.widget_categories ul li a:before {
	font-family: FontAwesome;
	content: "\f07b";
	color: #777;
	padding-right: 7px;
}

.widget_categories ul li a .post-count {
	display: inline-block;
	overflow: hidden;
	min-width: 25px;
	height: 25px;
	margin-left: 3px;
	border-radius: 25%;
	background: #f2f2f2;
	color: #626262;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	line-height: 24px;
}

/************************************
** 検索フォーム
************************************/

.sidebar:not(#slide-in-sidebar) .widget_search {
	box-shadow: none;
	background-color: transparent;
}

.sidebar:not(#slide-in-sidebar) .widget-sidebar .search-box {
	box-shadow: 0 3px 3px rgb(0 0 0 / 12%), 0 2px 3px -2px rgb(0 0 0 / 1%);
}

input.search-edit {
	border: none;
	border-bottom: solid 1px #efefef;
}

input.search-edit::placeholder {
	color: #ccc;
}

button.search-submit {
	border-bottom: solid 1px rgba(0, 0, 0, 0.1);
	border-radius: 0 3px 3px 0;
	color: #fff;
	background-color: #777;
	width: 50px;
	height: 100%;
	top: 0;
	right: 0;
}

/************************************
** フッター
************************************/

#footer {
	background-color: #e7e7e7;
}

/************************************
** Font Awesome 5対応
************************************/

.font-awesome-5 .entry-content .toc-title:before,
.font-awesome-5 .entry-content .toc-list > li:before,
.font-awesome-5 .entry-content .toc-list > li > ul > li:before,
.font-awesome-5 .entry-content h3:before,
.font-awesome-5 .related-entry-heading:before,
.font-awesome-5 .comment-title:before,
.font-awesome-5 .widget_categories ul li a:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

/************************************
** メインカラムのアニメーション
************************************/

#main {
	animation: mainFade 1.5s ease 0s 1 normal;
	-webkit-animation: mainFade 1.5s ease 0s 1 normal;
}

@keyframes mainFade {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
	}
}
