@charset "UTF-8";
/*
  Skin Name: Natural（グリーン）
  Description: #86cfcfをベースにした優しい色合いで使いやすいスキン
  Skin URI: https://usefulweb.net/skin-natural/
  Author: Taka
  Author URI: https://usefulweb.net/
  Screenshot URI: https://usefulweb.net/wp/wp-content/uploads/2021/06/natural_green.png
  Version: 1.0.0
  Priority: 9190201000
*/
/*以下にスタイルシートを記入してください*/
/* 全体 */
body {
  background-color: #f4f5f7;
}

.main,
.sidebar {
  background-color: #fff;
}

/* ヘッダー・グローバルナビ */
.header-container .navi {
  background-color: #86cfcf;
}

#navi .navi-in a {
  color: #fff;
}

#navi .navi-in > .menu-header .sub-menu {
  background-color: #86cfcf;
}

#navi .navi-in a:hover {
  background-color: #aadddd;
}

.menu-header .item-label {
  font-size: 18px;
  letter-spacing: 0.5px;
}

.header-container {
  color: #fff;
  background-color: #86cfcf;
}

.header {
  background-color: #86cfcf;
}

.header .header-in {
  min-height: 100px;
}

/* サイト名・キャッチフレーズ */
.site-name-text {
  color: #fff;
}

.site-name-text:hover {
  color: #fff;
}

/* 見出し */
.article h2 {
  margin: 5px 0;
  padding: 20px 25px;
  background-color: #86cfcf;
  color: #fff;
  font-size: 22px;
  border-radius: 0.5em;
}

.article h3 {
  padding: 15px 20px 11px;
  background-color: #e2f3f3;
  border-color: #86cfcf;
  border-top: none;
  border-right: none;
  border-bottom: 4px solid #86cfcf;
  border-left: none;
}

.article h4 {
  border-top: none;
  border-bottom: none;
  border-left: 6px solid #86cfcf;
}

.article h5 {
  border-bottom: 2px solid #86cfcf;
  position: relative;
}

/* サイドバー */
.sidebar h2,
.sidebar h3 {
  padding: 10px;
  color: #fff;
  background-color: #86cfcf;
  border: none;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 0.5em;
}

.widget_recent_entries ul li a,
.widget_categories ul li a,
.widget_archive ul li a,
.widget_pages ul li a,
.widget_meta ul li a,
.widget_rss ul li a,
.widget_nav_menu ul li a {
  border-radius: 0.5em;
}

.widget_recent_entries ul li a:hover,
.widget_categories ul li a:hover,
.widget_archive ul li a:hover,
.widget_pages ul li a:hover,
.widget_meta ul li a:hover,
.widget_rss ul li a:hover,
.widget_nav_menu ul li a:hover {
  background-color: #eff9f9;
}

.widget_recent_entries ul li a,
.widget_categories ul li a,
.widget_archive ul li a,
.widget_pages ul li a,
.widget_meta ul li a,
.widget_rss ul li a,
.widget_nav_menu ul li a {
  padding: 0.5em 0.5em;
}

/* サイドバーカテゴリ */
.cat-item a::before {
  font-family: FontAwesome;
  content: "\f0da";
  margin-right: 6px;
}

.cat-item .children a::before {
  content: "\f105";
}

.font-awesome-5 .cat-item a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.font-awesome-5 .cat-item .children a::before {
  content: "\f105";
}

/* プロフィールボックス */
.author-box {
  border: 1px solid #86cfcf;
}

.author-box .sns-follow-buttons a.follow-button {
  color: #86cfcf;
  border: 1px solid #86cfcf;
}

/* 検索ボタン */
.search-edit,
input[type=text],
input[type=password],
input[type=date],
input[type=datetime],
input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
textarea,
select {
  font-size: 16px;
  border: 2px solid #86cfcf;
  border-radius: 0.5em;
}

/* シェアボタン */
#container .sns-buttons a {
  border-radius: 0.5em;
}

/* ブログカード */
.a-wrap .blogcard {
  border-color: #86cfcf;
}

.a-wrap:not(.prev-post, .next-post, .prev-next-home) {
  border-radius: 0.5em;
}

.a-wrap:hover {
  background-color: #eff9f9;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
  box-shadow: 0 0 8px #f6fafd;
}

.blogcard-label {
  background-color: #86cfcf;
}

/* カテゴリーラベル */
.cat-label {
  top: 0;
  left: 0;
  background-color: #deabc4;
  border-top: none;
  border-left: none;
}

.cat-link {
  background-color: #deabc4;
  border-radius: 0.5em;
  transition: all 0.3s;
}

.cat-link:hover {
  opacity: 0.8;
}

/* タグリンク */
.tag-link {
  color: #deabc4;
  border-color: #deabc4;
  border-radius: 0.5em;
}

.tag-link:hover {
  color: #deabc4;
  background-color: rgba(222, 171, 196, 0.1);
}

/* コメント箇所 */
.comment-reply-link {
  color: #86cfcf;
  border-color: #86cfcf;
  border-radius: 0.5em;
}

.comment-reply-link:hover {
  color: #44abab;
  background-color: #eff9f9;
}

/* タグ */
.tagcloud a {
  color: #86cfcf;
  border-color: #86cfcf;
  border-radius: 0.5em;
}

.tagcloud a:hover {
  color: #44abab;
  background-color: #eff9f9;
}

.fa-tag:before {
  content: "\f02c";
}

/* コメント送信ボタン */
input[type=submit] {
  padding: 10px;
  background: #86cfcf;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 0.5em;
}

.pagination-next-link,
.comment-btn {
  padding: 10px;
  background: transparent;
  color: #86cfcf;
  font-size: 14px;
  border: 1px solid #86cfcf;
  border-radius: 0.5em;
}

.pagination-next-link:hover,
.comment-btn:hover {
  color: #44abab;
  background-color: #eff9f9;
}

/* テーブル */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  font-size: 16px;
}

table th {
  padding: 10px;
  font-weight: bold;
  background: #eff9f9;
  font-size: 18px;
}

table > th,
td {
  border-bottom: 1.5px solid #86cfcf;
}

table tr:nth-child(even) {
  background: #eff9f9;
}

/* 目次 */
.toc {
  border: 1px solid #86cfcf;
}

/* ページネーション */
.page-numbers {
  color: #86cfcf;
  border: 1px solid #86cfcf;
  border-radius: 0.5em;
}

.pagination .current {
  background-color: #86cfcf;
  color: #fff;
}

.page-numbers.dots {
  opacity: 1;
  background: none;
}

.pagination a:hover {
  background-color: #86cfcf;
  color: #fff;
}

/* 引用 */
blockquote {
  border-color: #86cfcf;
  background-color: #eff9f9;
  border-radius: 0.5em;
}

blockquote::before,
blockquote::after {
  color: #86cfcf;
}

/* フッター */
.footer {
  padding-top: 30px;
  padding-bottom: 35px;
  color: #fff;
  background-color: #86cfcf;
}

.footer-bottom {
  margin-top: 0;
}

.footer-in h3 {
  padding: 10px;
  border: 1.5px solid #333;
  text-align: center;
  font-size: 18px;
  border-radius: 0.5em;
}

.navi-footer-in a {
  color: #fff;
}

.navi-footer-in a:hover {
  color: #fff;
  background-color: #aadddd;
}

/* スクロールトップボタン */
.go-to-top {
  bottom: 35px;
}

.go-to-top-button {
  width: 45px;
  height: 45px;
  color: #fff;
  background-color: #44abab;
  border-radius: 50%;
  transition: all 0.3s;
}

.go-to-top-button:hover {
  color: #fff;
  background-color: #aadddd;
}

/* レスポンシブ */
@media screen and (max-width: 834px) {
  .header-container-in.hlt-top-menu #header .header-in {
    display: flex;
    align-items: center;
  }
  .header .header-in {
    min-height: 80px;
  }
  .sidebar h2,
  .sidebar h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .article h2 {
    padding: 0.6em 1em;
  }
  .article h3 {
    padding: 0.4em 1em;
  }
  .footer {
    padding-top: 25px;
    padding-bottom: 30px;
  }
}
/* SNSボタン */
.sns-buttons a {
  background-color: #444;
}

.bc-brand-color.sns-share .x-corp-button,
.bc-brand-color.sns-follow .x-corp-button {
  background-color: #34aaf3;
}

.bc-brand-color.sns-share .facebook-button,
.bc-brand-color.sns-follow .facebook-button {
  background-color: #4f6aa2;
}

.bc-brand-color.sns-share .hatebu-button,
.bc-brand-color.sns-follow .hatebu-button {
  background-color: #417dc4;
}

.bc-brand-color.sns-share .pocket-button,
.bc-brand-color.sns-follow .pocket-button {
  background-color: #f26678;
}

.bc-brand-color.sns-share .line-button,
.bc-brand-color.sns-follow .line-button {
  background-color: #4dd54d;
}

.bc-brand-color.sns-share .website-button,
.bc-brand-color.sns-follow .website-button {
  background-color: #335181;
}

.bc-brand-color.sns-share .feedly-button,
.bc-brand-color.sns-follow .feedly-button {
  background-color: #55c170;
}

.bc-brand-color.sns-share .rss-button,
.bc-brand-color.sns-follow .rss-button {
  background-color: #f5844e;
}

.bc-brand-color.sns-share .pinterest-button,
.bc-brand-color.sns-follow .pinterest-button {
  background-color: #f63147;
}

.bc-brand-color.sns-share .linkedin-button,
.bc-brand-color.sns-follow .linkedin-button {
  background-color: #0091dc;
}