@charset "UTF-8";

/*!
  Skin Name: Veilnui Simplog (green)
  Description: シンプルなブログスキン（緑色）
  Skin URI: https://wp-cocoon.com/veilnui-simplog
  Author: veilnui
  Priority: 9840001000
  Screenshot URI: https://wp-cocoon.com/wp-content/themes/cocoon-master/skins/veilnui-simplog-green/images/image.png
  Version: 1.1.7
  License: http://www.gnu.org/licenses/gpl-2.0.html/ GPL v2 or later
*/

//-------
// Fields
//-------
// Font color
$font-color: #333333;
// Background color
$white-color: white;
// Hover color
$hover-color: #E8F5E9;
// Base color (60%)
$base-color: #E8F5E9;
// Key color（10%）
$key-color: #2E7D32;
// Main color（30%）
$main-color-light: #A5D6A7;
$main-color-midium: #66BB6A;
$main-color-dark: #43A047;

// Base file import
@import "..\\_scss\\_veilnui_simplog_base.scss";
