/*
  Skin Name: COLORS（ピンク）
  Description: 日本の伝統色・躑躅色（#e95295）をベースとしたシンプルスキン。
  Skin URI: https://wp-cocoon.com/skin-colors/
  Author: わいひら
  Author URI: https://nelog.jp/
  Screenshot URI: https://im-cocoon.net/wp-content/uploads/colors-pink.png
  Version: 1.0.2
  Priority: 8900005000
*/
/*以下にスタイルシートを記入してください*/
$bg_color: #fef4f4;
$white: #fff;
$key_color: #e95295;
$key_sub_color: #eebbcb;
$key_color_thin: rgba(233, 82, 149, 0.05);
$h_bk_color: #fdeff2;
$sub_menu_hover_bg_color: #333;
$border_color: #ccc;

// Base file import
@import "..\\_scss\\_colors_base.scss";
