@charset "UTF-8";

/* 塗りつぶし */

.article h2,
.main .article .widget-title,
.main .under-entry-content h2 {
  background-color: var(--main-color);
  color: var(--text-color)!important;
  padding: 20px 25px!important;
}