@charset "UTF-8";

/* ステッチ(薄) */

.article h2,
.main .article .widget-title,
.main .under-entry-content h2 {
  background-color: var(--hover-color);
  color: #333;
  padding: 20px 25px;
}

.article h2::before,
.main .article .widget-title::before,
.main .under-entry-content h2::before {
  border: dashed 1px var(--main-color);
  box-sizing: border-box;
  content: '';
  display: block;
  height: calc(100% - 8px);
  inset: 4px auto auto 4px;
  position: absolute;
  width: calc(100% - 8px);
}