@charset "UTF-8";

/*!
  Skin Name: Veilnui Simplog (amber)
  Description: veilnuiが作成したシンプルなブログスキン（琥珀色）
  Skin URI: https://simplog.veilnui.org
  Author: veilnui
  Author URI: https://veilnui.net/
  Screenshot URI: images/image.png
  Version: 1.1
  License: http://www.gnu.org/licenses/gpl-2.0.html/ GPL v2 or later
*/

//-------
// Fields
//-------
// Font color
$font-color: #333333;
// Background color
$white-color: white;
// Hover color
$hover-color: #FFF8E1;
// Base color (60%)
$base-color: #FFF8E1;
// Key color（10%）
$key-color: #FF8F00;
// Main color（30%）
$main-color-light: #FFE082;
$main-color-midium: #FFCA28;
$main-color-dark: #FFB300;

// Base file import
@import "..\\_base.scss";