/*
  Skin Name: m-sora
  Description: marineがお届けするテーマ「sora」
  Skin URI: https://web.no-koto.net
  Author: marine
  Author URI: https://web.no-koto.net
  Screenshot URI: https://im-cocoon.net/wp-content/uploads/m-sora.png
  Version: 0.0.1
  Priority: 9930000000
*/
/*以下にスタイルシートを記入してください*/

.body:not(.editor-styles-wrapper)::before{
	content: "";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100vh;
	background: url("https://im-cocoon.net/wp-content/uploads/bg.jpg") center no-repeat;
	background-size: auto;
	background-size: cover;
}
#header,#header-container , #header-in,.hlt-center-logo, .header-container-in,
.container, .cf ,.header-container {
    background:transparent;
}
#main {
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
#sidebar {
  border:10px solid rgba(255,255,255,0);
  border-radius: 15px;
  background: rgba(255,255,255,0.6);
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  line-height: 1.2;
}

#sidebar ul {
  font-size:0.9em;
  margin:0;
}
#sidebar ul li {
  margin:0 0 0 0.6em;
  padding:0;
}
#sidebar ul#recentcomments li {
  margin:0 0 0.6em 0.6em;
  padding:0;
}
#sidebar ul li a {
  text-decoration: underline;
  padding:0.4em;
}
#footer {
  clear: both;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 5px;
}

.article h1 {
	position: relative;
	border-bottom: 3px solid #dcdcdc;
	line-height:1.2;
}
.article:not(.admin-page) h1::after {
	position: absolute;
	content:"";
	display: block;
	border-bottom: 3px solid #777;
	bottom:-3px;
	width:20%;
}
.article h2 {
	position: relative;
	padding: .5em .75em;
	/*margin:0 -15px 35px -17px;*/
	background-color:#24ade2;
	border:1px solid #24ade2;
  margin-bottom: 35px;
	color:#fafafa;
	font-weight: 700;
	border-radius: 8px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
	text-shadow: -1px -1px 1px rgba(0,0,0,0.15);
}
.article h2::after {
	position: absolute;
	top: 100%;
	left: 30px;
	content: '';
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top: 15px solid #24ade2;
}

.article h2.matome {
}
.article h2.matome::after {
}

.article h4 {
	position:relative;
	padding:0.25em 1.5em;
	color:#474747;
	font-weight:lighter;
border:dashed 2px #fff;
box-shadow:0 0 0 4px #dfefff;
background:-moz-linear-gradient(to right,rgb(194,234,240),#dfefff);
background:-webkit-linear-gradient(to right,rgb(194,234,240),#dfefff); background:linear-gradient(to right,rgb(194,234,240),#dfefff);
text-shadow:1px 1px 1px #fff;
}
#under-entry-body h2 ,
.article h3 {
	position:relative;
	padding:0.25em 0.25em 0.25em 1em;
	line-height: 1.4;
	border: 1px solid #ffd98a;
	color:#6cb4e4;
border:none;
border-top:solid 2px #6cb4e4;
border-bottom:solid 2px #6cb4e4;
background:-webkit-repeating-linear-gradient(-45deg,#f0f8ff,#f0f8ff 3px,#e9f4ff 3px,#e9f4ff 7px);
background:repeating-linear-gradient(-45deg,#f0f8ff,#f0f8ff 3px,#e9f4ff 3px,#e9f4ff 7px);
text-shadow:1px 1px 1px rgba(0,0,0,0.15);
}
#under-entry-body h2#reply-title:before {
	content:"\f004";  /* ハート */
	line-height: 42px;
}
.article h5 {
	position:relative;
	padding:0.25em 0 0.25em 2.5em;
  border: none;
}
.article h5::after {
	content:"";
	display: block;
	height:4px;
	margin-left:-2.5em;
background:-moz-linear-gradient(to right,rgb(160,224,240),#dfefff); background:-webkit-linear-gradient(to right,rgb(160,224,240),#dfefff); background:linear-gradient(to right,rgb(160,224,240),#dfefff);
}
h5:before,
.article h5::before {
	position: absolute;
	font-family: FontAwesome;
content:"\f00c";
color:#24ade2;
font-size:1.4em;
width:35px;
height:35px;
top:0;
left:17px;
}

.sidebar h2 ,
h3.widget-title ,
.article h6 {
  position: relative;
  /*margin-left: 3em;*/
  color:#333333;
  text-shadow:1px 1px 1px #fff;
}
.sidebar h2:before ,
h3.widget-title:before ,
.article h6:before {
position:absolute;
content:"";
border-radius:50%;
  top:10px;
  left:-8px;
  width:35px;
  height:35px;
  background: #24ade2;
  transform:translateY(-50%);
  z-index:-1;
}
.sidebar h2,
h3.widget-title {
  margin: 0 0 6px 0;
    background:transparent;
}
.sidebar h2:before,
h3.widget-title:before {
  top:30px;
  left:-3px;
  width:40px;
  height:40px;
}

#site-description{	/*** marine add ***/
	display: none;
  margin:0;
	padding:0;
	margin-left:-9999px;
}
.top-title-catchphrase {
	display: none;
}

.entry-large-thumb img {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
.entry-card-large-content {
  margin-top:10px;
}
.entry-snippet {
  margin-top:15px;
}
.size-full ,
.size-large {
	width:100%;
}

/* Table of Contents Plus による目次の設定 */
#toc_container {
	margin:40px auto 40px auto;
  border-radius: 6px;
}
.article ul.toc_list ,
.article ul.toc_list ul {
	position: relative;
	padding: 0.5em 1em 0.5em 2.3em;
	margin:2em 0;
	background:none;
	box-shadow: none;
	border: none;
	border-radius: 0;
}
.article ul.toc_list li {
	line-height: 1.5;
	padding:0.6em 0.6em 0.6em 15px;
	color:#454545;
	list-style-type: none!important;
	text-shadow: 1px 1px 1px #fff;
}
.article ul.toc_list li:before {
	content:"";
}

/* 文頭の説明文の表示設定 */
.ex-about {
	position: relative;
  width:80%;
  min-height:100px;
  padding:2px 10px;
  margin:30px auto 30px;
  padding: 5px 1em;
  border: 5px solid #ccc;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}
.ex-about::after {
	position: absolute;
	top:5px;
	left:-47px;
    content: "";
    width: 150px;
    height: 126px;
    margin: 0;
    background: url("https://im-cocoon.net/wp-content/uploads/about-mini3.png") no-repeat;
    background-size: 150px;
}
.ex-about p {
  margin-left:10px;
  text-indent:90px;
}

#site-description{	/*** marine add ***/
	display: none;
  margin:0;
	padding:0;
	margin-left:-9999px;
}

#footer a{
  color: #fff;
}
#footer a:hover{
  color: #333;
}

.font-awesome-5 h5:before,
.font-awesome-5 .article h5::before{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

.article .timeline .timeline-item::before{
	content: "";
}
