@charset "UTF-8";

/* 矢印3（矢印マスク） */

.scrolldown {
  color: var(--hvn-scroll);
  height: fit-content;
  inset: 0;
  letter-spacing: 0.05em;
  margin: auto 0 40px;
  position: absolute;
  text-align: center;
  z-index: 1;
}

.scrolldown span {
  cursor: pointer;
}

.scrolldown .arrow-wrap {
  font-size: 35px;
  left: 50%;
  line-height: 1;
  overflow: hidden;
  position: absolute;
  transform: translateX(-50%);
  top: 35px;
}

.scrolldown .arrow-clip {
  animation: flow 3s linear infinite;
  background: linear-gradient(var(--main-color) 40%, transparent 40%);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 100% 200%;
  color: transparent;

}
.scrolldown .arrow {
  color: #fff;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

@keyframes flow {
  0%   { background-position: 0 100%; }
  100% { background-position: 0 -100%; }
}